[2016-08-30 13:24] Hoverbear commented on #370
The user agent should be sufficient for `operating system, browser version` and is probably the only way to get it in-browser.

[2016-08-30 13:43] Xylakant commented on #370
passing all this information to the mail client may be difficult. information can only be passed via query string and not all mail clients accept message bodies. It's not a properly specified thing but more of an ad-hoc semi standard. If we want more structured issues we should probably have our own "report issue" form on the page. This could in the background create an issue on our private github

[2016-08-30 14:08] holgerd commented on #370
@Hoverbear Agree. I think some of those things can be looked up on the client side and for others we need to look it up in the app (eg username, loggedin status..)

[2016-08-30 14:42] lennerd commented on #54
Yes, but this is not intended. I once tried to have the new node types on Staging, but changes were not merged or completed. The database is still filled with the new node types but without any POIs, as we do not have any sync with the OSM on Staging. A db reset would remove them again.

[2016-08-31 10:35] holgerd commented on #51
We plan to omit all language-specific redirects without replacing them. This will lead to 404 for all of them.

@thermann78 @1000miles
So all which needs to be done is to redirect wheelmap.de and wheelmaps.de to wheelmap.org (let's not be smart about language switches here).

[2016-08-31 10:36] holgerd commented on #51
@thermann78 maybe you can look up what other TLDs we have (com, net??) and redirect them all to .org?

[2016-08-31 10:40] holgerd commented on #367
The URL schema in Wordpress changed and we will not have all blog posts in the new Wordpress.

That's why @Svenyo created a mapping what old ORLs should redirect to new URLs:
https://docs.google.com/spreadsheets/d/1WErOEq5nxvw1uZTGV9PJ95rz8FKx0Pue-TpMzZ8ixzc/edit

All other Blog URLs will be 404.

[2016-08-31 10:44] thermann78 commented on #51
This is how the configuration is set in cPanel before the requests are handled by Nginx-Config:

![bildschirmfoto 2016-08-31 um 12 42 12](https://cloud.githubusercontent.com/assets/15140420/18125837/9b9ea672-6f78-11e6-9cd7-59b36fb8ab6b.JPG)

[2016-08-31 10:46] thermann78 commented on #367
FYI: Our webhost (Planetary) will create redirects according to this mapping file.

[2016-08-31 10:50] Xylakant commented on #367
so we don't have to change anything regarding the redirects? just change the urls in the wheelmap app?

[2016-08-31 10:57] thermann78 commented on #367
Not sure. We consulted Planetary to create 301-redirects on our vHost for this sheet, that's all I can say.

[2016-08-31 11:05] Xylakant commented on #367
ok, so how can we be sure?

[2016-08-31 13:03] 1000miles commented on #367
@holgerd @thermann78

At the moment the redirecting concept is not so clear to us. For documentation reasons here are the paths that are currently taken.

# wheelmap.org

1. wheelmap.org > 2. [cloudflare] https://community.wheelmap.org/ > 3. [ WP ]  http://wheelmap.org/map

[code]

# wheelmap.de

1. wheelmap.de >  [nginx] > 2. http://wheelmap.org/de/ > [cloudflare] > 3. https://community.wheelmap.

[2016-08-31 13:40] Xylakant commented on #367
I shortened the redirect for wheelmap.org -> wheelmap.org/map, so it now skips the community.wheelmap.org hop. The domains are not under our control (seems to be planetary network), so that's about all we can do.

[2016-08-31 17:11] 1000miles commented on #367
@holgerd We just deployed the URL changes of PR #372 on staging that can be reviewed now.

P.S. It seems some ssl settings on news.wheelmap.org are still in -progress?
http://screencast.com/t/lUAaBzDVYNrr

=> https://news.wheelmap.org

[2016-09-01 07:09] Hoverbear opened #373 "deploy.rb changes should be reflected in staging.rb"

[2016-09-01 08:17] #373 closed

[2016-09-05 10:19] holgerd commented on #51
This is imho how it should be:

Redirect these:
http://accessforeverybody.org
https://accessforeverybody.org (this goes to an external site right now!?)
http://wheelmap.com
https://wheelmap.com
http://wheelmap.de
https://wheelmap.de
http://wheelmap.net
https://wheelmap.net

with 301 to:
https://wheelmap.org

AND

http://www.accessforeverybody.org
https://www.accessforeverybody.org (this goes to an

[2016-09-05 10:23] holgerd commented on #51
this is where this issue stands imho:

- [ ] omit language code subdomains like it.wheelmap etc
- [ ] redirect TLDs

[2016-09-06 07:31] holgerd commented on #366
@lennerd reloading helped, now it scrolls downwards as expected. Is there a better way or just a #wontfix ?

[2016-09-06 07:34] lennerd commented on #366
I would vote for #wontfix, as I think only a very few people resize the window like this. Either you have a small screen or a desktop size screen.

[2016-09-06 07:39] holgerd commented on #133
we moved to news.wheelmap and this is SSL, so I close this.

[2016-09-06 07:39] #133 closed

[2016-09-06 07:42] holgerd commented on #79
Let's not tag anything automatically.

For a start I suggest that we do not display the toilet dropdown in the webapp if the amenity type is "toilet" (as is described in the user report you cited).

[2016-09-06 08:18] schultyy commented on #295
A start would be to test the format of the URLs therefore I labelled it as easy.

For the second bullet point the whole application needs to be started so a GET request can be issued.

[2016-09-06 08:22] schultyy commented on #257
The problem here is that it probably won't be possible to create a region via the ActiveAdmin form because a region requires a `GEOMETRY` object in order to be valid. I'm not sure if it makes sense to have some text field in place where there user needs to type in some string like `POLYGON ((10 10, 110 10, 110 110, 10 110))`.

[2016-09-06 08:36] schultyy commented on #369
What should happen in case the importer does not work anymore? Shall it send and email to a specified address or shall it post something into Slack?

[2016-09-06 08:49] #314 closed

[2016-09-06 08:50] thermann78 commented on #79
But then these toilets maybe won't show up in the search for toilets.

[2016-09-06 09:24] Hoverbear commented on #351
This was addressed in #353 however we're waiting backend changes.

[2016-09-06 12:45] Svenyo commented on #367
@holgerd @1000miles
In den URLs aus der Tabelle hat sich ein Fehler eingeschlichen. Ich kann die URL im neuen News-Blog leider nicht anpassen.

Folgende zwei URLs sind betroffen / aus der RoR-App heraus "News" im Hauptmenü oben:

http://community.wheelmap.org/blog/ verlinkt im Moment auf: http://news.wheelmap.org/news
Muss stattdessen verlinken auf: http://news.wheelmap.org/#news

http://community

[2016-09-06 15:09] 1000miles commented on #367
@Svenyo Thanks for the infos. I will change the URLs now.

[2016-09-06 15:37] 1000miles commented on #367
@Svenyo & @holgerd The changes of PR #383 are live now.  :)

[2016-09-07 08:23] 1000miles commented on #329
@holgerd Can this be closed now? :)

![00000148](https://cloud.githubusercontent.com/assets/4077916/18304868/21a90cf0-74e5-11e6-97c4-131fec87761f.png)

[2016-09-07 08:47] 1000miles commented on #368
@holgerd
cc @schultyy

**Estimation to fix:**
- approx. 0.5 - 1 day

**Explanation:**
In case it's 'just' deleting the mention nodes, then it wouldn't take long but to be sure there are not a lot of other duplicates/removed nodes, then we need to put some research and tests on the sync issue.

[2016-09-07 08:54] 1000miles commented on #370
@holgerd

cc @schultyy

**Estimation to fix:**
- approx. 2,5 -3 days

**Explanation:**
- concept & discussions
- user form
- mailing alerts
- pre-filled fields
- validations
- test cases

[2016-09-07 09:13] 1000miles commented on #334
@holgerd
cc @schultyy

**Estimation to fix:**
- approx. 0.5 - 1 day (just a fix & including tests)
- approx. 2-2.5 days (fix, tag concept improvements & tests)

**Explanation:**
- research
- fix
- tests
- (concept & discussions for improvements)

In case it's just refactoring the `update_tags_job` of this file https://github.com/sozialhelden/wheelmap/blob/master/app/jobs/update_tags_job.rb), then

[2016-09-07 09:20] 1000miles commented on #369
@holgerd
cc @schultyy

**Estimation**
- as we need to put research on the OSM syncing first, the estimation of this ticket is open and will be added asap

[2016-09-07 09:47] Hoverbear commented on #370
Probably related to #349

[2016-09-07 10:13] Xylakant commented on #352
I think that's done in the feature/infra-rebuild branch

[2016-09-07 10:13] #352 closed

[2016-09-07 10:45] 1000miles commented on #365
@holgerd

cc @schultyy

**Estimation to fix**
- approx. 0,5-1 day (research, fix & tests)

**Explanation**

After a bit of research this seems to be the reason that raises the error:
[code]

which specifically involves these parts:
https://github.com/sozialhelden/wheelmap/blob/master/lib/rack_i18n_locale_switcher.rb#L11-L33
https://github.com/sozialhelden/wheelmap/blob/master/lib/rack_i18n_locale_

[2016-09-07 13:26] Xylakant commented on #326
this is unrelated to the app servers. It looks like the ssl setup for community.wordpress.org is somewhat messed up: https://community.wheelmap.org/ goes to pfandtastisch helfen.

[2016-09-07 15:58] Xylakant commented on #326
so the bug seems to be that as long as we're not using "ssl mode: full" or better the backend connection to the wordpress server is not encrypted and then the wordpress ignores the header that CF uses to indicate that the browser indeed used https and wants to redirect to https - an infinite loop.

If I enable ssl mode "full" then community.wheelmap.org delivers the wrong content. (pfandtastisch..

[2016-09-07 16:13] Svenyo commented on #326
@holgerd @thermann78 What do we need to fix this? Jonas will be running around in Rio spreading our flyers soon. :-D

[2016-09-07 16:28] Xylakant commented on #82
is there any particular reason the folder needs to be named `Baden_Württemberg/`? Naming the folder `baden_wuerttemberg` would sidestep the issue. Generally speaking the naming convention "all lowercase, no special chars" is good when working with data that crosses system boundaries.

Technical content for the interested:

The fundamental reason for this problem is that unicode allows two represen

[2016-09-07 16:48] Xylakant commented on #51
@holgerd This will be slightly tricky: In the ideal case, the domains all point to the same ip as wheelmap.org does. The IP for wheelmap.org may change at some point (it's a floating IP on the sys11 side, so it may change on short notice). However, the bare domain (wheelmap.de) cannot reference another domain, (that would be a CNAME DNS record) but needs to specify an IP address (A record). Some D

[2016-09-07 16:51] Xylakant commented on #51
I enabled "always use HTTPS" for wheelmap.org.

[2016-09-07 19:35] Xylakant commented on #51
I added a strikethrough to the domains that can't be done without a dedicated cloudflare plan or dedicated certificates at least.

[2016-09-07 20:56] Xylakant commented on #51
Taken from @1000miles list

- [ ] de.wheelmap.org (german) => currently redirects to http://wheelmap.org/map # should point to https://wheelmap.org/map
- [ ] en.wheelmap.org (english) => currently redirects to http://wheelmap.org/en/map # should point to https://wheelmap.org/map
- [ ] it.wheelmap.org (italian) => currently redirects to http://wheelmap.org/it/map # should point to https://wheelmap.

[2016-09-07 21:06] Xylakant commented on #51
country specific subdomains are done. please report all weirdness to me.

[2016-09-07 21:27] Xylakant commented on #369
we do have monitoring in the sense that we do paint pretty graphs in munin but nobody looks at them. There's no alerting.

[2016-09-07 21:27] Xylakant commented on #369
we currently don't have any alerting except on total failure

[2016-09-08 06:33] Xylakant opened #385 "404 page requires assets from community.wheelmap.org"
The 404 page for wheelmap (https://wheelmap.org/notthere) takes the design and the assets from community.wheelmap.org. The app-specific 404 page should probably have the design from the app and should be as self-contained as possible

[2016-09-08 06:36] Xylakant opened #386 "reduce number of asset server names"
currently we have 4 asset server names that all point to the same origin (asset0 - asset3). While this enables parallel loading with more connections, the drawback is that it reduces cacheability. Also with http2/spdy these advantages shrink or even turn into disadvantages. We should reduce the number of servers we use, probably to 1.

- [ ] change rails app to use only asset0.wheelmap.org
- [ ] r

[2016-09-08 08:13] Xylakant opened #387 "blog.wheelmap.org still redirects to community.wheelmap.org"
The blog.wheelmap.org subdomain currently redirects to community.wheelmap.org. However, some code still refers to blog.wheelmap.org - see #326

[2016-09-08 08:18] Xylakant commented on #368
The sync is a delta update, so if we lost some delta at some point it will be hard to identify what we're missing. A full import of the POIs likely would fix the problem.

[2016-09-08 08:45] 1000miles commented on #326
I did some tests today (2016, sept 8) and that is what I experience from my side:

**mac desktop**
- when i call `bit.ly/wheelmAPP` in the browser, i get redirected to `https://community.wheelmap.org/about/#smartphones`

**android**
- when i call `bit.ly/wheelmAPP` in the browser, i get redirected to `play.google.com` (google play store) to install the app on my android
- when i call `community.wh

[2016-09-08 08:51] holgerd opened #388 "API returns 500 on IS24 integration"
sebastian From IS24 just came by and told me that the Wheelmap Integration on all their Exposé page is returning an 500 error since yesterday 6:30pm. No Wheelmap places are shown anymore. Example (scroll down to and click wheelmap on the map): https://www.immobilienscout24.de/expose/90136266

[2016-09-08 08:55] Hoverbear commented on #388
No errors in console either:

![screen shot 2016-09-08 at 10 54 22](https://cloud.githubusercontent.com/assets/130903/18343209/afdf86a2-75b2-11e6-8d04-3d5a80e13cef.png)

[2016-09-08 08:56] 1000miles commented on #387
My tests as of today (2016, sept 8):

**android browser**
- when i call `blog.wheelmap.org`, i get redirected to `https://wheelmap.org/map`

**mac desktop**
- when i call `blog.wheelmap.org`, i get redirected to `https://wheelmap.org/map`

[2016-09-08 09:08] Xylakant commented on #388
We'd need some info regarding the endpoint being called, the error returned from the wheelmap api (if any), the ip address from which the requests are sent so that we have a chance to find something in the logs.

[2016-09-08 09:10] holgerd commented on #388
Sebastian: If this is confidential, jsut email this info to me and we'll move to a private issue tracker.

[2016-09-08 09:17] holgerd opened #389 "https://wheelmap...-Links redirect to homepage instead of detail page"
- On the IS24 map of https://www.immobilienscout24.de/expose/90136266 I click on a optician "Wilhelm" in Ulm, the URL is https://www.wheelmap.org/nodes/1477243434 .
- I expect to get to https://wheelmap.org/nodes/1477243434 .
- Instead, I get to https://wheelmap.org/map#/?toilet=yes.unknown&zoom=15

[2016-09-08 09:22] Hoverbear commented on #389
I was not able to replicate this issue. I was directed to `http://wheelmap.org/nodes/1477243434` after clicking the Optiker.

[2016-09-08 09:23] holgerd commented on #389
I have the issue when using Chrome.

In Firefox it works but I get a warning:
![dieser_ort_ist_auf_wheelmap_org__wilhelm__optiker__einkaufen__ulm](https://cloud.githubusercontent.com/assets/218506/18344227/b0054334-75b6-11e6-826f-b4238bbbe3bc.png)

[2016-09-08 09:24] Xylakant commented on #389
as per #51 the canonical url should be https://wheelmap.org/nodes/1477243434 and not  https://www.wheelmap.org/nodes/1477243434 (no www). I added a specific rule to redirect www. in CF

@holgerd that warning is unrelated. there are some logo urls that use plain http and trigger a mixed content warning when using https.

[2016-09-08 09:24] #389 closed

[2016-09-08 09:27] Hoverbear commented on #389
(Mixed content warnings are very common on most sites, it's nothing to be concerned about for now)

[2016-09-08 09:33] Xylakant commented on #326
well, if it's fixed, let's close it.

[2016-09-08 09:33] #326 closed

[2016-09-08 09:36] Xylakant opened #390 "decommission community.wheelmap.org"
We need to ensure that we're not getting any requests there and/or redirect anything that still relies on community.wheelmap.org

This is a ticket that collects all known parts that rely on the community page

- [ ] 404 page on wheelmap app relies on assets from community.wheelmap.org (#385)
- [ ] QR codes on stickers rely on community.wheelmap.org/smartphone.php (see #326)

[2016-09-08 09:37] SebastianStiehl commented on #388
Since 11:10 we cant reproduce the errors. Did you change something on your site? To be save and secured we are now changing the api calls to https.

[2016-09-08 09:37] Xylakant commented on #388
we disabled the redirect to https, but we'd like to enable it again.

[2016-09-08 10:21] holgerd opened #392 "Add toilet tags to admin backend"
Im Backend kann man die Toilettenmarkierungen nicht sehen. Hier wäre eine Anzeige zu jedem POI wünschenswert (und damit auch die Filtermöglichkeit nach Regions, User etc.) Wir haben im Moment keinen Überblick.

[2016-09-08 13:01] SebastianStiehl commented on #388
we are now live with https and it seems to work. @holgerd from my point of view this issue can be closed.

[2016-09-08 13:03] Xylakant commented on #388
let me first re-enable the redirect and see if it works.

[2016-09-08 13:27] Xylakant commented on #388
seems to work perfectly fine

[2016-09-08 13:27] #388 closed

[2016-09-08 14:08] Xylakant commented on #387
yes, because the root of community.wheelmap.org redirects to https://wheelmap.org/map. blog.wheelmap.org still redirects to community.wheelmap.org:

[code]

[2016-09-08 19:06] Xylakant commented on #65
we're not using monit any more in the new infrastructure, so this is obsolete

[2016-09-08 19:06] #65 closed

[2016-09-08 19:07] Xylakant commented on #351
done and merged to the main infra-rebuild branch

[2016-09-08 19:07] #351 closed

[2016-09-08 19:09] #135 closed

[2016-09-09 09:36] 1000miles commented on #368
@holgerd

We discussed this internally and came to the conclusion that a **full import** is not something we can do `on the go` because it takes approx. 2-3 days (at least according to the docs). Before being able to do this, we need a sophisticated plan which also considers a page that says "sorry, we are down for maintenance!"

**conclusion:**
For now we will only delete these nodes manually on

[2016-09-09 10:54] holgerd opened #393 "Delete account on staging leads to 502 error without confirmation question"
- I'm logged in as holger@mailinator.com on https://staging.wheelmap.org/en/profile/edit and click "Delete account".
- I expect a javascript confirm question ("danger, this is irreversible" or something) and then the message that my account has been deleted or is qued for deletion.
- Instead, I do not get a javascript confirm and after some sceonds I see a 502 error from cloudflare:

"
Error 502 R

[2016-09-09 11:36] holgerd opened #395 "redirect Terms & Privacy URL currently used in iOS app 3.0.2"
In the iOS app Version 3.0.2 (build 201) two "old" links still exist:

1. http://blog.wheelmap.org/was-ist-wheelmap/terms/
- This currently redirects to https://community.wheelmap.org/impressum/nutzungsbedingungen/
- But it should redirect to https://news.wheelmap.org/nutzungsbedingungen/

2. blog.wheelmap.org/was-ist-wheelmap/privacy/
- This currently redirects to https://community.wheelmap.org/e

[2016-09-09 11:36] holgerd commented on #395
cc @Svenyo

[2016-09-09 11:50] Xylakant commented on #395
shouldn't those links be fixed in the iphone app?

[2016-09-09 14:52] Xylakant commented on #339
@holgerd I guess we'll make that "won't fix" since no reply was received.

[2016-09-09 14:52] Xylakant commented on #201
ok, since we now enforce SSL for prod as well, this should be fixed

[2016-09-09 14:52] #201 closed

[2016-09-09 19:55] holgerd commented on #395
yes they will. But we need redirects as well for those using the current app version.

[2016-09-12 08:36] holgerd opened #396 "Hauptmenüpunkt "Projekte" umbenennen in "Mitmachen""
@Svenyo kannst Du das Wording bestätigen und den Englischen Begriff?

[2016-09-12 09:14] 1000miles commented on #369
@Xylakant suggested to trigger librato or new relic for email alerts for which we need to define the criteria first.

[2016-09-12 11:16] 1000miles commented on #367
As this ticket involves several people and areas (backend, frontend, wordpress) we want to make sure that everyone is on the same page, means everyone know what the next step is.

@holgerd Can you please go over this ticket and let us know if there is anything else that needs to be done for the backend part? From our point of view we are done here.

From our backend point this is done:

- [x] lang

[2016-09-12 11:19] holgerd commented on #326
For documentation:
We could reproduce this "too many redirects" behavior only in the iOS App https://itunes.apple.com/de/app/qr-reader-for-iphone/id368494609?mt=8 . It worked in the App RedLaser for example.

Anyways, I will change the bitly link to directly go to the new php file (waiting for Andi for the bitly login)

[2016-09-12 11:24] Xylakant commented on #326
it was reproducible for all clients before. The smartphone.php tries to match on the user agent, maybe the app sends an unexpected one.

in any case: I think it would be best to move the code in the smartphone.php to the rails app. That's much easier to handle an one level of indirection less.

[2016-09-12 11:38] 1000miles commented on #326
We will create a follow up ticket for this to keep this ticket closed.

[2016-09-12 11:44] 1000miles opened #397 "[Improvement] Move smartphone redirect rules to rails app"
This ticket is a follow up for https://github.com/sozialhelden/wheelmap/issues/326

In ticket #326 @Xylakant suggested to move the content of `smartphone.php` to the rails app so that we will have a better control over it in the backend.

Xylakant wrote:

[2016-09-13 15:01] holgerd opened #398 "Add Premium provider info to Wheelmap API (for use in mobile apps)"
premium POI info should also show up in the iOS and Android apps. The app developers are missing this info in the Wheelmap API, this needs to be added.

=====
Im Wheelmap-Backend können wir Orte als "Premium-Orte" markieren, die dann mit Infos von einer Nicht-OSM-Quelle angereichert werden (wir nennen das "Premium-Provider"):

- eigenes Icon 44x44 Pixel
Name des Providers (z.B. "Allianz" oder "Sti

[2016-09-13 15:03] holgerd commented on #398
for my reference: https://smartmobilefactory.atlassian.net/browse/WHEELMAP-267

[2016-09-14 13:58] schultyy commented on #334
I openend a PR for the problem that wheelchair and toilet status couldn't be updated at the same time.

Concerning the wrong wheelchair toilet tag name: I would like to move that into a new issue since that's not directly related to the issue's topic. WDYT?

[2016-09-15 09:28] schultyy opened #400 "Wrong toilet tag in changeset"
This issue is extracted from #334

Quoting @Svenyo:

![bildschirmfoto changeset](https://cloud.githubusercontent.com/assets/20318534/17518420/1e97c8f2-5e48-11e6-9f8f-d47664a16448.png)

[2016-09-15 09:29] schultyy commented on #334
Regarding the wrong toilet tag in changeset: I opened a follow up ticket here: https://github.com/sozialhelden/wheelmap/issues/400

[2016-09-15 10:11] holgerd opened #401 "Make sure indoor views are disabled in streetview"
- I go to https://wheelmap.org/nodes/4398847391
- I expect to see the streetview of Zimmerstraße 26
- Instead, I see an indoor 360° view of a haircutter.

We never want 360° photos on wheelmap detail pages. @lennerd noted that in his opinion we already changed the embed code to work that way. This needs to be reviewed again.

[2016-09-15 12:08] 1000miles commented on #396
**Wording changes in the menu**
- [ ] Projekte --> Mitmachen
- [ ] Menu "Projects" --> "Get involved"

   => @Svenyo as far as we understood the changes need to be done on transifex first (resource files) before we can pull the changes for the navigation to the rails app. can you please check?  :)

----
Additionally to this task we will change following hardcoded URLs in the rails app as requested

[2016-09-15 13:12] Svenyo commented on #396
Hej @1000miles,
the main menu is not part of the language files in transifex. It has always only existed in German and English and no other languages. Please change directly.

[2016-09-15 13:22] 1000miles commented on #368
@Svenyo & @holgerd

Following pois have been removed from the database as of today:
- http://wheelmap.org/nodes/-430417027
- http://wheelmap.org/nodes/-430407303
- http://wheelmap.org/nodes/-430406408

[2016-09-15 13:22] #368 closed

[2016-09-15 13:30] 1000miles commented on #398
Task:
- [ ] estimation how long this ticket will take

[2016-09-15 13:50] 1000miles commented on #365
@holgerd

This issue is fixed now. :)

Please go to admin dashboard on production and check:
- /admin/providers/new
- /admin/provided_pois

[2016-09-16 14:08] schultyy commented on #369
From Holger:

[2016-09-16 14:18] Xylakant commented on #369
There's no need to rely on hunches: the sozialhelden team has access to the munin graphs that display the current lag. sadly, the chef manifest that adds accounts is broken and so I'd have to add everyone manually :( I'll add an image of the last 7 days:

![osm_replication_lag-week](https://cloud.githubusercontent.com/assets/337823/18589061/3f5187c8-7c29-11e6-9498-e630cf6011d3.png)

[2016-09-19 08:03] lennerd commented on #361
@1000miles @schultyy @Hoverbear Not sure but maybe related to the email service problem not sending mails correctly? Anything in the logs?

[2016-09-19 08:17] 1000miles commented on #334
@holgerd @Svenyo
The changes from PR #399 have been deployed on staging and production on thursday, 2016, sept 15.

**Now the current flow is for example:**

- node at the beginning:
  - wheelchair = unknown
  - toilet = unknown

- if i change
  - wheelchair to `orange` & click on `save` button
  - toilet to `green` & click on `save` button

- i get:
  - wheelchair = `orange` after a few seconds

[2016-09-19 12:36] holgerd commented on #369
so 7000 seconds = ca 2h lag, correct?

[2016-09-19 12:49] Xylakant commented on #369
about 2h, yes. I'd add a little safety margin since the lag depends on the amount of activity on the OSM, but anything longer than 6 hours or so would be an indicator of a major problem.

[2016-09-19 13:11] Hoverbear commented on #369
The chef `users` module bug is fixed in `4.0.0` and up. :)

[2016-09-19 16:06] #366 closed

[2016-09-19 16:16] lennerd opened #403 "Redesign application header to fit to blog"
I started to redesign the application header based on the layout of the new blog theme. Here are some results of the first iteration.

![desktop-accessibility-dropdown](https://cloud.githubusercontent.com/assets/1609692/18639377/f66ca854-7e93-11e6-9a92-562a9e9d5401.png)
*The classical dropdown. No feature changes here.*

![desktop-category-dropdown](https://cloud.githubusercontent.com/assets/16096

[2016-09-19 18:32] holgerd commented on #403
@lennerd It looks great imho but also like a lot of work. Any chance you can finish this this month? If not, can you break it down and finish a little bit of this this month?

[2016-09-20 07:16] Hoverbear commented on #403
I agree it looks very good. :) Only thing I noticed was on the news site the logo is a bit smaller.

[2016-09-20 07:36] lennerd commented on #403
Thanks for the feedback. I'm able to come back to this on Friday.

@holgerd Good point I also had in mind all the time. Reason why I did so much changes was that I didn't want to design a half backed layout but see what is possible and how it would fit together. And I also fixed some things on the way I was annoyed by for a longer time now. These changes are not necessary for a first version (e.g.

[2016-09-20 12:19] holgerd commented on #367
lgtm! :) :bow:

[2016-09-20 12:19] #367 closed

[2016-09-20 12:25] holgerd commented on #365
lgtm!

[2016-09-20 12:25] #365 closed

[2016-09-20 12:53] holgerd commented on #334
LGTM. 👍

@1000miles  It now works in the iOS app as well, is that possible?

[2016-09-20 12:53] #334 closed

[2016-09-21 08:27] schultyy commented on #369
So to sum this up what we discussed over the last couple of days:
- Monitoring takes action when the replication lag gets bigger than 7000 seconds
- It will send an email to a predefined address informing about the lag

[2016-09-21 08:27] 1000miles commented on #396
@Svenyo

If we change the translation for the key `projects` in the [EN relaunch.yml](https://github.com/sozialhelden/wheelmap/blob/02412ab4465790ed6ab1c63171561e0013c6aab9/config/locales/en/relaunch.yml#L32)

![00000158](https://cloud.githubusercontent.com/assets/4077916/18703046/959d99f0-7fe4-11e6-8f97-49ae9a62e47c.png)

The change will be visible in the header:

![00000157](https://cloud.github

[2016-09-21 08:43] Svenyo commented on #396
Ok, I found the corresponding text string in relaunch.yml on transifex.
We will include it in the next language update. I'll try to finalize the translations till friday.

@1000miles @holgerd

[2016-09-21 11:08] holgerd opened #404 "500 error when changing category of node_type"
- I'm logged in as admin on https://wheelmap.org/admin/node_types/41/edit . I change the category of museum from "education" to "tourism" and click save
- I expect to see a success message
- Instead, I see "something went wrong" and the url is https://wheelmap.org/admin/node_types/41

[2016-09-22 09:20] holgerd opened #406 "Facebook "like" button should like our facebook page, not the URL"
- I'm on https://wheelmap.org/map and click the "like" button in the footer
- I expect to like https://www.facebook.com/wheelmap/
- Instead, I like the current URL https://wheelmap.org/map .

[2016-09-23 09:36] 1000miles commented on #404
Thanks for reporting this, @holgerd! :)

After a short research it throws same error as mentioned in #365
`ActiveModel::ForbiddenAttributesError (ActiveModel::ForbiddenAttributesError)`

We will make sure to check all pages on the admin dashboard to fix this issue. Thanks for your patience.

[2016-09-26 07:58] holgerd opened #407 "nodes/new page empty"
- I'm using Chrome and am logged and got to "add a place". I see the form and click the back button in the browser and then the forward button.
- I expect to see the form again
- Instead, I see the wheelmap header but nothing else

Screenshot by the user:
![addaplace](https://cloud.githubusercontent.com/assets/218506/18826780/75261686-83cf-11e6-8a20-a910798800ee.png)

This also suggests a SSL prob

[2016-09-26 07:59] holgerd commented on #407
my screenshot:
![wheelmap_-_find_wheelchair_accessible_places](https://cloud.githubusercontent.com/assets/218506/18826866/e753b7fe-83cf-11e6-981a-981e92f65742.png)

[2016-09-26 08:29] lennerd commented on #407
I see the form but with multiple layout errors:

![screenshot 2016-09-26 10 25 16](https://cloud.githubusercontent.com/assets/1609692/18827556/b6f40b00-83d3-11e6-9a69-fcf829db3dba.png)

I also don't see any errors about not secured assets. Can you please open the log, reload the page and make a screenshot of the console tap. (Alt + Cmd + I)

[2016-09-26 10:05] lennerd opened #408 ""Zoom into map" broken on Chrome for Windows"
Chrome 53.0.2785.116, Windows 64-bit:

![wheelmap_screenshot](https://cloud.githubusercontent.com/assets/1609692/18830536/5e92959a-83e1-11e6-963b-36e586584fb6.PNG)

On Mac I cannot reproduce the error. It's also strange, that the buttons on the map looks so different to the ones I see on my machine:

<img width="319" alt="screenshot 2016-09-26 12 05 21" src="https://cloud.githubusercontent.com/ass

[2016-09-26 10:09] Hoverbear commented on #408
Confirming it works on Mac with Chrome, FF, and Safari.

[2016-09-26 11:56] Xylakant commented on #395
ok, so the best would be to redirect these urls at the cloudflare level, but we've run out of page rules. so either we save some page rules (see for example #386) or we buy some more.

The alternative would be to redirect at the webserver level, which is less efficient. This would require four changes:

* [ ] redirect http://blog.wheelmap.org/was-ist-wheelmap/terms/ to  https://news.wheelmap.org/n

[2016-09-26 12:15] lennerd commented on #407
Did a little bit research on @holgerd machine. The developer tools show no errors and the React app root is rendered correctly. No further DOM is created though. Very strange … 🤔

[2016-09-26 12:55] holgerd opened #410 "Can not add nodes in iOS or Android app"
- I'm logged in as "holgerd" in iOS app 3.0.2 and add a new node.
- I expect the change to show up on  https://www.openstreetmap.org/user/holgerd/history within minutes.
- Instead, nothing shows up. But when I add a node using the webapp this changeset shows up.

[2016-09-26 12:58] holgerd commented on #410
![server_metrics___librato](https://cloud.githubusercontent.com/assets/218506/18835042/82f807ea-83f9-11e6-8671-dfddec04f612.png)

https://metrics.librato.com/share/dashboards/y5pi2ryo?duration=2419200

It seems there were no new nodes added with the iOS or Android app since Sept 9th.

[2016-09-26 13:00] holgerd commented on #410
@thermann78 just successfully added this new node using the live iOS app
https://www.openstreetmap.org/node/2926670705

[2016-09-26 13:05] Xylakant commented on #410
The date lines up fairly well with the switch to SSL. The last items were added roughly in the timeframe where SSL was disabled due to https://github.com/sozialhelden/wheelmap/issues/388 (Theres a bit of a time shift, which may be due to TZ errors)

[2016-09-26 13:05] holgerd commented on #410
Although it seemed to work for @thermann78 it still does not work on my iphone.

[2016-09-26 13:21] schultyy commented on #370
@holgerd Does the wheelmap have the information `OSM-URL of user page`? I can't find anything right now.

[2016-09-26 13:22] Xylakant commented on #410
closing in favor of the app-specific tickets

[2016-09-26 13:22] #410 closed

[2016-09-26 13:23] thermann78 commented on #410
Wait, I just marked it, I didn't add the place.

[2016-09-26 13:23] Xylakant commented on #410
ok, marking was known to work before.

[2016-09-26 13:41] holgerd commented on #395
Yes we need this.

@100miles can you do this?

[2016-09-26 14:07] 100Miles commented on #395
yep

[2016-09-26 14:17] Hoverbear commented on #395
Oh hi, @100miles =D

[2016-09-26 15:19] schultyy opened #411 "Wrong Url redirects"
When I try to access `https://staging.wheelmap.org/community_support/new` I get redirected to `https://community.wheelmap.org/en/new-android-app-wheelmap/`.

Other Urls I tried:
- https://staging.wheelmap.org/bugreport/new
- https://staging.wheelmap.org/community_bugreport/new
- https://staging.wheelmap.org/community/new

This blocks #370 right now

[2016-09-26 15:48] Xylakant commented on #411
The trigger seems to be new:

https://staging.wheelmap.org/community/new fails https://staging.wheelmap.org/community works.

[2016-09-26 15:56] Xylakant commented on #395
@holgerd do what? There are two alternatives on the table. The second alternative actually requires the wordpress team to do some of the changes.

[2016-09-26 15:59] Xylakant commented on #411
I can explain the behavior: URLs that get handled by the wheelmap app are whitelisted, everything that is not on the list gets proxied to community.wheelmap.org for historic reason (*). Anything ending in /new triggers wordpress' helpful "I'll guess what you meant even though you never asked me to" feature which picks the first article starting with "new" and redirects there.

So the quick fix is

[2016-09-27 07:35] holgerd commented on #370
@schultyy If we have the OSM username the page of interest is www.openstreetmap.org/user/USERNAME/history eg. www.openstreetmap.org/user/holgerd/history

[2016-09-27 07:38] holgerd commented on #370
Let me know if/when I can test this and what the URL will be.

[2016-09-29 10:43] holgerd commented on #407
For now I asked the reporting user to try to reload or use a different browser.

[2016-09-29 10:43] #407 closed

[2016-10-04 09:02] schultyy commented on #411
I understand. I'll go ahead and whitelist our new url then.

[2016-10-04 09:58] schultyy commented on #370
@holger: We also need a new translation for the "Report bug" menu entry:
![screen shot 2016-10-04 at 11 56 53](https://cloud.githubusercontent.com/assets/235808/19070043/be160d82-8a29-11e6-9851-eaf36300000f.png)

Right now it always says "report bug" whatever language is selected.

[2016-10-04 12:20] schultyy opened #413 "Enhance nodes API to accept measurements generated by Project Tango"
As requested by SMF, the nodes API should be enhanced in a way so measurements can be stored for each node.

Pasting the proposal from SMF here:

[code]

A measurement consists for an image (Messungsbild) and meta data such as:
- width (in meters)
- height (in meters)
- angle (in degrees)
- space (in m^2)

[2016-10-04 13:22] 1000miles opened #414 "[Active_Admin]: `Regions` get `ActionView::Template::Error` (Internal 500 Error)"
User story:

- I log into the admin dashboard on wheelmap.org
- I am on the regions page `/admin/regions`
- I click on the `edit` link of the region `wilhelmshaven`  which redirects me to `/admin/regions/wilhelmshaven/edit`

- I suddenly get the message:

[code]

This time the error output on the server is:
[code]

[2016-10-04 13:35] 1000miles opened #415 "[Active_Admin]: Cannot commit a photo => WARNING: Can't mass-assign protected"
User story:
- I am logged into the admin dashboard on wheelmap.org
- I go to `/admin/photos`
- I click on the button `Photo erstellen`
- On `/admin/photos/new` I fill in the fields and click on `Photo anlegen` to submit my image
- I can not submit the photo because the form tries to validate the fields `Poi` and `User` with the error message `muss ausgefüllt werden` even though I have already sele

[2016-10-04 14:05] 1000miles commented on #404
@holgerd

cc @schultyy

So we have checked all pages on the active_admin dashboard of the production server and here are the results:

- `/admin/providers` => ERROR: `ActiveModel::ForbiddenAttributesError (ActiveModel::ForbiddenAttributesError)`  => Fixed in PR https://github.com/sozialhelden/wheelmap/pull/394
- `/admin/provided_pois` => ERROR: `ActiveModel::ForbiddenAttributesError (ActiveModel::

[2016-10-04 16:00] schultyy commented on #413
After phone calls with Raphael Heber, Tim Freiheit and Holger Dietrich the following was agreed upon:

The first version if this feature will include the following:

- Two new API endpoints which will allow creating new measurement records (details below)
- Measurement photos for a node will be returned together with the other regular photos for that node.

It will not be possible to fetch meta in

[2016-10-05 05:58] holgerd commented on #344
Maybe we should not do this at all since it will change the content  of most of our URLs.

Today I see live:

- https://wheelmap.org/en/nodes/1296421604 --> 200 OK
- https://wheelmap.org/de/nodes/1296421604 --> 302 REDIRECT to https://wheelmap.org/nodes/1296421604

What we could do:

## Option 1: do not change, keep German
(Maybe just 302 to 301 because it is a permanent redirect.)

## Option 2: a

[2016-10-05 07:11] holgerd commented on #344
The goal of this issue was to prevent German text from showing up on non-German pages. Now we are discussing URLs etc.

Maybe we can solve this issue simply by making sure we have all translation strings in Transifex and then have everything translated.

[2016-10-05 07:14] Xylakant commented on #51
@holgerd are you certain you want to mark this as done? according to https://github.com/sozialhelden/wheelmap/issues/51#issuecomment-244712636 there's still work left to do (though all of it something we can't do)

[2016-10-05 07:18] holgerd commented on #370
@1000miles : Regarding the design of https://staging.wheelmap.org/en/community_support/new :
can you change it to this http://wheelmap.org/en/nodes/new/name_category ?

[2016-10-05 07:55] Svenyo commented on #344
Hi Holger, to have all strings translated for 22 languages will hardly ever be the case. If we make this a condition the we would constantly block ourselves from launching new features.

[2016-10-05 08:00] thermann78 commented on #51
@holgerd I agree with @Xylakant - the initial problem isn't solved at all, just have a click on http://wheelmap.de...

[2016-10-05 10:55] Svenyo commented on #54
@1000miles cc @holgerd The translations are now ready, meaning: most important languages are up to date with 100%:
These are: English (source), German, Russian, French, Spanish, Japanese, Chinese (Taiwan), Swedish. Most other languages have been updated as well, even if they are not ready in the full 100%. Still: please make a full update of all active languages when you implement the node types.

[2016-10-05 10:58] Svenyo commented on #396
@1000miles cc @holgerd The string in the navigation has been changed into "Get involved" and "Mitmachen" and is now available in the updated language file in Transifex.

[2016-10-05 11:32] 1000miles commented on #344
@holgerd

cc @Svenyo

Thanks for your inputs. Is there a final decision here? If not and you need technical support from us, please let us know. We can not progress here until a decision is made. Merci. :)

[2016-10-05 12:40] holgerd commented on #398
cross posted from basecamp:

here is our estimation as discussed: To be done: • study API & research  • extend POI json representation with premium providers in api • tests To clarify: • where: node detail page / nodes index page • json schema with SMF Total: approx. 2 days

[2016-10-05 13:40] holgerd commented on #370
translations here:
https://docs.google.com/spreadsheets/d/1EcLsWR_nud3hee0t2zDCWxKbqyLHlFOCirM1_6ZsGiI/edit?usp=sharing

Only one string seems to be cpmpletely new: "Abschicken"

[2016-10-05 13:59] 1000miles opened #417 "[Translations] Fetch translations from Transifex (#54 & #396)"
Fetch the latest translations for following issues:
- Hauptmenüpunkt "Projekte" umbenennen in "Mitmachen" #396
- Add/Update place types (key/value-pairs) = categories #54

[2016-10-05 15:30] 1000miles commented on #54
@holgerd Since this ticket has been created on  4 Nov 2015, I am not so sure about the exact left task here, for example some categories might have been added meanwhile?

Questions:
- As far as I understand my current task finally is to fetch the latest transifex translations for categories and to introduce them into the wheelmap app, is that correct?
- If not, can you please update the initial ta

[2016-10-06 07:47] Hoverbear opened #419 "Cannot copy the API key in Firefox"
In Firefox 49.0.1 and 50.0a2 you cannot copy the API key from the input box provided.

The input has `disabled=disabled` which prevents this.

![screen shot 2016-10-06 at 09 44 24](https://cloud.githubusercontent.com/assets/130903/19144408/a87beae2-8ba9-11e6-901b-bdde037e1a67.png)

Leaving `readonly=readonly` maintains the box not being editable but still copyable.

This prevents users from easily

[2016-10-06 08:29] schultyy opened #420 "rspec tests depend on each other"
When I run `bundle exec rake spec` with the following `.rspec` configuration file on master:

[code]
all tests are green.
If they're executed in random order, some of them fail. This needs to be fixed.

They fail with the following `.rspec` configuration file:

[code]

[2016-10-06 10:55] holgerd commented on #344
@1000miles @lennerd @Hoverbear
I took half an hour together with @Svenyo to understand this issue better.

Our understanding is now:

- the main problem is that German text shows up on non-German pages, see https://github.com/sozialhelden/wheelmap/issues/344#issuecomment-236537027
- The solution suggested by @lennerd was to have English text on non-German and non-English pages by default, leading

[2016-10-06 11:01] holgerd commented on #54
I removed the tasks which are not directly related to this:

- ~~[ ] Suggest a technical solution to show place types which consist of a combination of OSM-tags. Example: *parking=yes AND capacity:disabled=yes*~~
- ~~[ ] Add building=university and treat it like the existing amenity=university~~

[2016-10-06 11:05] holgerd commented on #54
@1000miles
The goal is that the new categories shall be usable in Wheelmap.

As far as I understand this requires translations and icons, both are missing now on [staging.wheelmap.org/node_types](https://staging.wheelmap.org/node_types).

We prepared translations (in Transifex) and icon-URLs (in the [Google Spreadsheet](https://docs.google.com/spreadsheets/d/12yuBoD8HNaC0sMH3JgLQlImz8NOMcaYgY0kRQp

[2016-10-06 11:12] holgerd commented on #54
@1000miles Also, I think the OSM-import and export will be affected when we introduce new categories.

[2016-10-06 11:26] #419 closed

[2016-10-06 12:00] Hoverbear opened #422 "API Tokens cannot be reset"
Currently API tokens cannot be regenerated. Pressing the reset button results in the same API token.

[2016-10-07 07:24] Hoverbear opened #424 "Migrate non-critical things from `public/`"
Currently many random files are served from `public/`. Some have a clear purpose and are obviously of importance, others are less so.

As part of our infra-rebuild we'd like to minimize/clean out this folder.

You can review the current contents [here](https://github.com/sozialhelden/wheelmap/tree/master/public).

This issue will be updated with plans for each item.

[2016-10-07 08:09] holgerd commented on #424
regarding `google$BLAHBLAHBLAH.html`

I think this can be deleted, was probably used for domain verification when registering for a google account:

source: https://support.google.com/a/answer/63026?hl=en

[2016-10-07 08:15] holgerd opened #425 "drop the stupid proxy rule"

[2016-10-07 08:15] timfreiheit commented on #413
the width and height should have the type float/double

[2016-10-07 08:16] Xylakant commented on #425
hm?

[2016-10-07 08:23] holgerd opened #426 "All htaccess redirects via wordpress server end up on /map"
Dennis from our wordpress hoster added htaccess rules to redirect some URLs ([see list as google spreadsheet](https://docs.google.com/spreadsheets/d/1WErOEq5nxvw1uZTGV9PJ95rz8FKx0Pue-TpMzZ8ixzc/edit#gid=1744012510)) (due to structural changes in our blog).

Example:
http://community.wheelmap.org/impressum/nutzungsbedingungen/ shall redirect to http://news.wheelmap.org/nutzungsbedingungen/

He said

[2016-10-07 08:24] holgerd commented on #426
@Svenyo fyi since you are in touch with Dennis.

[2016-10-07 08:25] Xylakant commented on #426
no, that's not related to that. the rule is that anything that is not explicitly mapped to the rails app gets proxied through to community.wheelmap.org. so it can't end up on /map

[2016-10-07 08:27] Xylakant commented on #426
well, the bug is that community.wheelmap.org redirects straight to https://wheelmap.org/map:

[code]

[2016-10-07 08:31] Xylakant commented on #426
did anybody touch the cloudflare rules? There are rules missing that relate to community.wheelmap.org

[2016-10-07 08:32] Hoverbear commented on #426
@Xylakant Might be related to https://sozialhelden.slack.com/archives/wheelmap/p1475749888000041 ?

[2016-10-07 08:34] holgerd commented on #426
@Hoverbear this bug is about a week old (forgot to mention that), so the recent changes made by @thermann78 yesterday are not the cause.

[2016-10-07 08:36] Xylakant commented on #426
@holgerd but the rules that @thermann78 refers to used to relate to community IIRC. There were never any page rules for news except the one I created (and which still exists)

[2016-10-07 08:52] Xylakant commented on #426
i recreated the relevant rules, things are working fine now. some cache-related weirdness is still to be expected as long as your browser still has the cached redirects. please test in a browser that you haven't used before to test this.

[2016-10-07 08:52] #426 closed

[2016-10-07 09:09] holgerd commented on #425
duplicate to #426

[2016-10-07 09:09] #425 closed

[2016-10-07 12:08] holgerd commented on #397
Just as a note:
I can confirm we are capable to change the destination of the bitly link bit.ly/wheelmAPP .

So we can change the ....smartphone.php-URL without needing to reprint all our flyers. :)

[2016-10-07 12:26] holgerd commented on #51
You are correct, I missed that. I emailed Planetary who is hosting the TLDs for help on this.

[2016-10-07 13:45] holgerd commented on #148
On August 28, 2016 I got the exact same bug report again (via Jonas) so I reopen this issue:

[2016-10-07 15:45] schultyy commented on #413
With #428 being merged the only thing left to do is storing the metadata per picture. This will probably will happen via a metadata table where each row will be associated with one picture from the `photos` table.

[2016-10-10 12:00] #422 closed

[2016-10-10 12:03] 1000miles commented on #413
**Update, 2016, Oct 10:**

@holgerd

cc @RaphaelHeber

The PR "Store measurement photos" #428 has been merged and deployed on staging today.
Happy to get image examples to test the feature properly at our end or feedback after you have tested it. Merci.

[2016-10-10 12:13] 1000miles commented on #54
@holgerd

Thank you for your clean up and task update. Now it is clear. Alright, then I will go ahead with this ticket.

P.S. We discussed it internally here and came to the conclusion that we should introduce the new categories *before* the new production env is going online, this way we can see in advance if and what breaks with the new categories.

[2016-10-10 14:42] 1000miles opened #429 "Warning: Failed propType in `Photon` & `WidgetBuilder`"
Currently our test outputs on Travis contain a few warnings.

To not lose this warning, we extracted this warning as a separate ticket.
[code]

Example Build:
https://travis-ci.org/sozialhelden/wheelmap/builds/157822697

[2016-10-10 16:40] 1000miles opened #430 "Generated zip files (icons & marker) exist in 2 different paths"
At the moment when we generate a zip file (icons & marker) via `bundle exec rake assets:create_zip` it seems we have 2 different paths where these files are put which is confusing.

**app folder:**
- `app/assets/images/icons.zip` => https://github.com/sozialhelden/wheelmap/blob/master/app/assets/images/icons.zip
- `app/assets/images/marker.zip` =>  https://github.com/sozialhelden/wheelmap/blob/mas

[2016-10-11 07:11] Hoverbear commented on #430
This is related to #424 potentially!

[2016-10-11 13:14] 1000miles commented on #54
Related PR:

- [ ]  Add new node types for leisure category. #376 - Status: merged, deployed on staging & waiting for @holger's OK to deploy on production
- [ ]  Add new node types to health category. #377 - Status: waiting for rebase by @lennerd
- [ ]  Add new employment agency node type to goverment category. #378 - Status: waiting for rebase by @lennerd  before merge
- [ ] Add new node types fo

[2016-10-11 17:02] 1000miles commented on #404
@holgerd The fix is deployed on staging and ready for review.

[2016-10-12 15:32] Svenyo opened #432 "Filter settings of "POI" view are not included in the csv export"
@1000miles @holgerd I have discovered the following bug when trying to do an export of data into a csv file myself.

I go to https://wheelmap.org/admin/pois and set the filters to:
category = food
node type = any
region = Vienna

and click on "Unknown accessibility" in the horizontal menu of the POI list.
Now the list only shows the POIS as filtered (btw: looking at the entries here makes me assum

[2016-10-12 15:51] Svenyo opened #433 "Export POI data as CSV-file from the backend for Streetspotr"
For the new project with our crowdsourcing partner Streetspotr http://news.wheelmap.org/streetspotr-brechen-alle-rekorde-28-000-bilder-gesammelt/ we need an export of specific POI data into a csv-file.

**The cities where those POIs are located are:**
Italy: Mailand, Rom, Neapel
Spain: Madrid, Barcelona, Valencia
France: Paris, Marseille, Lyon
UK: London, Birmingham, Glasgow
Finland: Helsinki, Tam

[2016-10-13 07:42] holgerd commented on #413
I installed the REST Client [Postman](https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm) on my Chrome browser to test this on node https://staging.wheelmap.org/nodes/1336912426 .

- I created a POST request:
`https://staging.wheelmap.org/api/nodes/1336912426/measurement/?api_key=MYAPIKEY`
- I expect "201 created"
- Instead, I get
`{
    "error": "No rou

[2016-10-13 07:52] Hoverbear commented on #413
@holgerd According to https://github.com/sozialhelden/wheelmap/pull/418 the endpoint is `https://staging.wheelmap.org/api/nodes/1336912426/measurements/?api_key=MYAPIKEY`

Note `measurements`.

Example:

[code]

[2016-10-13 07:58] holgerd commented on #404
@1000miles  I tested this. It does not give me a 500 error but two things came up:

1.
tourism exists twice on staging in the dropdown. I tested with both.

2.
- I changed the category from "Bildung" to "Tourismus" and clicked "Node type aktualisieren" and then went to https://staging.wheelmap.org/nodes/new/name_category to see where "museum" shows up.
- I expected it to be in the new category "To

[2016-10-13 08:02] Hoverbear commented on #430
Based on last modified times it seems like the `public/*.zip` files are unlikely to be used currently.

[2016-10-13 08:23] holgerd commented on #413
Ok now it works!

I edited the examples in https://github.com/sozialhelden/wheelmap/issues/413#issuecomment-251432176 so it now says "measurement**s**" with an "s". 😄

[2016-10-13 08:50] holgerd opened #435 "Establish translation process"
To avoid confusion about translations in the future, we decided discusss what may be the best process and also document it in the wiki.

- [ ] Create wiki entry on how it's done. Begun here: https://github.com/sozialhelden/wheelmap/wiki/Translation-Guide
- [ ] Make sure Transifex receives an info when new strings are generated

[2016-10-13 08:53] holgerd commented on #344
As dicussed yesterday we will close this as wontfix as well as the PR #350 .

But we are opening #435 to have a better translation process in the future.

[2016-10-13 08:53] #344 closed

[2016-10-13 08:55] holgerd commented on #344
Explanation: wheelmap.org was already indexed with german content by search engine machines, if now the default language changes to english, this could have impact on SEO. Also, it is not fixing the root cause (mixed language content sites). That's why we'll focus on a better translation process instead.

[2016-10-13 08:59] Hoverbear opened #436 "First time signup email PUT is unfriendly."
**On the new infrastructure:**

When a user logs in for the first time they are presented with a screen which requests their email. They enter their email and hit submit they end up waiting for many seconds before the mail finishes, then they are presented with a blank screen instead of being properly directed to the map.

A log follows:

[code]

[2016-10-13 09:27] Hoverbear commented on #436
The crux of the problem is that it's taking over 20s to send the email. Exploring this issue...

[2016-10-13 09:29] Hoverbear commented on #393
All modern browsers have a built in `confirm()` function that can be easily hooked in.

Ref: https://developer.mozilla.org/en-US/docs/Web/API/Window/confirm

[2016-10-13 09:30] holgerd commented on #433
Here are the first 29 WKT files, the russian ones are still missing and will be added later:
[29 WKTs.zip](https://github.com/sozialhelden/wheelmap/files/526714/29.WKTs.zip)

[2016-10-13 09:34] holgerd commented on #82
@1000miles So to fix this issue all we need to do is to ensure the suggested naming convention, correct?

[2016-10-13 09:44] 1000miles commented on #435
This might be helpful? Apparently there is already some kind of translation checks on transifex. You might need to modify the settings according to your needs again?

[code]

On Transifex:
[code]

File Formats
[code]

http://docs.transifex.com/setup/setting-translation-checks/

[2016-10-13 10:35] 1000miles commented on #433
Thanks, @Svenyo & @holgerd

Can you please put this ticket into a milestone and set a date along with all other issues that needs to be done? Then we can better estimate the tasks if and to when the issues can be done. Merci.

[2016-10-13 10:41] holgerd commented on #432
I can reprocue this bug:

https://wheelmap.org/admin/pois?utf8=%E2%9C%93&q%5Bnode_type_category_id_eq%5D=2&q%5Bregion_id_eq%5D=68&commit=Filtern&order=osm_id_desc&scope=unknown_accessibility

This is the result when I download the CSV file at the bottom of that page:
[food-vienna-pois-2016-10-13 (1).csv.zip](https://github.com/sozialhelden/wheelmap/files/526858/food-vienna-pois-2016-10-13.1.csv.zi

[2016-10-13 10:49] holgerd commented on #433
Updated WKT folder zip:
[32_WKTs_lowercase_no_space_no_umlauts.zip](https://github.com/sozialhelden/wheelmap/files/526881/32_WKTs_lowercase_no_space_no_umlauts.zip)

[2016-10-13 11:50] Hoverbear commented on #436
We'll be migrating to mailgun in the new infra.

[2016-10-13 12:16] Hoverbear commented on #436
Solved with https://github.com/sozialhelden/wheelmap/pull/437

[2016-10-13 14:28] 1000miles commented on #433
Thanks for creating this issue, @Svenyo

**Tasks to do for us:**
- [ ] 0. Get complete wkt files from @holgerd & @svenyo to import before start
- [ ] I. Fix Filter settings of "POI" view are not included in the csv export #432
- [ ] II. Import new regions listed in this GoogleSheet: https://docs.google.com/spreadsheets/d/13VpThehPWJ-y_ZdoXMKw3UVnsJ8PrrIPblR6bd0jpkQ/edit#gid=1993880246
- [ ] III. E

[2016-10-13 14:38] 1000miles commented on #432
Thanks for reporting, @Svenyo @ @holgerd

Looking at the code we can confirm that currently the csv file does not output the data according to the filter options.

**filter options:**
- category
- node_type
- region
- version
- tags
- created_at
- updated_at

**corresponding filter code snippet:**
[code]

Source: https://github.com/sozialhelden/wheelmap/blob/master/app/admin/poi.rb#L15-L21

----

[2016-10-13 14:42] 1000miles commented on #432
When trying to download the csv after using the filter options, we get this URL:
https://wheelmap.org/admin/pois.csv?order=osm_id_desc&q%5Bnode_type_category_id_eq%5D=2&q%5Bregion_id_eq%5D=68&scope=unknown_accessibility&utf8=%E2%9C%93

[2016-10-14 07:40] #436 closed

[2016-10-14 08:39] 1000miles commented on #433
@Svenyo cc @holgerd

Svenja, you wrote in the initial post that Birmingham and Rom should be exported too but I realized that neither the Google Sheet nor the wkt file currently exists in our database.

Can you please confirm that these 2 cities don't need to be imported? If they need to be imported, we need the 2 missing wkt-files from you. Merci. :)

Missing:
  - [ ] Rom
  - [ ] Birmingham

[2016-10-14 09:47] Svenyo commented on #433
Hmm, that's strange, I can see the entries of both cities in our backend.

@holgerd: Could you also look up the wkt-files for

- [ ] Birmingham, OSM relation ID 162378
- [ ] Rom, OSM relation ID 41485

[2016-10-14 10:12] 1000miles commented on #433
Oh, I am sorry. You are right, I found the 2 cities now in the second run.

[2016-10-14 10:13] 1000miles commented on #433
@Svenyo But do you still need an export of these 2 cities even though they are not listed in the Google Sheet?

[2016-10-14 10:47] Svenyo commented on #433
@1000miles Yes, as listed in my initial post with the three biggest cities. The Google sheet you refer to was basically meant as an overview of the missing wkt-files for @holgerd.

[2016-10-14 10:53] Svenyo commented on #433
By the way, @1000miles I just recognized I made a mistake with the categories.
Please cancel "Leisure" and put "accomodation" instead -->

- [ ] categories: food, shopping, accomodation, tourism (excluding the node type: memorial)

And: The amount of POIs exported for each category can be limited to 1000. Like this, for each city we'd have a data sheet of 4000 grey POIs.

[2016-10-14 10:54] 1000miles commented on #433
@Svenyo Ok, thanks.

[2016-10-14 12:29] 1000miles commented on #433
Getting error messages while importing the wkt-files on the staging server. Will remove the corrupt files to continue the import first and list the corrupt file names here later.

``
Importing Kopenhagen
rake aborted!
ActiveRecord::RecordInvalid: Gültigkeitsprüfung ist fehlgeschlagen: Grenze muss ausgefüllt werden
/var/apps/wheelmap/staging/shared/bundle/ruby/2.2.0/gems/activerecord-4.1.15/lib/act

[2016-10-14 12:53] 1000miles commented on #433
@Svenyo & @holgerd

Great, it seems only the [Kopenhagen.wkt](https://github.com/sozialhelden/wheelmap/commit/f42a62930661b3dc956c725c1a7b56b5a25753d5) file is corrupt. Could you please re-check what is wrong with this file (maybe the polygon borders are not correct) and maybe create another one?

We have imported the rest of cities successfully on the staging today.

You can check them here on st

[2016-10-14 14:24] 1000miles commented on #432
We testet following on `staging.wheelmap.org` and `wheelmap.org` today:

### Production:

Kategorie: alle
Node Type: Anwalt
Region: Berlin

- index page: 64 entries
- Download CSV => It downloads a csv file (9.5 MB) with 4416 lines (with 4460 data entries)

=> not ok!

---

### Staging:

Kategorie: alle
Node Type: Anwalt
Region: Berlin

- index page: 40 entries
- Download CSV => It downloads a csv

[2016-10-14 16:10] 1000miles commented on #432
**Update, 14 oct 2016:**

- we checked the gem `activeadmin` on staging and production, both use the same version
- the `Download csv` bug in active_admin on production applies to all pages, not to `poi` pages only
- the last time we deployed to production was 29 days ago, so we will deploy the current state to production on monday and see if the `download csv` bug has been fixed meanwhile

[2016-10-14 17:48] mmd-osm opened #439 "Large number of new POis created at location 52.513, 13.388 by wheelmap.org"
There seems to be some strange issue with new POIs creaed on wheelmap.org. As someone noted on the [German forum](http://forum.openstreetmap.org/viewtopic.php?pid=612649#p612649), there are currently 75 POIs (!!) at the following node location: https://www.openstreetmap.org/node/4437324390.

57 of those POIs have been added in the last 6 days alone.

Also, check out this overpass turbo query retur

[2016-10-17 05:16] holgerd commented on #439
Yes, we'll investigate. Thanks for letting us know!

[2016-10-17 07:33] holgerd commented on #439
Cause seems to be a bug in an old version of our iPhone app. Hope id does not happen again but I'll monitor the area for a while and notify wheelmap users who do create nodes at that location.

[2016-10-17 07:43] mmd-osm commented on #439
Thanks a lot. Indeed the number of affected users seems to be rather small, although they're quite activate. Let's see if these users will apply the update in the near future. 😃

[2016-10-17 09:27] schultyy commented on #413
Removing the "Review" label here because this ticket is not completely done yet.

[2016-10-17 12:16] Svenyo opened #440 "Backend database not reflecting current user activities as in OSM"
A logged in user with the OSM-name "WM-JOHSch" has created, tagged (Wheelchair and toilet status) and edited places and has uploaded pictures of the entrances of places. All the activities are visible on OSM http://www.openstreetmap.org/changeset/42823316#map=15/48.6611/9.0611&layers=H and correspond to the entries that can be seen on Wheelmap.org.

As an admin I would expect to see all those acti

[2016-10-17 13:11] 1000miles commented on #433
ping @Svenyo & @holgerd

Any news regarding the `Kopenhagen.wkt` file here? Pls see comment: https://github.com/sozialhelden/wheelmap/issues/433#issuecomment-253791192

[2016-10-17 13:42] Svenyo commented on #433
@holgerd Do you see any alternative to using http://www.openstreetmap.org/relation/2192363  ? Maybe using the "Capital Region of Denmark" admin level 4: http://www.openstreetmap.org/relation/1320608 ?

[2016-10-17 13:58] 1000miles commented on #433
@Svenyo cc @holgerd

We saw that there is already a [rake task runner for streetspotr](https://github.com/sozialhelden/wheelmap/blob/8df541107ed785f82a2436ebe53d11129e7e2fba/lib/tasks/export.rake#L170-L210) to export csv, so we are wondering if we should create an additional rake task with the given parameters you requested above but we need to know if the current parameters from you are just requ

[2016-10-17 14:06] Hoverbear opened #441 "photon.komoot.de is down"
Currently the backend for [photon.komoot.de](http://photon.komoot.de) is down which makes creating new nodes impossible (on the website).
![screen shot 2016-10-17 at 16 06 12](https://cloud.githubusercontent.com/assets/130903/19440827/a612e138-9483-11e6-9c11-8977b1f70306.png)

[code]

[2016-10-17 14:19] Svenyo commented on #433
@1000miles Yes, we will need this request with the exact parameters in future for other countries/ regions/ cities.

[2016-10-17 15:52] 1000miles commented on #432
**Update, 17 oct 2016:**

Maybe our csv bug in production is related to this issue and possible solution. We will investigate further if it has to do with `ActiveAdmin::CSVBuilder` or `ActiveRecord::QueryCache`

- https://github.com/activeadmin/activeadmin/issues/4118#issuecomment-146245008
- https://github.com/activeadmin/activeadmin/issues/4118#issuecomment-146248353

Investigation steps:
- [x]

[2016-10-18 09:36] holgerd commented on #441
maybe you want to open an issue here: https://github.com/komoot/photon

[2016-10-18 09:37] Hoverbear commented on #441
Related issue: https://github.com/komoot/photon/issues/239

[2016-10-18 09:38] holgerd commented on #430
@lennerd what do you think?

[2016-10-18 09:40] lennerd commented on #430
As said the URI in the asset API endpoint is the URI used by the apps. Therefore it should be safe to remove the other option.

[2016-10-18 10:32] holgerd commented on #433
I re-exported copenhagen using http://polygons.openstreetmap.fr/index.py?id=2192363 and the relation http://ra.osmsurround.org/analyzeRelation?relationId=2192363&_noCache=on

[kopenhagen.wkt.zip](https://github.com/sozialhelden/wheelmap/files/535968/kopenhagen.wkt.zip)

[2016-10-18 11:58] 1000miles commented on #433
@holgerd cc @svenyo Unfortunately the new `Kopenhagen.wkt` file did not work either. Looking at the link you provided (http://ra.osmsurround.org/analyzeRelation?relationId=2192363&_noCache=on) the relation_name is `Københavns Kommune`. Is that the correct one?

[2016-10-18 12:27] Svenyo commented on #433
@holgerd The new relation ID we need an WKT file from is http://www.openstreetmap.org/relation/1320608 named "Capital region of Denmark" as an alternative for the old one which is broken "Kobenhavn Kommune", ID 2192363. So You've downloaded the former broken one once again.

Please let's try with the WKT-file for http://www.openstreetmap.org/relation/1320608.

[2016-10-18 14:59] holgerd commented on #433
[kopenhagen-0-1320608.wkt.zip](https://github.com/sozialhelden/wheelmap/files/536593/kopenhagen-0-1320608.wkt.zip)

better?

[2016-10-18 15:54] 1000miles commented on #433
Thank you, @Svenyo & @holgerd

Already replaced it in this commit 225ed10243be2f6c8707c7cc3edcf922ee30f5ff => import finally worked on staging, so we can merge this PR https://github.com/sozialhelden/wheelmap/pull/438 tomorrow and deploy all new regions to production after approval. :)

[2016-10-19 07:29] holgerd commented on #441
That only affects the webapp, right? The API should still work afaik.

[2016-10-19 07:39] Hoverbear commented on #441
Right. Sorry, I should have specified that.

[2016-10-19 10:10] 1000miles commented on #82
Related PR: #443

[2016-10-19 11:22] 1000miles opened #444 "Running `bundle exec rake poi:locate` fails on staging and locally"
At the moment running `RAILS_ENV=staging bundle exec rake poi:locate` manually and directly on the staging and locally fails.

**Error output on staging server**
[code]

Christoph wrote:

----

**Error output locally (on a separate & master branch)**
[code]

[2016-10-19 12:44] holgerd commented on #441
It's up again and I could just add a new node with the live webapp. so closing this now.

[2016-10-19 12:44] #441 closed

[2016-10-19 12:47] Hoverbear commented on #441
👐

[2016-10-19 13:03] holgerd opened #446 "McDonalds is in OSM but does not show up in Wheelmap"
A user reports to have edited a McDonalds in Vienna using Wheelmap and it vanished from Wheelmap.

I found it here:
http://www.openstreetmap.org/way/61909416/history

But I can not see it here:
https://wheelmap.org/map#/?lat=48.15292948980208&lon=16.30155175924301

Neither can I see it on the iOS app

[2016-10-19 13:04] holgerd commented on #446
@lennerd Can this be related to the problem we had in #309 ?

[2016-10-19 13:08] lennerd commented on #446
I think #309 is fixed and therefore every place should be visible on the map at least on the highest zoom. I'm also not able to access the node detail page on the wheelmap so I guess it does not exist in our database either.

404: https://wheelmap.org/nodes/-61909416

[2016-10-19 14:33] 1000miles commented on #404
Since the initial error is fixed, let's create a follow-up ticket for your report.

[2016-10-19 14:36] 1000miles opened #448 "[active_admin] Check category assignment"
This is a follow-up ticket for issue #404

Holger wrote:

[2016-10-19 14:38] #404 closed

[2016-10-19 15:14] #245 closed

[2016-10-20 05:24] holgerd opened #450 "/architektur leitet auf 404 weiter"
We published material for architetcure students under wheelmap.org/architektur , eg. here:
https://www.youtube.com/watch?v=xUJbkHoYOnk
http://raul.de/referenzen/barriefreiheit-in-der-architektur/
https://de.wikipedia.org/wiki/Wheelmap.org#cite_note-8

When I click the link today it redirects to:
https://news.wheelmap.org/wheelmap-botschafter/barrierefreie-architektur/

Instead, I am not able to fi

[2016-10-20 08:26] Hoverbear commented on #450
Found this in the nginx configuration while looking for something else:

![screen shot 2016-10-20 at 10 25 31](https://cloud.githubusercontent.com/assets/130903/19552307/9548849c-96af-11e6-9ab3-3264a53ac6d9.png)

[2016-10-21 12:19] 1000miles opened #454 "[active_admin]: ActiveRecord::RecordNotFound (Couldn't find Region with 'id'=boeblingen)"
Yay, we found another bug. :)

- I am logged in in active admin dashboard on  `production` & `staging`
- I go to the page region and select `Boeblingen` out of the list
- I click on the `Boeblingen` detail page (https://wheelmap.org/admin/regions/boeblingen/)
- I click on the `photos` link
- I get the "famous" error page `The page you were looking for doesn't exist.`

**Error log output on the ser

[2016-10-21 17:10] 1000miles commented on #414
The error reported in this ticket seems to be fixed by this PR, too: https://github.com/sozialhelden/wheelmap/pull/447, means editing a region name on production works again.

[2016-10-24 05:13] holgerd commented on #335
Re-checked, it seems to work now. So I'm closing this.

[2016-10-24 05:13] #335 closed

[2016-10-24 08:29] 1000miles commented on #444
@Hoverbear Is this issue maybe related to your PR https://github.com/sozialhelden/wheelmap/pull/358?

This is the code part that raises the error:
[code]

[2016-10-24 08:38] schultyy opened #455 "Retrieve data from accessibility cloud"
Data from Accessibility Cloud (AC) is supposed to be shown for places on wheelmap. For example the user opens a detail page of a node, they see all information provided by wheelmap as well as information from other platforms (provided by AC).

We need to decide how wheelmap is gathering the data supposed to be shown per node.

I could see two options here:
- Per request basis: Every time details f

[2016-10-24 10:47] #414 closed

[2016-10-25 14:24] holgerd commented on #432
Maybe related from a year ago: https://github.com/sozialhelden/wheelmap/issues/32

[2016-10-25 14:30] holgerd commented on #432
I suggest we timebox this (eg 4h) and if then re-evaluate if it is worth putting more time into this.

We need to confirm first that CSV exports have business value beyond streetspotr exports in the future. Maybe manual exports are better use of time.

[2016-10-25 14:33] holgerd commented on #329
lgtm

[2016-10-25 14:33] #329 closed

[2016-10-25 14:42] holgerd commented on #361
this magically fixed itself.
worksforme

[2016-10-25 14:42] #361 closed

[2016-10-25 14:53] holgerd commented on #175
on hold, waiting for PR #359 to review.

[2016-10-25 14:54] holgerd commented on #179
on hold, waiting for PR #359 to review this.

[2016-10-25 14:59] schultyy commented on #455
- Caching Proxy at server side via Varnish, no Redis, etc.

[2016-10-25 15:59] 1000miles commented on #433
**Update, 25 Oct 2016:**

As agreed with @holgerd and @Svenyo today we will do the csv export without the param `has no photo` since this query (check if a poi has any photos) takes a lot of time to execute.

[2016-10-26 09:54] #444 closed

[2016-10-27 09:40] schultyy opened #463 "Wheelmap readonly mode"
The wheelmap must be able to run in a readonly mode where users can still browse the map but cannot map any new places.
This mode is meant for maintenance scenarios.

Right now when we need to ensure that no writes to the wheelmap database happen during maintenance we need to shutdown the application completely. Instead it would be nice to just disable writes and still allow the users to browse th

[2016-10-28 08:09] mmd-osm commented on #439
I'd suggest to keep this issue open as long as it is not resolved and we're seeing more reports of it in the German Forum. Thanks.

[2016-10-28 09:20] 1000miles commented on #433
**Update, 27 Oct 2016:**

#Done
- import 31 new regions - PR #438
- create new rake task for `bundle exec rake export:for_streetspotr_no_photo_no_memorial` - PR #453
- fix broken rake task `bundle exec rake poi:locate`  - PR #462
- fix broken poi table in the mysql database  (Error: `Mysql2::Error: Incorrect key file for table './wheelmap_production/pois.MYI'; try to repair it`)
- part I: deliver

[2016-10-28 12:48] holgerd opened #464 "After adding a place, I want to see it immediately on the map"
As a logged-in user who adds a new node using /nodes/new , I want to immediately see the node I created on the map.

Why:
We saw that some users create the same place multiple times. We want to prevent that in the future.

Alternative ideas on how to fix this:

- show a clear message after adding a node "Thanks for your node, it will be processed now and it will take some minutes to show up. You d

[2016-10-30 05:39] holgerd commented on #302
Thoughts on this from myself:

Wir wollen die Qualität der Wheelmap-Bewertungen erhöhen.

Was ist schlecht an der jetzigen Qualität?
===========
- Intercoderreliabilität: Bewerten zwei verschiedene Leute den selben Ort gleich?
- Intracoderreliabilität: Bewertet die selbe Person zwei gleichwertige Orte konsistent gleich?
- Sind die Kriterien klar?
	- Haben alle die gleichen Kriterien?
- anonyme Bew

[2016-10-30 05:41] holgerd opened #466 "Add questionnaire for accessibility rating"
In order to increase the quality of the wheelchair ratings, as a newbie on Wheelmap I want to answer concrete questions about the accessibility of the place I'm reviewing so I can give precise answers which really help wheelchair drivers understand the accessibility of said place.

Current form:
![wheelmap_-_find_wheelchair_accessible_places](https://cloud.githubusercontent.com/assets/218506/19834

[2016-10-30 05:42] holgerd commented on #302
Elaborated more on one idea in separate isue:

"Add questionnaire for a11y rating" #466

[2016-10-30 14:57] Hoverbear commented on #466
Similar to what Google Maps does? Ex:

![screenshot_20161030-155621](https://cloud.githubusercontent.com/assets/130903/19837422/845e7800-9eb9-11e6-9a1e-c48fc0beefd0.png)

[2016-10-31 08:35] holgerd commented on #466
@Hoverbear yes, but on a more detailed level regarding accessibility. What's also an open question here: Shall we save each answer or just use it to find the correct wheelchair=yes/no/limited rating.

[2016-10-31 09:37] 1000miles commented on #433
As this is done, I am closing this ticket. :)

[2016-10-31 09:37] #433 closed

[2016-10-31 09:52] 1000miles commented on #82
**Update, 31 Oct 2016:**

The renaming of all wkt-files that contain umlauts is introduced and done by PR https://github.com/sozialhelden/wheelmap/pull/443.

**Question:**

@holgerd

At the moment all [regions](https://github.com/sozialhelden/wheelmap/tree/master/db/data/wkt) are capitalized. Is there still a need to rename them all to lowercase?

[2016-11-01 08:09] holgerd commented on #331
some sketches
![toilet_not_applicable](https://cloud.githubusercontent.com/assets/218506/19883145/d30c66d8-a012-11e6-8eeb-c1551d3ee446.png)

[2016-11-01 08:37] schultyy commented on #466
Saving the answers might also help to provide a better quality of mappings in the future. At least we could see if the answers for this place are consistent or if people have different opinions on the place's accessibility.

[2016-11-01 10:31] schultyy commented on #331
first add versioning to the API

[2016-11-01 11:03] holgerd commented on #369
We decided not to monitor this automatically but @schultyy will look into this weekly (recurring calendar event for himself).

#wontfix

cc @1000miles

[2016-11-01 11:03] #369 closed

[2016-11-01 11:05] 1000miles commented on #370
Today we agreed on that @schultyy and me will continue work on it asap to make Svenja happy. :)

cc @holgerd @Svenyo

[2016-11-01 11:44] 1000miles commented on #360
@holgerd please clarify with felix.

[2016-11-01 15:55] schultyy opened #468 "API Versioning"
This is a ticket which describes the general approach we want to follow when it comes to API versioning.
Over the time we collected quite some features which will modify the current API in a way that it's backwards incompatible for current mobile clients. To prevent breakage of the current installed base and ensure that we're able to ship new features the next step in the long term is to introduce

[2016-11-01 15:55] schultyy commented on #331
This is blocked by #468

[2016-11-01 15:56] schultyy commented on #413
Fetching metadata can be implemented when API versioning is done (that topic is discussed in #468).

[2016-11-01 16:20] schultyy opened #469 "Show rating history for a certain POI"
As a user I would like to see the mapping history for a certain POI on the detail page. The reason for this feature is the following:

By having access to the rating history it is easier for me as a user to evaluate if the current rating is accurate or not. This means can I really rely on the current rating or should I take it with a grain of salt.

[2016-11-01 16:25] schultyy commented on #469
The following was discussed so far:

- Rating history is shown on the POI detail page
- A history entry consists of the following:
  - The new status
  - When did it happen
  - Who did the edit (Either username or "Wheelmap Visitor" in case it was done by an anonymous user)

A roadmap for this feature can look like this:

- We start to collect these changes in our MySQL database
- We ask Robert fr

[2016-11-02 08:56] holgerd commented on #469
![wheelmap_place_history_on_detSketch:
ail](https://cloud.githubusercontent.com/assets/218506/19922348/87ea50ae-a0e2-11e6-976d-8fca34f35cc4.png)

[2016-11-02 11:43] thermann78 commented on #51
So I double-checked wheelmap.de.
In fact there is an A-Record at Planetary redirecting to 176.9.63.170.
Then this request hits Nginx-Conf where it is redirected to wheelmap.org/de - and this is part of the problem as /de doesn't exist, so the autocompletion of WordPress searches for similar URIs leading to a blog article.

In addition, somethin weird happens with accessforeverybody.org: without SS

[2016-11-02 11:50] holgerd commented on #51
^ so I undertand the tasks to fix wheelmap.de are:

- [ ] for Planetary: Change redirect of wheelmap.de from 176.9.63.170 to wheelmap.org
- [ ] for Asquera: remove forwarding rule from nginx (wheelmap.de  to wheelmap.org/de needs to be deleted)

correct?

[2016-11-02 11:59] thermann78 commented on #51
I think so.

[2016-11-02 12:03] Xylakant commented on #51
It's not that simple. wheelmap.org is handled by cloudflare and I think that we can' t just point a different domain there (it's not a redirect if it happens on the DNS level, it's an alias. A redirect requires a webserver to answer a browser request). So we'd still have to point that straight to a webserver we control and handle the redirect there.

It really would be best if we move the external

[2016-11-02 12:52] timfreiheit commented on #413
The Api for storing the measurement metadata does not allow to send an empty description:
for example:
[code]

this results int the following error message:

Status Code: 422
[code]

[2016-11-02 13:34] holgerd commented on #51
@Xylakant Ok. Do you mean something like https://www.inwx.de ?

[2016-11-02 14:12] Xylakant commented on #51
INWX is primarily a registrar, that is they handle domains registrations. They do also offer DNS services, but only for domains that are registered with them. we have most of our domains registered at inwx but use dnsimple for DNS services. We don't really need to move the registration to a different registrar, we just need the nameservers somewhere where we can control the dns entries.

[2016-11-03 09:42] 1000miles opened #471 "Update README.md with mysql 5.6 version"
At the moment when we install `mysql` for Ubuntu according to the `README.md`, it automatically installs the latest version (v5.7) which causes migration problems with multipolygons vs. polygons as mentioned here:

- https://github.com/sozialhelden/wheelmap/issues/354
- https://github.com/sozialhelden/wheelmap/issues/355

For now we need to update the README.md file to make sure everyone uses the

[2016-11-03 10:16] schultyy commented on #413
@timfreiheit I made the corresponding changes and it's now available on Staging.

[2016-11-04 17:19] 1000miles opened #476 "Icons on node_types page return 404 - Not Found"
- I go to `staging.wheelmap.org/node_types` of the staging server
- I expect all icons on that page to be rendered but instead I see that some icons are not displayed (e.g. tea_house.png, massage.png, naval_museum.png, etc.).
- I log into the staging server and see that the mentioned icons are existent in the `apps/assets/images/icons` folder.

Please see:

![icns_on_staging_server](https://cloud.

[2016-11-07 08:23] holgerd commented on #432
we discussed we will clarify use cases for the backend system before putting any more work into /admin

So I put this on hold.

[2016-11-07 08:50] 1000miles commented on #476
This issue blocks the introduction of new categories. We will investigate the redirection path.

[2016-11-08 05:55] holgerd opened #477 "Bug: changeset created by android_visitor contains new nodes"
- I expect that non-loggedin users on wheelmap can not create new nodes. They only can add changes which are then posted as wheelmap_visitor or [wheelmap_android](https://www.openstreetmap.org/user/wheelmap_android).
- But I look at this [changeset](http://www.openstreetmap.org/changeset/43210369) and see a node called ["Jablonec nad Nisou"](https://www.openstreetmap.org/node/4450390192/history) h

[2016-11-08 09:12] 1000miles commented on #415
Since this is also waiting for grooming with @Svenyo and @karolinamakaruk regarding the admin dashboard we put this ticket `on hold` as well.

cc @holgerd

[2016-11-08 10:02] holgerd commented on #51
@Xylakant & @1000miles We're hosting our domains at [Planetary Networks](https://www.planetary-networks.de/) and have a very good relationship with their customer support.

It features a "cPanel" access with a "simple Zone editor": https://documentation.cpanel.net/display/ALD/Simple+Zone+Editor#

Can we (read: you or somebody else from Asquera) manage it there? The goal is still to redirect the do

[2016-11-08 16:52] 1000miles commented on #51
@holgerd cc @Svenyo @karolinamakaruk

@Xylakant and me logged just into the cpanel accounts but we couldn't see all the domains you listed [above](https://github.com/sozialhelden/wheelmap/issues/51#issuecomment-244712636).

**Problem:**
- so far cpanel seems to manage and redirect subdomains only, e.g. `community.wheelmap.org` but not pure domains like `wheelmap.org` *(maybe we are wrong here but

[2016-11-09 08:03] holgerd commented on #331
Wording change recommended by Silke:
we should change "No wheelchair accessible toilet" to "Toilet is not wheelchair accessible" to prevent confusion here.

[2016-11-09 11:54] 1000miles commented on #476
As this is happening to a couple of icons, we will give explanation to 1 example only.

What we have found out so far:

-  the icon-image `spa.png`  is listed in the folder as `app/assets/images/icons/spa.png` and can be found in the generated zip file under `/public/icons.zip` but it it is neither displayed on the `node_types page` of the staging server (http://staging.wheelmap.org/node_types) no

[2016-11-09 12:44] thermann78 opened #478 "Widget: Cookies override location settings in widget"
Hey there,

I just found out that the widget shows the last location from my visit on wheelmap.org instead of the widget default location. Could we try to fix this?
Short example:

1. I visit http://travelable.info/infoseiten/sylt/ and have a look at the widget below
2. I expect the widget to show the geographic region of Sylt as defined within the widget settings
3. Instead I see a high-level zoo

[2016-11-09 18:47] holgerd commented on #51
@1000miles the login should be in the 1pw vault now and is called "cPanel accessforeverybody"

[2016-11-10 08:58] 1000miles commented on #51
Thank's, @holgerd . We'll have a look into it.

[2016-11-11 14:36] 1000miles opened #479 "[Translations] Locale Switcher does not apply to header > navigation"
**Preconditions:**
- we look at the `navigation` in the header
- we check the transifex key-value pair of `projects: Get Involved` that has been changed from `projects: Projects` in the resource file [relaunch.yml](https://github.com/sozialhelden/wheelmap/pull/475/files#diff-d250e923a9a2d44e6e304a690ffaa755) (EN)
- we compare the english relaunch.yml file with the spanish [relaunch.yml](https://gi

[2016-11-11 14:41] 1000miles commented on #479
This issue blocks:
- issue #396

[2016-11-11 15:44] holgerd commented on #479
@lennerd Do you have an idea what the problem is here?

[2016-11-14 11:12] holgerd opened #480 "Add Mapillary to detail pages"
Suggestion from the OSM forum:
Add Mapillary and OpenStreetView to detail pages
https://forum.openstreetmap.org/viewtopic.php?id=55958

Sounds like a good idea, maybe as an addition instead of a replacement of Google Streetview.

https://github.com/mapillary/mapillary-js seems to be free for non-profits and I did not find a widget option for OSV yet.

[2016-11-15 13:32] 1000miles commented on #448
@holgerd

I set the `tourism` (id: 5) back to `education` (identifier) via the rails console because somehow editing directly in the admin dashboard doesn't work. Not sure if this ever worked but for now this should be fixed. Please let me know if there are any further strange occurrences.

![wheelmap_categories](https://cloud.githubusercontent.com/assets/4077916/20307543/3d1bc342-ab40-11e6-8a78-1

[2016-11-16 12:20] 1000miles commented on #417
@Svenyo We made a quick difference check  of all current resources files (EN) in the wheelmap project and on transifex via https://www.diffchecker.com/ (date: 2016-11-16)

As far as we can see only `categories.yml` seems to differ while the other resources files are identical. However, we included them all (10 items) in the zip file so you can have a look at them.

[resource_files_for_translations

[2016-11-24 10:54] #479 closed

[2016-11-25 08:46] karolinamakaruk opened #483 "Bug: New place without the address and geolocation"
I tried to create a new place using  https://wheelmap.org/en/nodes/new/name_category.
I didn't filled address and gelocation.
I couldn't create the point and also I didn't get any error message. It was only loading. No result.

[2016-11-25 13:04] 1000miles opened #484 "[Icon] Calling icon `art_museum.png` on node_types page results in 404 Error"
This issue is a follow-up of ticket #476

At the moment we get a `404 error` when calling the icon `http://staging.wheelmap.org/images/icons/art_museum.png` that is listed on the [node_types](http://staging.wheelmap.org/node_types) page.

Looking into the database we see that the icon `art_museum.png` still exists while this icon is not referenced anywhere and not existent in the app (anymore). It

[2016-11-25 14:24] 1000miles commented on #476
@holgerd

cc @Svenyo & @karolinamakaruk

The PR #482 has been deployed on staging today with release [staging-20161125141452](https://github.com/sozialhelden/wheelmap/releases/tag/staging-20161125141452) and can be reviewed here: https://staging.wheelmap.org/en/node_types

Follow-up ticket: #484 (art_museum.png not found)

![node_types_25112016](https://cloud.githubusercontent.com/assets/4077916/2

[2016-11-25 14:37] 1000miles commented on #396
@Svenyo cc @holgerd & @karolinamakaruk

The PR #475 that resolved this issue (#396) & #479 has been deployed on staging under release [staging-20161125132725](https://github.com/sozialhelden/wheelmap/releases/tag/staging-20161125132725) today. It can now be reviewed.

![locale_switcher_nav_spanish](https://cloud.githubusercontent.com/assets/4077916/20628178/d3479706-b324-11e6-8c55-9d60ca8123f9.png

[2016-11-25 14:52] 1000miles commented on #54
@holgerd cc @Svenyo & @karolinamakaruk

The new categories leisure, health, employment agency, misc & shopping are deployed on staging and can be reviewed.

[2016-11-28 07:33] #413 closed

[2016-11-28 09:01] schultyy commented on #370
We will provide a basic version of the support form (with features which are done already) in production asap.
The following topics are not done yet and will be delivered in addition:

- current zoom level
- current lat/long of map
- filter status of map (status or categories or WC enabled/disabled)

[2016-11-28 11:20] karolinamakaruk opened #485 "Bug: POI is not appeared on the wheelmap"
I added test POI on the browser and Android app.
I expected to see POI on the OSM map and wheelmap.
Wheelmap didn't not mark POI, I can see it only on Open Street Map.

Here is the example: https://www.openstreetmap.org/node/4520334989

[2016-11-28 14:19] karolinamakaruk commented on #476
@1000miles I tested it. I can see all icons on http://staging.wheelmap.org/node_types. Only art museum is missing, but as I understand is another issue. LGTM.

[2016-11-28 14:24] karolinamakaruk commented on #396
@1000miles I tested it. I changed languages and 'get involved' is now displayed in different languages on https://staging.wheelmap.org/pl/map#/?zoom=14 .

[2016-11-28 14:27] 1000miles commented on #476
@karolinamakaruk

Thank you for your feedback. Yes, we are currently working on the issue with `art_museum.png` (https://github.com/sozialhelden/wheelmap/issues/484). Will deploy this on production tomorrow.

[2016-11-28 14:28] 1000miles commented on #396
Merci. We will deploy this on production tomorrow.

[2016-11-28 14:32] karolinamakaruk commented on #417
@1000miles I found new categories in https://github.com/sozialhelden/wheelmap/files/594573/resource_files_for_translations_20161116.zip
It looks good for me.

[2016-11-28 14:45] karolinamakaruk commented on #54
- I opened https://staging.wheelmap.org/en/nodes/new/name_category, I found new categories but also:

- I expected to see each category once
- Instead I saw some categories twiced, for example Dentist
<img width="713" alt="wheelmap" src="https://cloud.githubusercontent.com/assets/19149119/20672368/5fd19c4a-b581-11e6-8be7-acfaf4575bc4.png">

cc @holgerd

[2016-11-28 15:02] lennerd commented on #54
This is the result from a very early try of importing new node types on Staging. This does not appear on master as long as the imports are running through without errors. I'm not 100 % sure what would fix this, but maybe resetting the database completely should fix it.

[2016-11-28 15:22] 1000miles commented on #54
Thanks @karolinamakaruk for reporting & @lennerd for short explanation.

So from what we can see now only following categories exist twice when creating new categories as a user:
- dentist
- hearing aid dealer
- psychotherapist
- social facility

@schultyy and me will check and see what is best to fix this.

[2016-11-28 16:06] 1000miles commented on #484
@karolinamakaruk cc @holgerd

This issue is fixed and deployed on staging with release [staging-20161128143648](https://github.com/sozialhelden/wheelmap/releases/tag/staging-20161128143648). Ready for review. :)

<img width="1276" alt="00000202" src="https://cloud.githubusercontent.com/assets/4077916/20675358/4aa0c35e-b58c-11e6-8467-47f2b22cd5f1.png">

[2016-11-28 16:09] 1000miles commented on #471
Related PR #472 is merged. Closed.

[2016-11-28 16:09] #471 closed

[2016-11-29 10:20] 1000miles commented on #51
@holgerd cc @thermann78 @karolinamakaruk

@Xylakant and me took a look into the cpanel on friday (2016-11-25) and here is our feedback:

- the dns configs of some domains (e.g. wheelmap.de, wheelmap.net, wheelmap.com) in the cpanel don't match the current dns configs

  => @holgerd Do you know who we can ask where these domains are actually hosted? Maybe the person that set up the configs in the c

[2016-11-29 10:48] Xylakant commented on #51
ok, let me rephrase that for clarity:

The cpanel that we were given to contains configurations that do not match the output if we actually query the name servers. For example, the configuration in the cpanel for wheelmap.com is set to point to `178.23.124.70`, but the nameserver output correctly points to `176.9.63.170`. This indicates that the domains are not actually configured via this cpanel,

[2016-11-29 14:13] 1000miles commented on #54
@karolinamakaruk cc @lennerd @holgerd

**Tasks we have done:**
- checked if locally and production also contain duplicates => no, only staging had duplicates in `health` category
- migrated and removed the duplicates (dentist, hearing aid dealer & social facility) from the staging server

Status: **fixed!**

![screen shot 2016-11-29 at 15 08 16](https://cloud.githubusercontent.com/assets/4077916/2

[2016-11-30 09:10] 1000miles commented on #484
Closed. Deployed on production with release: https://github.com/sozialhelden/wheelmap/releases/tag/production-20161129150628.

[2016-11-30 09:10] #484 closed

[2016-11-30 09:10] 1000miles commented on #417
Closed. Deployed on production with release: https://github.com/sozialhelden/wheelmap/releases/tag/production-20161129150628.

[2016-11-30 09:10] #417 closed

[2016-11-30 09:10] 1000miles commented on #396
Closed. Deployed on production with release: https://github.com/sozialhelden/wheelmap/releases/tag/production-20161129150628.

[2016-11-30 09:10] #396 closed

[2016-11-30 09:11] 1000miles commented on #54
Closed. Deployed on production with release: https://github.com/sozialhelden/wheelmap/releases/tag/production-20161129150628.

[2016-11-30 09:11] #54 closed

[2016-11-30 09:11] 1000miles commented on #476
Closed. Deployed on production with release: https://github.com/sozialhelden/wheelmap/releases/tag/production-20161129150628.

[2016-11-30 09:11] #476 closed

[2016-12-01 08:27] holgerd commented on #485
the sync was not working and Jan reactivated it. I see the node now on wheelmap: https://wheelmap.org/nodes/4520334989

[2016-12-01 08:27] #485 closed

[2016-12-01 08:31] holgerd commented on #483
- I tested this (logged-in as OSM-user holgerd using the englisch locale of wheelmap.org) as well with location name "test" and category bank. My Chrome location was shared with Wheelmap. I keep clicking next in the flow and "save" on the last overview page.
- I expect to get an error message since no lat/lon was given or confirmed by me
- Instead, I see a spinner animation (gave up after 2min loo

[2016-12-01 08:36] holgerd commented on #485
i removed the node from osm

[2016-12-01 08:42] holgerd opened #491 "Bugs in Add new place flow"
There are some issues when creating a new node using https://wheelmap.org/en/nodes/new/name_category

This Issue is for me to collect the issues and clarify them.

Issue 1
- I add a place Final Escape Berlin, Prenzlauer Allee 23, 10405 Berlin and fill in the form in the flow
- I expect the geocoder to find "Prenzlauer Allee 23" or notify me when this was not successful
- Instead, the location is s

[2016-12-01 09:09] holgerd opened #492 "bug: "toilets:wheelchair=unknown" written to OSM"
- I am logged in as holgerd and use https://wheelmap.org/en/nodes/new/ to add the new node "Labyrintoom" to Wheelmap/OSM with wheelchair=no and no more info to the toilet, leaving it at "unknown" like this:

![image](https://cloud.githubusercontent.com/assets/218506/20787775/ea4da7b4-b7ad-11e6-8967-6dd9e0865ce2.png)

- I expect that only wheelchair=no is written to the node in OSM
- Instead, I als

[2016-12-01 10:29] 1000miles opened #493 "[DB] Import node/ways from osm to wheelmap DB"
After the introduction of 27 new node types (2016-11-29) we expected to see a significant increase of pois (that are marked under these node types) on wheelmap.org, instead only a small amount was synced from osm to wheelmap.

According to our checks the osm sync works fine for every poi that was created  *after* our introduction of new node types but those that were created/edited before (e.g. 1

[2016-12-01 10:31] 1000miles commented on #51
ping @holgerd :)

[2016-12-01 16:39] 1000miles opened #496 "[Form] Community Support Form submission takes ca. 20 seconds before success"
At the moment when we submit a problem report via the new community support form it takes about 20 seconds until the request is successfully committed. This indicates that the form submission depends on the success of the email sending (mailer) which should not be the case because the user has to wait a while which in the end is less user-friendly.

To fix this we need a way to enqueue the mails w

[2016-12-02 07:00] holgerd opened #497 "image alert text missing"
- I'm logged-in and on a detail page, eg. https://wheelmap.org/nodes/1873679231
- I expect to see a description on what kind of photos are appropriate for wheelmap
- Instead, I just see "Alert" in any language

<img width="1060" alt="dieser_ort_ist_auf_wheelmap_org__edeka__spatkauf__einkaufen__berlin" src="https://cloud.githubusercontent.com/assets/218506/20825577/60d778f8-b865-11e6-864d-e740b4078

[2016-12-02 16:47] #493 closed

[2016-12-02 16:59] 1000miles commented on #370
@Svenyo cc @holgerd & @karolinamakaruk

Can you please review the current community support form on staging (https://staging.wheelmap.org/pl/community_support/new), upload and start the translation process for this recource file, if the wordings are ok from your side?

File to be uploaded on transifex:
https://github.com/sozialhelden/wheelmap/blob/master/config/locales/en/relaunch.yml

**Important

[2016-12-05 11:25] holgerd commented on #51
@1000miles Yes let's move to dnsimple . Let me know what plan you need.

[2016-12-05 13:11] 1000miles commented on #51
@holgerd

Sounds good. Thank you! :) After consulting @Xylakant we think the smallest plan would be enough for now.

[2016-12-06 14:49] 1000miles commented on #370
As agreed today we want to provide a short text hint and link to the [FAQ](news.wheelmap.org/faq) on the page `/community_support/new`. @holgerd will provide the text in german and english.

[2016-12-07 13:53] Svenyo commented on #446
Recent case like the one mentioned above:

Another McDonalds in Lehrte: http://www.openstreetmap.org/way/196118021 not in Wheelmap https://wheelmap.org/map#/?lat=52.38763425011613&lon=9.972852199999988

It's a McDonalds boycott... ;-)

[2016-12-07 14:43] Hoverbear commented on #446
Perhaps we should recommend users go fishing instead.

![catch-fish](https://cloud.githubusercontent.com/assets/130903/20972039/e51b3104-bc93-11e6-9f83-0620df4c9f0c.gif)

[2016-12-07 15:06] 1000miles commented on #360
@holgerd as clarified [here](update/header-title-i18n-keys-community-support) here i would suggest to close this ticket for now and re-open it as soon as a larger cloudflare plan is chosen?

[2016-12-07 15:41] schultyy commented on #370
Closed this too fast, we're still waiting on FAQ and translations, therefore reopening.

[2016-12-08 10:56] schultyy commented on #483
@holgerd when should it complain about the missing lat/lon? On the last page? Or on this screen?
<img width="927" alt="screen shot 2016-12-08 at 11 55 32" src="https://cloud.githubusercontent.com/assets/235808/21007466/43025884-bd3d-11e6-82af-7d2959540751.png">

[2016-12-08 13:54] schultyy commented on #483
Just documenting my current findings on this one:

When I click through the form without filling out anything, the Developer console shows the API calls it performs. They all result in a 422 Unprocessably Entity. This means, validation already happens but results are not shown yet.

[2016-12-10 09:31] holgerd commented on #370
@1000miles FAQ intro text:

EN
Please check the [frequently asked questions](http://news.wheelmap.org/en/faq/) for help first. If the solution to your problem is not there, please answer the following questions so we can fix it.

DE
Manchmal läuft etwas nicht rund. Bitte schaue Dir unsere [häufigen Fragen und Antworten](http://news.wheelmap.org/faq/) an bevor du uns schreibst. Wenn deine Frage dor

[2016-12-12 08:34] holgerd commented on #51
@1000miles dnsimple is setup and you should have access to it via the 1p vault.

[2016-12-13 13:52] 1000miles commented on #370
@Svenyo cc @holgerd

Deployed on staging today, ready to be reviewed. :)

[2016-12-13 13:55] 1000miles commented on #496
Fixed in PR #501  and deployed on staging today (2016-12-13).

[2016-12-13 14:09] 1000miles commented on #496
**Update, 2016-12-13:**

### Comparison tests:

#### Locally in VM (vagrant):

`.deliver`method (immediately):
  - display of flash note: 20 secs after submission

after switch to `.delay` method (delayed mail delivery):
  - display of flash note: 5-6 secs after submission
---

#### On staging server:

`.deliver`method (immediately):
  - display of flash note: 1-2 secs after submission

after swit

[2016-12-13 14:28] 1000miles commented on #497
@holgerd

It seems some magic has happend here and the error is gone, or?

![00000216](https://cloud.githubusercontent.com/assets/4077916/21143846/92d5087a-c148-11e6-8822-86caeae435b2.png)

[2016-12-13 15:56] 1000miles commented on #360
As long as we don't use the bigger cloudflare plan as stated [above](https://github.com/sozialhelden/wheelmap/issues/51#issuecomment-263537808), this cert is useless. Closed for now.

[2016-12-13 15:56] #360 closed

[2016-12-13 16:28] Svenyo commented on #370
@1000miles cc @holgerd I've just checked an send a test report. Did you receive it?

There will be a minor correction necessary in the German wording.
Otherwise, there's one thing in my opinion, that's not ideal: The "Submit"-Button is half covered on my screen by the footer, same case for the German and the English version of the form.
Can this be fixed?

![bildschirmfoto 2016-12-13 um 17 26 53](

[2016-12-13 17:12] Svenyo commented on #446
Another strange case:
https://www.openstreetmap.org/way/33615555
Two days ago, the Icon had been displayed correctly on Wheelmap.org, it has now disappeared again.

[2016-12-14 09:15] holgerd commented on #370
@1000miles What @Svenyo said and LGTM and ready to go live then.

[2016-12-14 09:56] 1000miles commented on #370
@Svenyo cc @holgerd

Thank you for your feedback. We will replace the translation text according to your [feedback](https://github.com/sozialhelden/wheelmap/issues/370#issuecomment-266786765) and optimize the submit button.

Also we would love to suggest following additional tasks (for which we need your feedback/approval):

1. switch email template from plain text to html (or is plain text so far

[2016-12-14 10:32] karolinamakaruk opened #505 "Bug: Toilet status - unknown appears on OSM"
- I opened Mozilla Firefox and I logged in on the: https://wheelmap.org/en/map#/?zoom=19 as karolinamakaruk user

- I added a new place: I created a bar and gave a name test POI. I added the address Ribnitzer Str. 11
In the information on wheelchair accessibility I chose: Wheelchair accessible, and
Toilet status - unknown
[poi detail](https://wheelmap.org/en/map#/popup/4550973093?lat=52.5703919253

[2016-12-14 11:05] karolinamakaruk commented on #505
I tested also Android app, and result is the same.
- Wheelmap version: 3.0.3 (Build 515)
- Android model: Project Tango Tablet Development Kit
- Android version: 4.4.2

http://www.openstreetmap.org/node/4553744889

[2016-12-14 13:42] 1000miles opened #508 "[Translations] Fetch & introduce Community Support Form"
This is a follow-up ticket for #370 so that we keep track of the upcoming translation process.

@TODO:
- [x] Send merged `relaunch.yml` (EN) file to Sozialhelden => tbd by @1000miles
- [x] Upload `relaunch.yml`(EN) file on transifex to roll out the translation process => tbd by @Svenyo
- [x] Deploy DE & EN version to live server after approval => tbd by @1000miles
- [x] Inform devs when translatio

[2016-12-14 13:47] 1000miles commented on #508
@Svenyo As discussed please find attached the merged into master version of the resource file `relaunch.yml` (EN) that you can upload on transifex. :)

[EN_relaunch.yml.zip](https://github.com/sozialhelden/wheelmap/files/651874/EN_relaunch.yml.zip)

[2016-12-14 15:06] Svenyo commented on #508
@1000miles cc @holgerd The updated source file has been uploaded to Transifex and the translation process has been started. Translations will be ready on Tuesday.

[2016-12-14 16:04] 1000miles commented on #370
@Svenyo cc @holgerd @karolinamakaruk

Following tasks have been done, deployed on staging and can now be reviewed:
- [x] replace german text according to your [feedback](https://github.com/sozialhelden/wheelmap/issues/370#issuecomment-266786765)
- [x] optimize layout of community support form for mobile

**Open questions (if you want us to work on these tasks):**
- switch email template from plain

[2016-12-14 16:04] 1000miles commented on #508
Great, thanks for the info. :)

[2016-12-15 11:30] 1000miles commented on #450
@Svenyo cc @holgerd Can you please specify here what to do when users call `wheelmap.org/architektur`?

Usually wordpress redirects the user automatically to the follow-up path that has been changed but the `404 - not found` indicates that this page has been removed permanently on wordpress.

Shall we delete the redirect from `/architektur` nginx or will you create a new page and send us the url t

[2016-12-15 11:34] 1000miles commented on #450
P.S. Can you also please specify where to direct following links because they also return a `404 - not found` at the moment.

- `/goes-london` => http://wheelmap.org/impressum/archiv/ => https://news.wheelmap.org/impressum/archiv/ (error 404)
- `/goeslondon` => http://wheelmap.org/impressum/archiv/ => https://news.wheelmap.org/impressum/archiv/ (error 404)

[2016-12-16 11:05] 1000miles opened #510 "[Domains] Fix redirects of wheelmap TLD (DE, NET, COM )"
Since #51 has a long tail of comments (50) we created this follow-up ticket to have a better overview what is finally left to do.

# Index

@TODO
- [ ] Get an overview of involved hosts/servers and their ip addresses
- [ ] List redirectings (backtrace) for wheelmap.de, wheelmap.com, wheelmap.net, wheelmap.org, accessforeverybody.com, accessforeverybody.org
- [ ] Set alias records for domains & sub

[2016-12-16 11:06] 1000miles commented on #51
Closing in favor of https://github.com/sozialhelden/wheelmap/issues/510.

[2016-12-16 11:06] #51 closed

[2016-12-16 11:09] schultyy commented on #491
I did some debugging on this issue. What I found out so far:

- The case described above is specific to some places. E.g. when I search for Suarezstr. 1 14057 Berlin, it appears on the correct side of the street
- I searched for `Prenzlauer Allee 23, 10405 Berlin` on [https://photon.komoot.de/](https://photon.komoot.de/) and there it renders the place on both sides of the street

<img width="848"

[2016-12-16 11:14] schultyy commented on #491
Interestingly when I check what the Photon request the browser makes returns, we only get back `Prenzlauer Allee 230`:

[code]

[2016-12-16 11:18] schultyy commented on #491
Doing the same with `limit=2` returns first `Prenzlauer Allee 230` as before but then also `Prenzlauer Allee 23`:

[code]

[2016-12-16 14:41] schultyy commented on #491
The reason for the strange behavior that the address sometimes is a bit off is that we get back multiple results from Photon. My first attempt to solve this was to be a bit intelligent on which result to take by matching the street name and the house number with the address the user entered. But turns out it's rather difficult for a couple of reasons:

- I search for `Ohlauer Str`. The result's st

[2016-12-19 10:45] schultyy commented on #464
We already show this message:
<img width="612" alt="screen shot 2016-12-19 at 11 29 18" src="https://cloud.githubusercontent.com/assets/235808/21309387/740ffb1c-c5de-11e6-8f44-a2540e5f438a.png">
We can definitely improve this message to point out better that it takes a bit until the node shows up on the map.

Concerning the email:
My feeling is, that this works fine if I create a new node occasion

[2016-12-19 15:42] 1000miles commented on #92
Solved in PR #511. Closed.

[2016-12-19 15:42] #92 closed

[2016-12-19 15:44] 1000miles commented on #370
@svenyo cc @holgerd

This community support form has been deployed on production with release [20161219152440](https://github.com/sozialhelden/wheelmap/releases/tag/production-20161219152440) today (2016-12-19).

[2016-12-19 16:38] holgerd commented on #483
LGTM. I see an error message now on staging when not  entering any address.

[2016-12-20 09:01] #483 closed

[2016-12-20 09:24] 1000miles commented on #370
Holger Dieterich wrote:

Therefore we close this ticket.

[2016-12-20 09:24] #370 closed

[2016-12-20 09:26] 1000miles commented on #496
Done and deployed to production with release 20161219152440. Closing.

[2016-12-20 09:26] #496 closed

[2016-12-20 10:42] 1000miles commented on #510
Closing in favor of https://github.com/sozialhelden/wheelmap-privateissues/issues/41

[2016-12-20 10:42] #510 closed

[2016-12-21 08:54] holgerd commented on #491
As discussed on slack

1. check back with photon developers if the might have a "best match" or other solution to this behavior. If not, then
2.` If we get back more than one result from Photon the user needs to pick the correct one from a list populated with everything we got back from Photon. ` This is IMHO a good solution because it provides context to the user and also a feeling of progress. M

[2016-12-21 09:00] holgerd opened #512 "adding a new node on iOS only saves wheelchair, not toilet"
- I'm logged in on the iOS App (3.0.3 Build 209) and add a new node, giving it wheelchair=no and toilets:wheelchair=no and click save.
- I reload after some minutes and find the new node as expected. But the toilets:wheelchair is not set and displayed as "unknown". It is this node: https://www.openstreetmap.org/node/4563117791
- I expected that the toilet tag is also saved.

[2016-12-21 09:06] holgerd commented on #505
maybe related: https://github.com/sozialhelden/wheelmap/issues/512

[2016-12-21 09:21] holgerd commented on #450
ping @Svenyo

[2016-12-21 09:49] holgerd opened #513 "Add "FAQ"-Link to main menu"
between "contact" and "report a problem"

if DE: to german FAQ
else: to english FAQ

[2016-12-21 09:51] holgerd opened #514 "main menu overlaps icons"
<img width="837" alt="wheelmap_-_rollstuhlgerechte_orte_finden" src="https://cloud.githubusercontent.com/assets/218506/21384579/68e8c672-c76b-11e6-9e8c-bcb76c5c7074.png">

[2016-12-21 12:00] Svenyo opened #515 "Implementing Czech (cs) as a new language"
- Create a map version for Czech: //wheelmap.org/cs/map
- Implement Czech = "Čeština" in the dropdown menu
- Fetch translations from Transifex

[2016-12-21 12:05] Svenyo opened #516 "Implementing Portuguese (pt) as a new language"
- Create a map version for Portuguese: //wheelmap.org/pt/map
- Implement Portuguese = "Português" in the dropdown menu
- Fetch translations from Transifex

[2016-12-21 12:58] Svenyo commented on #450
Hi @1000miles, for
wheelmap.org/architektur
wheelmap.org/goes-london
wheelmap.org/goeslondon

there are no contents on the new blog, so an error 404 seems right to me.

[2016-12-21 14:43] 1000miles commented on #516
As discussed with @Svenyo today we are supposed to use following locale versions for portuguese:
- `pt` https://github.com/sozialhelden/wheelmap/tree/master/config/locales/pt
- `pt_BR` https://github.com/sozialhelden/wheelmap/tree/master/config/locales/pt_BR

@holgerd Please decide what to do with this locale folder `pt_PT` (this seems to be redundant):
https://github.com/sozialhelden/wheelmap/tre

[2016-12-21 16:00] 1000miles commented on #515
**Update, 2016-12-21:**

@Svenyo cc @holgerd @karolinamakaruk

Following tasks have been done today and can be reviewed:

- set `cs` as new available locale - PR #518
- fetch translations for `cs` - PR #517
- deploy to staging with [release 20161221152553](https://github.com/sozialhelden/wheelmap/releases/tag/staging-20161221152553)

[2016-12-21 16:02] 1000miles commented on #516
**Update, 2016-12-21:**

@Svenyo cc @holgerd @karolinamakaruk

Following tasks have been done today and can be reviewed:

- set `pt` as new available locale - PR #518
- fetch translations for `pt` - PR #517
- deploy to staging with [release 20161221152553](https://github.com/sozialhelden/wheelmap/releases/tag/staging-20161221152553)

[2016-12-21 16:36] Svenyo commented on #516
@1000miles Done the review. The wording of the accessibility status is a bit too long to fit in the buttons, but looking at the pt_BR version, it's the same there. The rest is fine. I'll say: deploy to production and we'll take care of the wording later.

[2016-12-21 16:40] Svenyo commented on #515
Looks fine! Can be deployed.

[2016-12-21 17:34] 1000miles opened #519 "[Locale] Switching from regional lang to another locale leads to `404 - not found`"
The locale switcher fails when switching from a regional language to another locale because it tries to map a wrong url pattern.

- I go to wheelmap.org which has  german (de) as default language
- I switch from german (de) to português do brasil (pt_BR) => switch works fine! (https://wheelmap.org/pt_BR/map#/?zoom=10)
- When I try to switch from `pt_BR` to any other language (e.g. `es`) => I get a

[2016-12-22 10:25] 1000miles commented on #515
**Update, 2016-12-22:**

Deployed to production with release [20161222101339](https://github.com/sozialhelden/wheelmap/releases/tag/production-20161222101339) today. Closed.

[2016-12-22 10:25] #515 closed

[2016-12-22 10:26] 1000miles commented on #516
@Svenyo Alright, thanks for letting us know.

[2016-12-22 10:26] 1000miles commented on #516
**Update, 2016-12-22:**

Deployed to production with release [20161222101339](https://github.com/sozialhelden/wheelmap/releases/tag/production-20161222101339) today. Closed.

[2016-12-22 10:26] #516 closed

[2016-12-22 10:29] 1000miles commented on #508
**Update, 2016-12-22:**

Deployed to production with release [20161222101339](https://github.com/sozialhelden/wheelmap/releases/tag/production-20161222101339) today. Closed.

[2016-12-22 10:29] #508 closed

[2017-01-02 10:26] Svenyo opened #521 "Node has disappeared"
@1000miles cc @holgerd
I edited the phone number of a place that was visible on https://wheelmap.org/nodes/-152854733
11 days later, I check up on the place again. The URL shows a blank page and the entry has disappeared from Wheelmap while it's still visible on OSM. I also get a result when typing the name of the place in the Wheelmap search bar.

![bildschirmfoto 2017-01-02 um 11 24 53](https://

[2017-01-02 10:56] holgerd commented on #512
I just reproduced this today by adding this node: https://www.openstreetmap.org/node/4585169493/history (I removed it to avoid cluttering the OSM with test entries)

[2017-01-02 11:01] holgerd commented on #512
Using iPhone again, I added the toilets:wheelchair info to an existing POI and that worked as expected (this one: https://www.openstreetmap.org/node/1395834598 )

[2017-01-02 11:25] holgerd opened #522 "Show link to travelable in menu"
- When I'm on the wheelmap map view, I want to see a link to Wheelmap's sister project travelable so I can learn about the general accessibility of that city.
- The link is only displayed if:
1. I'm in one of the cities with travelable information (list here: http://travelable.info/#infoseiten ) and
2. my locale is German

Example: When I'm on https://wheelmap.org/map#/?lat=52.52207036136366&lon=1

[2017-01-02 12:34] holgerd commented on #522
we don't like this approach.

New idea:
Add a main menu link in the German version "Reiseführer" which links to http://travelable.info/ (no dependency to the map location).

[2017-01-02 12:36] holgerd commented on #512
@Svenyo can you pleas test this on android?

[2017-01-02 12:38] holgerd commented on #521
My hunch is that the sync stopped working again.

[2017-01-02 12:40] holgerd commented on #497
@1000miles you need to be logged-in to see this.

[2017-01-02 12:41] holgerd commented on #497
@Svenyo 's hunch is that the translation key is missing in the code. As far as we remember this alert text was once hard-coded by @lennerd .

[2017-01-02 12:43] holgerd commented on #491
@schultyy what is the status of this?

[2017-01-02 12:59] holgerd commented on #477
I just looked at http://hdyc.neis-one.org/ and saw that android_visitor added 687 nodes until today.

[2017-01-02 13:28] holgerd opened #523 "wheelmap maintenance page"
When wheelmap is not available, I want to see a page which tells me so and shows Wheelmap's Twitter feed so I can read the latest update on why it is down and when it might be up again.

[2017-01-02 13:29] holgerd commented on #463
good idea, but maybe we should implement #523 first.

[2017-01-02 13:32] holgerd commented on #464
@schultyy good point, the problem might just be that the notice is often overlooked.

A design challenge, maybe?

[2017-01-02 13:38] holgerd commented on #450
ok so this is expected behavior.

[2017-01-02 13:38] #450 closed

[2017-01-02 13:40] holgerd commented on #448
lgtm

[2017-01-02 13:40] #448 closed

[2017-01-02 13:42] holgerd commented on #446
maybe related: #521

[2017-01-02 13:43] holgerd commented on #521
Strange: https://wheelmap.org/nodes/-152854733 now shows up.

[2017-01-02 13:45] Svenyo commented on #446
Similarity of all those places not shown: They are "ways" on OSM. Maybe this could be an approach to examine the problem.

[2017-01-02 13:46] Xylakant commented on #446
i don't think we actually import ways.

[2017-01-02 13:50] holgerd commented on #439
We did not see an new occurences.

[2017-01-02 13:50] #439 closed

[2017-01-02 13:53] holgerd commented on #435
@Svenyo can you look into this?

[2017-01-02 13:56] holgerd commented on #401
related #480

[2017-01-02 13:56] holgerd commented on #398
dependend on #468

[2017-01-02 13:58] holgerd commented on #395
@Xylakant imho we should  redirect at the webserver level. Since the old iPhone app is already "out there in the wild" we cannot change the URL there.

[2017-01-02 13:59] holgerd commented on #357
related #523

[2017-01-02 14:01] holgerd commented on #348
related #512

[2017-01-02 14:06] holgerd commented on #492
related: #505

[2017-01-02 16:26] schultyy commented on #491
@holgerd I started implementing this before the Christmas holiday. This is work in progress

[2017-01-03 07:49] Hoverbear commented on #464
I definitely overlooked the notice a couple times when adding things to wheelmap. :)

A dialog or "You did it!" page might be noticed more.

[2017-01-03 08:41] 1000miles commented on #522
maybe rethinking the main menu concept (break points, burger icon) would be the best here because we might not have enough space soon for smaller desktop screens (13") when we need to add "faq" and "travel guide" to the current main menu in the future? also we need to consider that the translated text could be much longer in other languages.

[2017-01-03 09:15] holgerd commented on #468
Plan: 1 PT for estimation by @schultyy

[2017-01-03 09:31] holgerd commented on #491
We discussed today that we put this on hold for now.

[2017-01-03 09:37] holgerd commented on #521
@1000miles please check created_at and updated_at of this node.

[2017-01-03 09:38] 1000miles commented on #521
Even though https://wheelmap.org/nodes/-152854733 now shows up we need to investigate this strange behavior.

[2017-01-03 13:24] schultyy commented on #468
I start to line up some ideas and thoughts regarding this topic.
The current API cannot be touched in terms of URL structure. This would probably break behavior with all mobile clients deployed right now. So what we will do is to keep the old urls alive (`/api/<path>`.

All new features will be living in the `/api/v2/` namespace. A thing which remains to be decided is if we port all existing funct

[2017-01-03 14:01] Hoverbear commented on #468
@schultyy It may be valuable to think about what happens for `/v3/`, `/v4/` etc.

For example, say we have `v4` of the API do we want the client to have to consider which API version they need to call for each call? Maybe it would be better to say "If there is no `/v4/foo` then redirect to `/v3/foo` and so on.

[2017-01-04 09:46] schultyy commented on #468
@Hoverbear Concerning the redirect: You mean issuing a HTTP redirect to the client then?

[2017-01-04 11:04] 1000miles commented on #521
As discussed yesterday here are the required infos from the database:

[code]

[2017-01-04 13:09] schultyy commented on #468
The original API namespace has to be preserved: https://github.com/sozialhelden/wheelmap/blob/master/config/routes.rb#L113-L168 to ensure that currently deployed clients still work as expected.

## Routes

Inside of the `api` namespace we will start to define namespaces for `v2`, `v3` etc which then contain the routes to the respective endpoints.

## Versions

A new namespace must be defined if an

[2017-01-04 13:20] schultyy commented on #468
## API Keys

Right now API Keys are passed via query parameter:

[code]

For future API versions we might consider changing this because now they key will appear in web server logs and also will be cached since it's part of the URL.

[2017-01-04 13:58] 1000miles opened #526 "[Menu] Remove nav item "Über wheelmap""
As agreed with @svenyo today we want to get rid of the nav item `Über wheelmap` in the main menu because of following reasons:
- we don't have enough space for the main menu anymore when adding `FAQ` and `Reiseführer` as new nav items
- `Über wheelmap` and `FAQ` would link to the same page (https://news.wheelmap.org/faq)

[2017-01-04 14:12] 1000miles commented on #526
@svenja cc @holgerd

If we remove the nav item `Über wheelmap` should we also remove the key (:about_wheelmap) from all `locale/relaunch.yml` or is it enough to only update the `en/relaunch.yml` file and send it to you for transifex?

[2017-01-04 15:21] Svenyo commented on #526
It should be enough to change it in the english source file. For the new "travel guide" in the menu we'd need translations anyways.

[2017-01-04 16:06] 1000miles commented on #526
@Svenyo Merci for the quick feedback.

[2017-01-05 07:26] Hoverbear commented on #385
As far as I can tell the page itself (`https://wheelmap.org/notthere`) is actually served by WordPress (community.wheelmap.org) as well. This is evidenced by the `Link` and `X-Powered-By` headers on the response:

[code]

[2017-01-05 09:31] holgerd commented on #521
Thanks @1000miles . In the [node history on OSM](http://www.openstreetmap.org/way/152854733/history) I see:

-  The wheelchair info was added by @Svenyo on Jan 2, 10:28am UTC.
- Before that, she added tags to the place on Dec 22nd in this [changeset](http://www.openstreetmap.org/changeset/44591234) (as [she said](https://github.com/sozialhelden/wheelmap/issues/521#issue-198317007) in in her initia

[2017-01-05 09:42] holgerd commented on #521
@schultyy suggested to investigate further so I reopen this.

[2017-01-05 09:45] 1000miles commented on #522
Obviously when using `//travelable.info` as external link in the main menu it leads to following page https://travelable.info where not all stylesheets are loaded properly, so for now we will add the `http:` protocol to the link to fix this until ssl/tls is enabled on travelable.info in the future.

![00000231](https://cloud.githubusercontent.com/assets/4077916/21675908/ea143dc0-d333-11e6-886a-2dd

[2017-01-05 10:43] holgerd opened #529 "text flow issue on bubble"
When I'm browsing the map in languages with long words (eg. french, portuguese), the text flows to the second line in the bubble and is not readable anymore.

example reported [via facebook](https://www.facebook.com/photo.php?fbid=10211566250094129&set=p.10211566250094129&type=3&theater):
![15875622_10211566250094129_7718086012747995771_o](https://cloud.githubusercontent.com/assets/218506/21677385

[2017-01-05 16:36] schultyy commented on #446
So I digged a bit. My first clue was that since it's a way on OSM it's not imported at all. This is not true for the following reasons:

- Next to the McDonalds is a parking lot. It's a way as well and available on wheelmap
- The job logs tell that this has been on Wheelmap as well. The osm ID shows up in the logs together with the edited fields

My feeling is, that this has been deleted, two poss

[2017-01-06 10:18] holgerd commented on #522
Since we only offer the travel guide in German for the foreseeable future, I suggest we omit the link in all other languages altogether.

Can you please change this?

Other than that, LGTM.

[2017-01-06 12:55] Hoverbear commented on #529
So there are a few options for tackling this:

* Shrinking the text to fit in the space.
* Having the bubble adapt its width.
* Having the button grow to multiple lines.
* Let it get cut off but have the alt-text tooltip show the whole term.

[2017-01-06 13:00] Hoverbear commented on #469
Would this data not already be present in OSM?

[2017-01-06 13:24] schultyy commented on #446
I had a look at the MySQL log to see if there's anything useful. I see `INSERT` statements for our McDonalds but can't see any logged `DELETE` statement.

[2017-01-06 13:59] Hoverbear commented on #522
@1000miles travelable.info works on https the assets it loads are just hardcoded to be over http. :( I asked on Slack and it looks like @thermann78 would be the person to talk to about resolving this.

[2017-01-09 08:39] holgerd commented on #480
I've created a mapillary user "sozialhelden" for this and put in in the shared 1p-vault.

[2017-01-09 08:45] holgerd commented on #401
IMHO:
https://developers.google.com/maps/documentation/javascript/3.exp/reference?hl=de#StreetViewSource

[2017-01-09 09:37] schultyy commented on #468
Follow up for API Keys:

Other APIs handle it like this for example:
- Make use of the `Authorization` header: `curl -H "Authorization: token OAUTH-TOKEN" https://api.github.com`

[2017-01-09 09:51] Hoverbear commented on #468
@schultyy No I mean on the server it just gets transparently passed down. :) The client never noticed or cares. Using a 301 redirect would incur a round trip.

[2017-01-09 09:52] Hoverbear commented on #468
I've used the `Authorization` header before and it works quite well. Well supported too!

[2017-01-09 10:58] 1000miles commented on #522
@Hoverbear Thanks, @hoverbear.

@thermann78 How do we progress here? Any feedback? :)

[2017-01-09 11:21] 1000miles commented on #526
**Update, 2017-01-09:**

- deployed to staging, 2017-01-06
- deployed to production, 2017-01-09 with [release 20170109110124](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170109110124)

[2017-01-09 11:21] #526 closed

[2017-01-09 11:24] 1000miles commented on #522
**Update, 2017-01-09:**

- deployed to staging, 2017-01-06
- deployed to production, 2017-01-09 with [release 20170109111423](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170109111423) &  [release 20170109110124](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170109110124)

[2017-01-09 11:25] 1000miles commented on #519
**Update, 2017-01-09:**

- deployed to staging, 2017-01-06
- deployed to production, 2017-01-09 with [release 20170109110124](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170109110124)

[2017-01-09 11:25] #519 closed

[2017-01-09 11:25] 1000miles commented on #514
**Update, 2017-01-09:**

- deployed to staging, 2017-01-06
- deployed to production, 2017-01-09 with [release 20170109110124](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170109110124)

[2017-01-09 11:25] #514 closed

[2017-01-09 11:26] 1000miles commented on #513
**Update, 2017-01-09:**

- deployed to staging, 2017-01-06
- deployed to production, 2017-01-09 with release 20170109110124](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170109110124)

[2017-01-09 11:26] #513 closed

[2017-01-09 11:28] thermann78 commented on #522
@Hoverbear @1000miles issue fixed, thx 4 report 👍

[2017-01-09 11:31] Hoverbear commented on #522
@thermann78 I cannot confirm that the issue is fixed.

<img width="750" alt="screen shot 2017-01-09 at 12 30 20" src="https://cloud.githubusercontent.com/assets/130903/21765174/7d2813d0-d667-11e6-9d75-487cf4f53600.png">

[2017-01-09 11:32] 1000miles commented on #522
@thermann78  me, too. i still see the same assets issue as @hoverbear mentioned.

let's close this ticket and create a follow-up ticket for this.

[2017-01-09 11:34] thermann78 commented on #522
Sorry, server-side caching. Now srsly fixed :rofl:

[2017-01-09 11:35] Hoverbear commented on #522
Confirmed!

[2017-01-09 12:48] 1000miles commented on #522
Re-opening again because of opening @TODO:

- [ ]  change `http://travelable.info` back to `//travelable.info` - tbd by @1000miles
- [ ] create follow-up ticket for `https` issue on travelable.info  - tbd by @thermann78

[2017-01-09 12:50] schultyy commented on #446
I am closing this one with Won't fix because it's not possible to be certain how this McDonald's disappeared.

[2017-01-09 12:50] #446 closed

[2017-01-09 13:03] 1000miles commented on #522
As discussed with @schultyy and @justahero we will change to `https` protocol due to following reasons:
- loading errors (e.g. mixed content) will be discovered faster
- if ssl/tls is available on a domain we should use it

[2017-01-09 13:04] schultyy commented on #505
This is fixed in #530

[2017-01-09 13:04] #505 closed

[2017-01-09 13:18] schultyy commented on #521
I already invested some time in #446 where we closed it as Won't fix because we couldn't find out what's causing the deletion. This one is a similar case. I didn't find any `DELETE` statement in the MySQL `slow.log` file also no hint in any other log file.

What we could do is to enhance the `planet_reader` which is performing the import into MySQL to write logs with Ids it created or deleted to s

[2017-01-09 13:20] schultyy opened #534 "PlanetReader should log OSM Ids"
Follow-up for #521 and #446

We encountered the case that at some point nodes went missing on wheelmap.org. To see if this happened during the OSM import we want to enhance the `PlanetReader` in that way that it logs all OSM ids for POIs it creates or deletes.

[2017-01-09 16:11] schultyy commented on #492
We deployed the fix for this one directly on production because on Staging all jobs talking to OSM are disabled.

[2017-01-09 16:14] 1000miles commented on #492
Re-opening, ready for review. @holgerd & @Svenyo

[2017-01-10 08:03] 1000miles commented on #497
@holgerd cc @Svenyo

So I digged a bit into this case. There was already an `alert` key in `en/relaunch.yml` in a branch (2016, sept 6) that has been merged into master but was somehow deleted again from master. Maybe it got lost during the rebase process?

I am not sure if this key worked or was hard coded because the structure being used was `t('.alert')` instead of `t('nodes.node_photos.alert')

[2017-01-10 08:36] holgerd commented on #469
@Hoverbear Yes it is in OSM. Eg. https://www.openstreetmap.org/way/32487700/history but it is very technical and not focused on a11y.

[2017-01-10 08:39] holgerd commented on #523
Suggested wording: "Wheelmap has technical difficulties at the moment, the problem has been logged. Please check twitter for latest updates."

Then show the twitter user timeline of https://twitter.com/wheelmap

https://dev.twitter.com/web/embedded-timelines/user

[2017-01-10 08:44] holgerd commented on #400
the wrong tag has been used ca 4000 times by 700 users so far:
https://taginfo.openstreetmap.org/keys/?key=wheelchair_toilet

[2017-01-10 09:14] holgerd commented on #430
@Hoverbear discuss with @1000miles on where to purge this (new or old env?)

[2017-01-10 09:18] holgerd commented on #480
as step one, just Mapillary.

[2017-01-10 09:24] 1000miles commented on #523
Along with this ticket we'd love to also add a page for `404 - not found` as suggested here: https://github.com/sozialhelden/wheelmap/issues/137

[2017-01-10 09:28] holgerd commented on #469
@Hoverbear looks into this. :=)

[2017-01-10 09:40] holgerd commented on #463
more info here: https://github.com/sozialhelden/wheelmap/issues/357#issuecomment-241739486

[2017-01-10 10:35] holgerd commented on #497
@1000miles find the text here: https://github.com/sozialhelden/wheelmap/pull/327#issuecomment-234933168

[2017-01-10 10:41] Hoverbear commented on #137
<img width="700" alt="screen shot 2017-01-10 at 11 38 20" src="https://cloud.githubusercontent.com/assets/130903/21803207/5bc2a2f6-d729-11e6-9d0d-0e3ba576d380.png">

There is a current 404 page which is served by Wordpress.

This is what is served if you query a node which doesn't exist, for example:

<img width="700" alt="screen shot 2017-01-10 at 11 40 56" src="https://cloud.githubusercontent.co

[2017-01-10 10:43] schultyy opened #537 "API::NodeController#create behaves differently on Staging"
The `create` action in `api::NodesController` behaves different when it's in staging environment. Instead of enqueuing the job it's creating the Node directly.

[code]
Reference:
https://github.com/sozialhelden/wheelmap/blob/master/app/controllers/api/nodes_controller.rb#L145-L151

This has several drawbacks:

- The API client can access the POI directly after it's been saved on Staging but not in

[2017-01-10 10:55] lennerd commented on #137
btw. there is written some error message beneath the header. 🙈

[2017-01-10 10:57] Hoverbear commented on #523
I'll be working on setting up a simple, standalone maintenance page that we can host on Github Pages and redirect users to when wheelmap is down and/or inaccessible.

[2017-01-10 11:05] Hoverbear commented on #523
Can we please confirm that this will be English / German only? Here is my proposed text for English:

---

### Wheelmap is Under Maintenance

Looks like you have visited us at a bad time! We are really sorry about this. Rest assured we're working very hard to get things back in tip-top shape for you.

If you need some information about accessibility right away please head over to [OpenStreetMap](h

[2017-01-10 11:42] 1000miles opened #538 "[FE/Design] Locale dropdown not rendering consistently on all pages"
**Background:**
- I go to `wheelmap.org` (default language: DE)
- I click on the nav item `Problem melden`
- on https://wheelmap.org/community_support/new I expect to see the locale switcher dropdown to be rendered properly on all pages instead I see a not fully rendered locale switcher dropdown

**Important to know:**
- this behavior does not occur consistently, means on some pages it renders the

[2017-01-10 12:31] 1000miles opened #539 "[Translation] Fetch translations for 'photos upload alert'"
This is a follow-up ticket for https://github.com/sozialhelden/wheelmap/issues/497

@TODO
- [x] add key and text to `de/relaunch.yml` and `en/relaunch.yml`- tbd by @1000miles
- [x] send updated `en/relaunch.yml` to @Svenyo  - tbd by  @1000miles
- [x] upload updated `en/relaunch.yml` to transifex - tbd by @Svenyo
- [x] fetch latest translations from transifex after OK from @Svenyo - tbd by @1000mil

[2017-01-10 12:39] 1000miles commented on #522
**Update, 2017-01-09:**

Deployed to production today with [release 20170110101704]( https://github.com/sozialhelden/wheelmap/releases/tag/production-20170110101704). Closing.

[2017-01-10 12:39] #522 closed

[2017-01-10 13:09] holgerd commented on #148
From Adam:

______

just doing last minute checks of the apps before the review, and I notice that the wheelmap API doesn't work when getting nodes for a particular category...

https://wheelmap.org/api/categories/1/nodes?api_key=APIKEY&bbox=13.341,52.505,13.434,52.523&per_page=10&wheelchair=yes

it works when just getting all nodes though:

https://wheelmap.org/api/nodes?api_key=APIKEY&bbox=13.34

[2017-01-10 15:11] 1000miles commented on #492
Thanks for the feedback, @karolinamakaruk ! 🎉

[2017-01-10 15:11] #492 closed

[2017-01-10 15:26] 1000miles commented on #148
@holgerd

Following are the infos we can provide after our short research today:

**Browser Err output**

`{"status":"500","error":"Internal Server Error"}`

**Server Err Log:**
[code]

**Assumption:**
- a) error is not user-related (tested with 2 different api keys)
- b) error is not data-related (tested with different and no params)
- c) error occurs permanently
      - `/api/categories/1/node_t

[2017-01-10 17:19] 1000miles commented on #401
@schultyy

I put a bit research on the documentation page @holgerd posted (https://developers.google.com/maps/documentation/javascript/3.exp/reference). I assume this seems to be the interesting part for us?

`google.maps.StreetViewLocationRequest`
![00000241](https://cloud.githubusercontent.com/assets/4077916/21816609/fb0921a0-d760-11e6-9d71-ede4ae200662.png)

`google.maps.StreetViewSource.OUTDOO

[2017-01-10 17:26] 1000miles commented on #401
And from what I can see so far it is already specified in the [`nodes.coffee`
 file](https://github.com/sozialhelden/wheelmap/blob/8df541107ed785f82a2436ebe53d11129e7e2fba/app/assets/javascripts/nodes.coffee#L263-L266):

[code]

@TODO

- [ ] Find out why specifying OUTDOOR views only doesn't work

[2017-01-11 08:22] 1000miles commented on #401
@holgerd Just to check-in again: You don't want 360° panorama views at all or just only outdoor views?

[2017-01-11 10:10] Hoverbear commented on #523
@holgerd What are your thoughts on this first draft? https://sozialhelden.github.io/wheelmap-maintenance/

[2017-01-11 10:54] 1000miles commented on #497
@holgerd cc @Svenyo @karolinamakaruk

**Update, 2017-01-10:**
- PR #540 is deployed to [staging](https://github.com/sozialhelden/wheelmap/releases/tag/staging-20170111105152) and ready for review
   - (preconditions: you have to log in and accept the terms in order to see the image alert)

[2017-01-11 15:41] schultyy commented on #512
Writing down my findings so far:

- Android sends `toilet_wheelchair` as expected (saw this in the server logs)
- According to the logs iPhone does not send `toilet_wheelchair`

I also found but not directly related to this issue:

- iPhone sends all data in the request body, sends the API key via HTTP Header
- Android sends all data including the API Key via query parameters

[2017-01-12 07:15] #137 closed

[2017-01-12 08:37] holgerd commented on #512
Regarding `toilet_wheelchair `: This is an invalid tag I was not aware of before. Maybe you mean wheelchair_toilet as described in issue  https://github.com/sozialhelden/wheelmap/issues/400 ? (also an invalid tag.

Correct is only `toilets:wheelchair=yes/no`

[2017-01-12 08:39] holgerd commented on #512
@jan the issue here is that toilet is not saved if both attributes are set at the same time (`wheelchair` and `toilets:wheelchair`)

[2017-01-12 09:59] schultyy commented on #512
Regarding `toilet_wheelchair` and `wheelchair_toilet`:
When an API Client (iOS or Android) sends data to create a new POI they send toilet_wheelchair. The API then converts `toilet_wheelchair` to `toilets:wheelchair` for OSM.

[2017-01-12 11:50] schultyy commented on #512
To narrow the problem down I did the following:

- Wrote some tests to ensure that `wheelchair` and `toilets:wheelchair` are actually correctly set. This works as expected.
- Wrote another test which ensures that the API endpoint correctly passes `wheelchair` and `toilets:wheelchair` to OpenStreetMap. This works as expected.
- I created a new POI via the iPhone application and had a look at the se

[2017-01-12 12:52] schultyy opened #546 "Data in POST requests can only be passed in request body"
While working on #512 I discovered that the API clients pass data in different ways to the API when they want to create a new node.

Android:
The Android client puts all data into query parameters
iOS:
The iOS client passes all data in the request body, JSON encoded.

In the next API version data should only be accepted if it is passed in the request body and it's JSON. Anything else shall not be

[2017-01-12 12:53] schultyy commented on #546
Client requirements:
If data is sent via POST/PUT request, the client has to:
- send the `Content-Type: application/json` header
- send JSON encoded data

[2017-01-12 12:57] schultyy commented on #468
Concerning API Keys:

During my work on #512 I discovered that the iOS client is already using the `X-API-KEY` header. So it needs to be decided if `X-API-KEY` shall be kept and made the required way for all clients or the token shall be passed via the `Authorization` header.

[2017-01-13 14:25] #534 closed

[2017-01-13 16:04] Hoverbear commented on #90
https://github.com/sozialhelden/wheelmap/pull/431 contributes both a working Vagrant box as well as some brief instructions.

[2017-01-13 16:06] Hoverbear commented on #84
We noted this as well and brought it up in a meeting some time ago. I believe the conclusion was that "Some data is better than no data at all".

I'm going to close this due to age/inactivity, if anyone wants to tackle it or objects to this conclusion please just reopen it.

[2017-01-13 16:06] #84 closed

[2017-01-13 16:09] Hoverbear commented on #83
Related to #84 , similar conclusion. If anyone wants to tackle this or objects to the idea just reopen it. :)

[2017-01-13 16:09] #83 closed

[2017-01-16 08:11] 1000miles commented on #497
@holgerd & @Svenyo

ping, still waiting for your approval to deploy to production. :)

[2017-01-16 08:53] holgerd commented on #401
@1000miles we only want outdoor views. All StreetView images are 360°, you are right. ;)

[2017-01-16 11:05] #148 closed

[2017-01-16 13:04] holgerd commented on #512
I will discuss this with @RaphaelHeber , thanks.

[2017-01-16 13:12] holgerd commented on #523
@Hoverbear can you please take a minute to think about the http status code for this?

[2017-01-16 13:14] Xylakant commented on #523
the proper status code für maintenance ist "503 Service Temporarily unavailable", eventuell gepaart mit einem Retry-After Header.

[2017-01-16 13:40] Hoverbear commented on #523
So it seems like Github pages does not allow for returning a custom status code.

[2017-01-16 13:40] 1000miles commented on #497
Approved live by @holgerd . :)

[2017-01-16 13:50] Hoverbear commented on #523
So it seems like the best way to do this on the new infrastructure would be to have the `loadbalancer` host a small web server that holds the webpage and returns a `503`. On the existing infrastructure I'm not really sure the best way to set this up while still sending the proper status code.

[2017-01-16 13:51] Xylakant commented on #523
I thought fabio could return the required content. However, all of that doesn't work if the LB itself needs to be taken down - in that case we'd have to redirect traffic earlier.

[2017-01-16 13:53] Hoverbear commented on #523
Yeah, so that's part of the question... Were do we host this maintenance page?

[2017-01-16 13:56] Xylakant commented on #523
the blog/wordpress would be a more or less obvious location.

[2017-01-16 14:06] Hoverbear commented on #523
I agree, on the wordpress site would probably be best.

Currently on production there is this rule in the nginx file:

[code]

However this doesn't really help us in the case that the server is down.

[2017-01-16 14:07] 1000miles commented on #497
**Update, 2017-01-16:**

Deployed to production today with [release 20170116133241](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170116133241). Closed.

[2017-01-16 14:07] #497 closed

[2017-01-16 14:18] 1000miles commented on #539
@Svenyo Please find attached the updated `en/relaunch.yml` file for ticket #497.

Happy to get info as soon as we can fetch the translations. :)

[EN_20170116_relaunch.yml.zip](https://github.com/sozialhelden/wheelmap/files/708592/EN_20170116_relaunch.yml.zip)

[2017-01-16 14:22] Hoverbear commented on #469
We currently don't store the history in the MySQL database:

[code]

I also don't see a copy of this data in our Postges instance:

[code]

According to [this page](http://wiki.openstreetmap.org/wiki/History_API_and_Database) there is no existing API or source to access to replicate this data beyond irregular snapshots.

So, if we were to want to implement this feature we would likely need to trac

[2017-01-16 14:36] Hoverbear commented on #430
So according to the source code of the [Android app](https://github.com/sozialhelden/wheelmap-android/blob/58c1503c49a0506b13c2e240a7979569b8cec3fd/app/src/main/java/org/wheelmap/android/net/MarkerIconExecutor.java#L54-L73) it fetches the zip files listed by the API call from `https://wheelmap.org/api/assets?api_key=$YOURKEY`

This result looks like this:

[code]

[2017-01-16 15:04] Hoverbear commented on #430
So i did some research based on that data. Here are the md5 hashes of the various files.

[code]

I note that `https://asset0.wheelmap.org/images/icons.zip` returns a 500 error.

[2017-01-16 15:26] Hoverbear commented on #523
I've sent a message to @thermann78 about hosting this on the Wheelmap Blog.

[2017-01-16 17:52] 1000miles commented on #400
@holgerd cc @Svenyo

We, @schultyy and me, put research on this case and here is what we found out:
- According to the production server logs the last user entry for the key `wheelchair_toilet` was from **12 dec 2016**, after that date only `toilets:wheelchair` has being used since then.
- We compared the 2 nodes controllers in `app/controllers/api/nodes_controller.rb` and `app/controllers/nodes_c

[2017-01-17 10:15] holgerd commented on #512
for reference, I reported it here: https://smartmobilefactory.atlassian.net/projects/WHEELMAP/issues/WHEELMAP-282

[2017-01-17 10:27] holgerd commented on #400
This is a suggestion from a OSM community member:

Kriterien wären aus meiner Sicht:
- Löschen von {wheelchair_toilet|toilets:wheelchair}=unknown
- Wenn beide vorhanden sind, vergleichen, bei Gleichheit wheelchair_toilet löschen
- bei Ungleichheit die Anzahl ermitteln, ob man sich die einzeln ansehen kann,
   ggf. den zeitlich neueren Wert übernehmen, meist wird das toilets:wheelchair sein
- wenn

[2017-01-17 10:28] holgerd commented on #469
thanks. So let's put this on hold for now.

[2017-01-17 12:27] Hoverbear commented on #455
https://github.com/sozialhelden/wheelmap/pull/549 is a first step towards this.

[2017-01-17 12:30] Hoverbear commented on #523
@thermann78 posted http://news.wheelmap.org/503/ today. We still need to figure out how to get it to return a 503. :)

[2017-01-17 14:44] Svenyo opened #551 "Futher .CSV export for Streetspotr from Germany and UK"
Streetspotr requested more data for the countries Germany and UK where the step spots are very popular. The goal is to have data not only on the biggest cities, but also in the countryside or smaller cities to have a better distribution of "step spots".

The parameters of the export stay the same like in #433, except for the need to define specific cities or administrative boundaries. However, the

[2017-01-18 13:35] schultyy commented on #551
We send the files to @Svenyo via Slack. Therefore closing this one now.

[2017-01-18 13:35] #551 closed

[2017-01-19 09:27] Hoverbear commented on #478
I am unable to reproduce this issue in Firefox.

Steps taken:

* Visit http://travelable.info/infoseiten/sylt/
* Click some things on the map.
* Visit https://wheelmap.org/map
* Drag the map around a bit until I get a URL like https://wheelmap.org/map#/popup/1288091305?lat=52.50812429253185&lon=13.186683654785156&zoom=14
* Click on a couple nodes (Like https://wheelmap.org/map#/popup/268917494?lat

[2017-01-19 10:03] Hoverbear commented on #395
Currently two of the redirects listed already happen.

The redirect " redirect https://community.wheelmap.org/en/imprint/privacy/ to https://news.wheelmap.org/datenschutz/ in the wordpress blog." seems to me to be not right. Currently it directs you to https://news.wheelmap.org/en/privacy/ which seems correct. I'm marking that also done.

http://blog.wheelmap.org/was-ist-wheelmap/privacy/ currentl

[2017-01-19 10:54] Hoverbear commented on #216
Currently blocked on not having access to Mapbox via 1password.

[2017-01-19 11:06] Hoverbear opened #555 "Changing my email results in a new confirmation mail"
As a user:

* I browse to https://wheelmap.org/profile/edit
* I change my email on the form.
* I hit "Speichern"
* I wait for the page to load.
* I receive an email containing the contents:

* The link points to http://wheelmap.org/users/confirmation (no key or id attached).

I expect when I change my email for it to either:

* Send a confirmation with a valid confirmation link.
* Not send me an e

[2017-01-19 12:17] holgerd commented on #216
@Hoverbear the password should be there now!

[2017-01-19 12:21] holgerd commented on #401
This is not resolved.

Places still show indoor panoramas in StreetView. Example:
https://wheelmap.org/nodes/4034138645

[2017-01-19 12:30] Hoverbear commented on #401
@holgerd Yes the patch is not live yet, sorry.

[2017-01-19 13:39] Hoverbear commented on #98
None of these queries appear to raise issues in the current development version. Can you please confirm this is still an issue?

[2017-01-19 13:50] holgerd commented on #480
@schultyy In case there is no mapillary photo, I now see a black rectangle. Example: https://staging.wheelmap.org/nodes/3017232832

Can the default background color of the widget be white or be omitteded completely?

[2017-01-19 14:05] holgerd commented on #555
@Hoverbear Yes this is a bug. And when I click the "confirmation link" I get the error message:

Confirmation token can't be blank

<img width="1130" alt="find_wheelchair_accessible_places" src="https://cloud.githubusercontent.com/assets/218506/22109579/a559ad34-de58-11e6-91bf-a52fba4e54a8.png">

[2017-01-19 15:02] schultyy commented on #480
@holgerd Sure, I'll have a look into that. We could also just not render it if there's nothing to show.

[2017-01-19 15:06] Hoverbear commented on #555
Yup, https://github.com/sozialhelden/wheelmap/issues/556 fixes it.

[2017-01-20 08:17] holgerd commented on #480
@schultyy Yes, not rendering if empty is a good soloution if that's possible!

[2017-01-20 10:11] opyh opened #558 "I'd like to get nodes from the API that are changed since a given timestamp"
Hi,

I'm Sebastian Felix Zappe, currently working on accessibility.cloud 👋

1) For the project it would be great to have a way to get nodes from the API that have recently been changed so accessibility.cloud could fetch nodes without downloading a big dataset when syncing, saving bandwidth, CPU and our time. Is this already possible? If not, how could we make this possible?
2) To really have a dat

[2017-01-20 10:43] schultyy commented on #558
So when can provide changed nodes easily already, for deleted ones we need to start writing some sort of log (another table just containing the Ids).

[2017-01-20 11:09] holgerd commented on #558
yes

[2017-01-20 13:05] schultyy commented on #480
@holgerd On Staging there's now a version available which only renders Mapillary if there's actual content available. Otherwise it stays hidden.

[2017-01-20 13:11] holgerd commented on #480
great! LGTM

[2017-01-20 14:49] schultyy commented on #480
As discussed on Slack this will go into production beginning next week

[2017-01-20 15:02] schultyy commented on #558
@opyh I'm currently thinking of the frequency you might query this data. Is there a need to have them immediately after something changed or do you fetch them in longer intervals?

[2017-01-20 15:10] schultyy commented on #558
We definitely have to change the import tasks for this, because they're the main actor when it comes to delete data.
We probably also have to have a look at ActiveAdmin as well, because via the Admin interface a user can delete a POI as well.

[2017-01-20 15:12] Xylakant commented on #558
using a trigger in the database may be an option, but much less visible.

[2017-01-20 15:39] schultyy commented on #558
Maybe it makes sense to copy the CouchDB changes stream behavior.

[2017-01-20 16:11] #555 closed

[2017-01-23 12:54] schultyy commented on #400
After some research we found out that apparently there are also 312 POIs with the tag `wheelchair:toilets` present.
For example: https://www.openstreetmap.org/node/246519847 or https://www.openstreetmap.org/node/261069419

[2017-01-23 13:53] holgerd commented on #400
and how many wheelchair_toilet ond/or wheelchair_toilets ?

[2017-01-23 14:12] 1000miles commented on #400
@holgerd

In the end we found following interesting results. :) We currently only concentrate on the fix & migration for `1. wheelchair_toilet` & `2. toilets:wheelchair`.

**1. wheelchair_toilet**
[code]
**2. toilets:wheelchair**
[code]

----

**3. wheelchair_toilets**
[code]

**4. wheelchair:toilets**
[code]
**5. wheelchair:toilet**
[code]

[2017-01-24 08:02] 1000miles opened #561 "[Footer] Add Github repo link to footer"
I noticed that currently there is no Github link anywhere on wheelmap.org. Providing a link increases the idea and benefit of open source work.

[2017-01-24 08:05] holgerd commented on #400
Whew.

[2017-01-24 08:12] holgerd commented on #466
We plan a design/concept workshop on Feb 21 together with @pixtur

[2017-01-24 08:13] holgerd commented on #302
workshop planned for feb 21

[2017-01-24 08:14] holgerd commented on #435
ping @Svenyo

[2017-01-24 08:18] holgerd commented on #349
this is done, right?

[2017-01-24 08:29] holgerd commented on #63
@1000miles this is done and obsolete now afaik?

[2017-01-24 08:50] Hoverbear commented on #63
I believe it is done.

[2017-01-24 09:19] 1000miles commented on #401
Perfect, let's close this ticket then. :)

[2017-01-24 09:19] #401 closed

[2017-01-24 09:31] holgerd commented on #523
We discussed that this should be done on the new infrastructure.

[2017-01-24 09:48] schultyy commented on #468
Also topic we need to look into:
How do we communicate API documentation in future? Use the current format or switch to something like Swagger?

[2017-01-24 09:54] Hoverbear commented on #349
It's done on infra-rebuild, I will work on backporting this to current.

[2017-01-24 10:31] 1000miles commented on #539
Partly done.

Deployed PR #560 on:
- staging [release 20170124094621](https://github.com/sozialhelden/wheelmap/releases/tag/staging-20170124094621)
- production [release 20170124101806](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170124101806)

[2017-01-24 11:26] holgerd commented on #477
Update, today the stats say 688 created nodes by wheelmap_android user

[2017-01-25 10:19] schultyy commented on #400
@Svenyo Thuy and me prepared a script to clean up `wheelchair_toilet` in the wheelmap database. This also needs to be done in OpenStreetMap. Should we enhance our script to do this automatically or shall this be done in another way?
/cc @holgerd

[2017-01-25 12:57] 1000miles commented on #63
Yes, I can confirm it's done. Let's close this ticket.

[2017-01-25 12:57] #63 closed

[2017-01-25 15:36] Svenyo commented on #400
Hi @schultyy, I'd rather not do an automatic clean up in the OSM (without announcing this first). @holgerd, what do you think, what's the best strategy here?

[2017-01-26 11:27] holgerd commented on #408
confirming the display bug still exists on Chrome for Windows: Version 55.0.2883.87 m (64-bit) (Inkognito-Modus):

![chrome_zoom_screenshot](https://cloud.githubusercontent.com/assets/218506/22329687/c4882d4c-e3c2-11e6-8509-8a6194c3afa7.JPG)

[2017-01-30 09:33] 1000miles commented on #400
@Svenyo cc @holgerd @schultyy

Thanks for your responses. We sent an email to the osm mailinglist [Talk-de] to ask for further process regarding the question about deleting `wheelchair_toilet` tags from osm. While we wait for their reply we will put this ticket on hold and start working on ticket #558.

[2017-01-30 09:47] schultyy commented on #558
@opyh Thuy and me are currently talking about how the API response should look like. A first draft looks like this:

[code]

Does this already cover your requirements or do we have to include more information such as which field(s) have changed?

[2017-01-30 11:20] opyh commented on #558
Cool, thank you very much, this should work! :) The server will just get the whole PoI again on re-import, no matter which fields changed exactly, so nothing else needed from AC's side.

[2017-01-30 11:20] opyh commented on #558
If I can have one wish: Can we se UTC timestamps in milliseconds instead of date strings?

[2017-01-30 11:28] Svenyo commented on #400
@1000miles
Ok, great! I think that's a good approach!

[2017-01-30 11:37] Xylakant commented on #558
@opyh I absolutely recommend using ISO Date formats instead of UNIX Timestamps. Easier to debug for humans, includes TZ information if needed, DST switchovers and leap seconds get handled properly and in a defined fashion (POSIX is ignorant about leap seconds and counts each day the same, leading to a discontinuity at leap seconds). In general POSIX/UNIX Timestamps are pretty ignorant about a host

[2017-01-30 12:11] 1000miles commented on #558
@opyh & @Xylakant Thanks, we'll consider your inputs.

[2017-01-31 10:09] Svenyo commented on #539
@1000miles
For the 10 ordered languages the translations in Transifex are complete and can be pulled.

[2017-01-31 10:16] 1000miles commented on #539
@Svenyo

Great! Thanks for informing us. :)

[2017-01-31 10:52] schultyy commented on #468
Another topic we ran into the other day during work for another feature:

Right now API responses are rendered via [`acts_as_api`](https://github.com/fabrik42/acts_as_api). I would like to keep that library in for the old v1 API but replace it with something else for newer API versions. The reason for that is that API responses shouldn't be coupled with models directly. We will run into scenarios

[2017-01-31 11:16] 1000miles commented on #539
@Svenyo cc @karolinamakaruk @schultyy

As far as we can see from the last [Transifex Fetch](https://github.com/sozialhelden/wheelmap/pull/563) the `image upload alert text` is 100% fully translated on all languages. The few ones that are translated, we have already deployed to production.

Can you please confirm that we should wait a few more days before we fetch further translations?

[2017-01-31 11:39] Svenyo commented on #539
@1000miles @schultyy Ok! We'll try to boost our community to add more translations. I'll let you know when it's worth fetching more.

[2017-01-31 15:44] opyh commented on #558
@Xylakant Real ISO date strings would be fine for me too.

[2017-02-01 08:48] 1000miles opened #564 "[Maintenance] Install RuboCop (Ruby Style Analyzer)"
At the moment we have different ruby code syntax and styles (e.g. `:variable => 'string'` vs. `variable: 'string'`) in wheelmap. Using [rubocop](https://github.com/bbatsov/rubocop) could help us to bring our different styles aligned and increase our code quality by refactoring. Since establishing this gem may also cause a lot of error alerts (travis), we should calculcate a bit of time for this en

[2017-02-01 15:26] 1000miles commented on #97
@Svenyo cc @karolinamakaruk

Deployed to staging today. Ready for review, opening ticket again.
// @Hoverbear

[2017-02-02 12:41] tschob commented on #512
State of the iOS App:
- `wheelchair_toilet` is send during toilet updates using [`/nodes/%@/update_toilet`]
- the toilet state isn't set during complete node updates [`nodes/%@/`]

[2017-02-06 09:24] 1000miles commented on #539
@Svenyo Good morning. :) Any updates so far? I tried to pull the latest translations but it seems there haven't been any changes yet on this matter.

[2017-02-06 14:29] Svenyo commented on #512
@tschob @1000miles
So this seems a source where the wrong toilet tag wheelchair_toilet is still coming from (see issue #400).

[2017-02-06 15:10] tschob commented on #512
If the iOS app sends `toilet_wheelchair` it receives the error `"error":"Param wheelchair_toilet is missing"` during toilet state updates.

Will the backend be updated or should the iOS app use `wheelchair_toilet `?

[2017-02-06 15:17] Svenyo commented on #539
Dear @1000miles: This will still take some weeks – and just with all other features requiring translations they will probably never be complete after all.

[2017-02-06 15:22] Svenyo commented on #512
Hi @tschob, the correct tag in use is toilets:wheelchair
Can you try if the error also occurs with this one?

[2017-02-06 15:49] tschob commented on #512
@Svenyo Yes, the same error occurs.

[2017-02-06 15:58] Svenyo commented on #512
@tschob Do you have an example were the use of the toilet tag wheelchair_toilet becomes visible in the edit history in OSM?

[2017-02-06 16:23] Svenyo commented on #512
@1000miles Could you give @tschob the necessary information he needs from the backend in order to install the right toilet tag in the iOS App?

[2017-02-07 09:39] Svenyo commented on #347
@karolinamakaruk Could you give an update on this?

[2017-02-07 09:52] 1000miles commented on #478
@thermann78 cc @Svenyo

Can you please specify
a) if this ticket is still valid?
b) what browser you were using?

[2017-02-07 10:06] schultyy commented on #346
I checked the form and so far it's displayed in different languages. But I found out that validation messages are still shown in German:

<img width="1270" alt="screen shot 2017-02-07 at 10 34 44" src="https://cloud.githubusercontent.com/assets/235808/22685564/163ab27e-ed21-11e6-9e22-ccf9f5d22b6b.png">

[2017-02-07 10:23] schultyy commented on #512
@tschob If the iOS App could use `wheelchair_toilet` that would be good, because Android also uses that identifier already.
The Backend takes the value as `wheelchair_toilet` but makes sure that when data is sent to OSM `toilets:wheelchair` is used.

[2017-02-07 10:27] tschob commented on #512
Ok, I'll add `wheelchair_toilet` to the complete node update and keep it in the toilet update.

[2017-02-07 10:45] schultyy commented on #97
Deployed to production. Closing therefore.

[2017-02-07 10:45] #97 closed

[2017-02-07 10:45] thermann78 commented on #478
@1000miles yes, prob still exists. Tried with Safari 10.0.1 on OS X.

[2017-02-07 11:01] Svenyo commented on #539
@1000miles I've checked the most important languages e.g. Spanish, French, Portuguese and found that the image alert text has been successfully implemented with the right translations.

This issue can be closed.

[2017-02-07 11:05] Svenyo commented on #346
@schultyy cc @1000miles Thanks for clarifying. These text parts seem to lack a corresponding string in the yml-file. Could this be integrated in order to get them translated?

[2017-02-07 12:03] 1000miles commented on #346
@Svenyo cc @schultyy

We just checked it again. The validation error message `muss ausgefüllt werden` appears because the key is not fully translated yet into all languages due to missing keys ('blank'/'empty') in the `wheelmap.yml` of respective language.

## Examples:

not translated yet:
- [pt_BR](https://github.com/sozialhelden/wheelmap/tree/master/config/locales/pt_BR/wheelmap.yml)
- [pt_PT](

[2017-02-07 12:10] Svenyo commented on #346
@1000miles Okay, thanks!

[2017-02-07 12:44] 1000miles commented on #539
@Svenyo Alright, so we are closing this ticket and will pull the translations in another round along with other translation units, if there are any. Thank you.

[2017-02-07 12:44] #539 closed

[2017-02-07 13:32] 1000miles opened #568 "[Cleanup] Remove unused translation keys from transifex resource files"
In our meeting with @Svenyo today we agreed on a cleanup of unused translation keys, e.g. when specific terms have already been deleted from the project. This way translation costs can be reduced.

[2017-02-07 13:43] Svenyo commented on #568
@1000miles Is it possible to run an analysis on which strings are used and which not? I'd need some input here from you first.

[2017-02-07 14:11] schultyy commented on #558
@opyh We deployed it now on Staging. Can you test if everything works as expected?

Example request:
[code]

[2017-02-08 10:49] 1000miles commented on #400
@Svenyo & @holgerd

We did another query in the database to provide infos about which regions still have the tag `wheelchair_toilet`, ordered by descending amount. This is just FYI. :)

### Current Stats (Date: 2017-02-08)
[code]

[2017-02-08 11:46] 1000miles commented on #568
Yes, we'll write a script for this. :)

[2017-02-08 14:54] schultyy commented on #477
I did some digging for this one. I saw that there's now user called `wheelmap_android` in our database.

[2017-02-09 08:37] schultyy commented on #477
By chance I also found out, that wheelmap_visitor is able to actually create nodes via the API.

[2017-02-09 15:36] schultyy commented on #558
As agreed in Slack we would like to have the API endpoint to return paginated requests like the other endpoints do as well.

[2017-02-10 10:15] Svenyo commented on #480
@schultyy cc @holgerd Seems like the mapillary view we've implemented is not complete.
Peter from Mapillary told me in an email:

"There are however missing assets that can't be loaded like https://asset3.wheelmap.org/assets/stepper-play.svg that make the icons for navigation not be visible. Wold be great if you can fix that for a better integration :)"

[2017-02-10 12:12] peterneubauer commented on #480
Yes, I'm seeing the missing assets in e.g. https://wheelmap.org/nodes/2370599905

[2017-02-10 13:45] schultyy commented on #468
Adding some notes and results from discussions which took place over the last few days:

We agree on doing API versioning via HTTP `Accept`-Headers in order to be able to keep URL schemes stable and versioning per resource.
With this approach, we will do one thing differently though compared to current best practices:

When a client does not specify any `Accept` Header or an `Accept`-Header but wi

[2017-02-13 12:58] 1000miles commented on #558
Deployed to [production](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170213125412) today.

[2017-02-13 12:58] #558 closed

[2017-02-13 13:12] 1000miles commented on #538
@Hoverbear Unfortunately this ticket is not fixed yet. Locally your fix (PR #544) seems to have fixed it but when deploying to staging and production the issue is still existent. Can you please have a further look into this? Merci. :)

<img width="1270" alt="00000259" src="https://cloud.githubusercontent.com/assets/4077916/22884658/5f402fec-f1f6-11e6-802a-d1aa104bffb4.png">

[2017-02-14 09:20] anngreenberg commented on #521
Reopened bc similar case was reported
@Svenyo will attach screenshots.

[2017-02-14 09:29] schultyy opened #571 "Collapse Google Street View if there's nothing to show"
For some POIs there's no Google StreetView content available. Instead of showing a white screen it should just be collapsed.

Example:

https://wheelmap.org/nodes/2370599905

[2017-02-14 09:31] schultyy commented on #477
TODO for me: Find out how many edits over the time are made by the `wheelmap_android` user.

[2017-02-14 10:51] Svenyo commented on #521
From the experience of the user http://www.openstreetmap.org/user/Ronos:

1) I have the same problem after I tagged accessibility by using wheelmap iOS and wheelmap webpage. It happens 30% of cases. Sometimes the places disappear after tagging not immediately, but after around 2-5 days.

The tagging wheelmap problem is only with the places that appear in the another plataform, openstreet, like ARE

[2017-02-14 11:00] Svenyo commented on #480
Thanks @peterneubauer for commenting on this. Could you write down your further recommendations on how to fix the navigation icons?

[2017-02-14 11:55] peterneubauer commented on #480
As you can see,
the icons are supposed to be under

    https://asset3.wheelmap.org/assets/stepper-left.svg

etc, but give a 500 there.

Not sure how to fix it on your server but either move the MpaillaryJS script or the .svg assets somewhere so they can be found?

<img width="1440" alt="fullscreen_2_14_17__12_51_pm" src="https://cloud.githubusercontent.com/assets/11977/22928000/7ede5f0e-f2b4-11e6

[2017-02-15 09:12] schultyy commented on #480
So I found out why there's a 500:

[code]

It appears to be a NGINX rule which is either missing or not working properly.

[2017-02-15 10:16] schultyy commented on #480
To check whether the problem is in the NGINX configuration or with wheelmap, I created a small example application with the snippet from the [Mapillary-js GitHub page](https://github.com/mapillary/mapillary-js). There everything works just fine. Even though the browser receives HTTP 500 errors right now, they occur because the file cannot be found.
My solution on this is to copy over the missing a

[2017-02-15 10:32] Svenyo commented on #477
Update from SMF (Raphael Heber):

"Es sind noch 77 Installationen mit einer Version von 2012 (siehe Tabelle).
Es könnte sein, dass das Geräte mit Android 2 sind, was wir ja nicht mehr supporten. Das können wir aber leider nicht aus den Daten ablesen.

![unnamed](https://cloud.githubusercontent.com/assets/20318534/22970400/4d7734b8-f372-11e6-8691-6731540457b4.png)

Wir können den Fehler bei der akt

[2017-02-15 10:42] Svenyo commented on #477
@schultyy @1000miles I suggest we proceed as suggested: Changing the permission for this user into tagging the accessibility and toilet status only.

[2017-02-15 10:50] Svenyo commented on #480
Thanks, @schultyy, let's try this.

[2017-02-15 15:27] 1000miles opened #573 "[Oauth] Register new account on staging returns 500 - Internal Server Error"
## Steps to reproduce:
- I visit the root page of staging at `https://staging.wheelmap.org`
- I click on login button to register a new account via OSM
- I am on sign_in page at `https://staging.wheelmap.org/users/sign_in`
- I click on the link `Registriere dich hier`
- On `https://staging.wheelmap.org/users/auth/osm` I get the error message `We're sorry, but something went wrong.`

Screenshot:
![

[2017-02-15 15:45] 1000miles commented on #573
This issue occurred when we tried to test the PR https://github.com/sozialhelden/wheelmap/pull/569 by creating a new user (wheelmap_visitor) that is not existent yet on staging.

In order to complete our test we need to fix this ticket first.

[2017-02-15 16:08] Svenyo commented on #521
Some more examples from the same user

1) Please compare: https://wheelmap.org/map#/?lat=-12.075119780588828&lon=-77.08077818155287&zoom=19
https://www.openstreetmap.org/edit#map=20/-12.07489/-77.08108

2) Please compare: https://www.openstreetmap.org/edit#map=20/-12.07453/-77.08215
https://wheelmap.org/map#/?lat=-12.074389312271338&lon=-77.0822212100029&zoom=19

[2017-02-15 16:15] 1000miles commented on #400
Just for a better overview the current status of this ticket is:
- we are waiting for @holgerd as discussed with @Svenyo on slack, so I am re-assigning this ticket back to Holger for now.

[2017-02-16 15:02] 1000miles commented on #573
Deployed to staging. Works again! Closing this ticket.

[2017-02-16 15:02] #573 closed

[2017-02-16 15:14] 1000miles commented on #480
@Svenyo We have deployed our fix to staging today. Can you please review the fix, e.g. via this node? https://staging.wheelmap.org/nodes/1229408775

Merci.

[2017-02-16 15:44] Svenyo commented on #480
@1000miles Looks great! Can be deployed to prodution.

[2017-02-16 16:00] schultyy commented on #480
Is in [production](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170216155747) now 🙆 .

[2017-02-16 16:00] #480 closed

[2017-02-16 18:06] peterneubauer commented on #480
Great, looks good!

[2017-02-17 11:00] schultyy opened #575 "Migrate authentication_token to API Key"
Right now we use a user's `authentication_token` as API Key. This attribute is provided by Devise and actually used for the login process.

We would like to migrate this into the following scenario:

A user still has an `authentication_token` but we do not use this anymore to authenticate API clients. Instead we have a dedicated attribute holding a user's API key. Here we are not coupled to Devise

[2017-02-17 11:41] schultyy commented on #575
It appears to be that ead9fbb2 already smoothed the way for this change.

[2017-02-17 11:44] schultyy commented on #575
Steps to do here:

- Migrate values from `authentication_token` over to `api_key` (has to be done once)
- use `api_key` key field from now on, every time a user has to be authenticated
- "Reset API key" in Frontend needs to recalculate `api_key` instead of `authentication_token`
- The value of `api_key` has to be shown instead of `authentication_token` in the user profile page

[2017-02-17 16:35] 1000miles commented on #568
@Svenyo cc @holgerd

As discussed please find below the current status (date: 2017-02-17) of translations keys.

#### Following are the keys that exist in `DE` files but are not used in `EN` files:
[code]

#### Following are the keys that exist in `EN` files but are not used in `DE` files:
[code]

[2017-02-20 13:55] schultyy opened #577 "Use Poi.destroy_all instead of Poi.delete_all in PlanetReader"
We found out that our newly created `PoiLog` only contains updated entries but no deleted ones.

The reason for this is the following:
We invoke `Poi.delete_all` in `PlanetReader` and `delete_all` does not invoke any callbacks.

In order to fix this, we need to change `delete_all` to `destroy_all`. `destroy_all` invokes callbacks but also loads each entry from database first. This might result in

[2017-02-20 14:00] schultyy commented on #575
This also might mitigate https://github.com/sozialhelden/wheelmap-privateissues/issues/42

[2017-02-21 09:22] holgerd commented on #477
yes let's put this in production

[2017-02-21 09:28] Svenyo commented on #568
@1000miles The lines not used in the German version can be deleted. Thanks!

[2017-02-21 09:42] holgerd commented on #521
nest step: check in the logs if we have deleted it.

related: #577

[2017-02-21 09:44] holgerd commented on #521
Hunch: Maybe this happens when you attach a wheelchair-tag to a building or way.

[2017-02-21 10:05] holgerd commented on #561
i suggest rather to write a blog post addressing this

[2017-02-21 10:09] holgerd commented on #400
@schultyy please post it to talk-de

[2017-02-21 10:14] Xylakant commented on #561
Why not do both?

Sent from my iPhone

[2017-02-21 10:32] 1000miles commented on #538
As agreed with @holgerd today I am assigning this ticket temporarily to Holger.

[2017-02-21 11:26] schultyy commented on #575
I found out that I missed one important aspect:

There are users with `api_key` already set. They probably have the wheelmap embedded somewhere.
When we migrate `authentication_token` to `api_key` these users' embeds won't work anymore. If we just keep `api_key` and discard `authentication_token` then mobile users would be required to log in again in their apps. In either way this change would aff

[2017-02-21 15:38] schultyy commented on #400
@holgerd done.

[2017-02-21 15:55] schultyy commented on #575
I'm putting this on hold right now because it became much more complex than first anticipated.

[2017-02-21 16:37] Hoverbear commented on #523
Seems to be working: https://sozialhelden.slack.com/archives/wheelmap/p1487695023000134

[2017-02-21 23:13] polarbearing commented on #400
Thanks for bringing that to talk-de. There seems to form a recommendation to do a mechanical edit, which should be discussed over a few days.

[2017-02-22 10:10] 1000miles commented on #400
Thanks for letting us know in advance, @polarbearing! 👍

[2017-02-22 11:51] 1000miles commented on #568
### 1. Active Admin

a) As agreed with @Svenyo we are not going to remove the listed keys in `de/active_admin.yml` since the keys here effect only those who have access to the admin dashboard and therefore use german locale only.

b) Add missing key `DE` values for `translation missing: de.devise.failure.admin_user.not_found_in_database`

### 2. Remove keys:

**de/dates.yml**
[code]

   **de/relau

[2017-02-22 12:53] 1000miles commented on #477
Done in PR #569 & #578.

Deployed to [production](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170222124705) today. Closing.

[2017-02-22 12:53] #477 closed

[2017-02-22 12:55] #577 closed

[2017-02-22 12:59] 1000miles commented on #577
Deployed to [production](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170222124705) today.

[2017-02-22 13:04] Hoverbear commented on #564
I'll tackle this!

[2017-02-22 13:11] 1000miles commented on #564
@Hoverbear Thanks, happy exploring! :)

[2017-02-22 14:09] #568 closed

[2017-02-22 15:48] Hoverbear commented on #564
So we probably want the defaults with the exception of:

Globally:

[code]

On `spec/*`:

[code]

We may also want to consider:

[code]

[2017-02-23 09:53] holgerd commented on #538
@opyh can you maybe help out here?

[2017-02-23 09:55] holgerd commented on #561
tbh, I fear the github badge is cluttering the already noisy UI. Also, we already have a section where we actively promote volunteering for wheelmap and it feels natural to add a section how developers could help. :)

[2017-02-23 09:55] #561 closed

[2017-02-23 14:21] Hoverbear commented on #538
#581 resolves this. Was due to some misconceptions on my part regarding how rails works.

[2017-02-27 15:40] Svenyo commented on #521
@holgerd cc @Hoverbear
Further example of a user confirming the idea that this is somehow connected to "ways" in OSM:

Ted writes:

I have found some problems with editing (and adding photos to) shops etc. that are marked on OpenStreetMap as multi-nodes = ways/areas, rather than single nodes.
* However, as shown below, I have now found a solution to this issue

Examples in Reigate:

http://www.ope

[2017-02-28 15:21] Hoverbear commented on #521
Hmm it sounds like this might have to do with the pipeline for how we deal with ways...

[2017-03-01 10:27] Svenyo commented on #521
And some more information:

Now checked what I got for Morrisons.

With both Firefox (on the Linux laptop) and Chrome (on this Android phone) I get the error page "sorry, page not found" if I use the "-" prefix for place.
https://wheelmap.org/en/nodes/-47153166
Marked as a way on OSM.

However, using the "-" works with Tony's Tattoo & the Church listed below.
Also marked as ways on OSM

(...)

Reg

[2017-03-01 13:45] schultyy commented on #538
We today merged and deployed Andrew's pull request containing the bugfix. I therefore close this ticket now.

[2017-03-01 13:45] #538 closed

[2017-03-01 13:50] schultyy commented on #478
I am also not able to reproduce this.
I tried the steps @Hoverbear described in both Chrome 56 and Safari 10.0.2 on macOS Sierra.

[2017-03-02 09:56] Hoverbear opened #584 "Change test email."
https://github.com/sozialhelden/wheelmap/pull/582#discussion_r103881174

`spec/mailers/user_mailer_spec.rb` uses `chuck@heartbreaker.com` as a test email. This is a registered domain and should not be used.

[2017-03-02 10:03] #564 closed

[2017-03-04 18:21] AllroadsNL opened #586 "POIs wrongly show up in Taubenstrasse Berlin"
There a lot of poi on the same place in Berlin
https://www.openstreetmap.org/#map=20/52.51296/13.38804&layers=H

One of the poi:
https://www.openstreetmap.org/changeset/46569750
http://overpass-api.de/achavi/?changeset=46569750

From Dutch forum;
https://forum.openstreetmap.org/viewtopic.php?pid=634801#p634801

Looks like wheelmap put all poi in one place.

A bug?

[2017-03-05 13:39] AllroadsNL commented on #586
These are important POI, **they can not be deleted**, and must be in placed as soon as possible on the good position, before others set new POI on the same spot.

The bug must be solved immediately.

[2017-03-06 11:15] schultyy commented on #571
Deployed in production.

[2017-03-06 11:15] #571 closed

[2017-03-06 11:46] holgerd commented on #586
Hi AllroadsNL, thanks for your report!

## Status
My hypothesis today is that it is a bug in the current Wheelmap iOS version which causes newly added places to show up at Taubenstraße.

## Suggested next steps

### Regarding the bug
1. Get confirmation from the agency who built the app to reproduce the bug and come up with a fix
2. Update the app and put them in the App Store
3. Monitor the Taube

[2017-03-06 13:06] holgerd commented on #586
related: #439

[2017-03-07 08:29] holgerd commented on #586
Update: When I disallow location/GPS for the Wheelmap iOS app, Taubenstraße is assumed as default. It seems some users do not understand that lat/lon positioning requires to drag the marker in this screen:

![img_7706](https://cloud.githubusercontent.com/assets/218506/23647896/8c206486-0318-11e7-9514-e9a84a5411fe.PNG)

I'm in discussion with the App agency to find a way to resolve this.

[2017-03-14 08:26] holgerd commented on #478
@thermann78 can you elaborate on this? Eg. are you logged in and is it possible that your account is the same as the one used for the travelable widget (API token)?

[2017-03-14 09:49] thermann78 commented on #478
Nope, problem persists. I'm not logged in.
Tried again:

1. Did a search on Wheelmap.org für "Tübingen".
2. Opened http://travelable.info/infoseiten/sylt/
3. Saw the surroundings of Tübingen in the widget.

No login, even API key is not from my personal account but from an account I registered exclusively for the  purpose of creating widget code.

[2017-03-14 11:13] holgerd commented on #478
Hmm I still can't reproduce this.
Can you try again and delete your wheelmap cookies beforehand (or try in inkognito mode)?

[2017-03-14 12:36] thermann78 commented on #478
It works correctly in incognito mode. So it is backing my theses that the widget is using cookies from the map which include the last coordinates. If so, this wouldn't make too much sense as the widget is primarily considered to show the location defined within the embed code instead of the last location searched for on Wheelmap.

[2017-03-20 13:35] schultyy commented on #521
- `465233475`: Logs don't say anything about this one
- `-307696808`: Logs don't say anything about this one
- `-47153166`: Logs don't say anything about this one

I checked the logs again for POI -374832869 (http://www.openstreetmap.org/way/374832869):
[code]
This one got deleted during the import at some point. The importer deletes a node if one of the criteria is not met:

- Tags are not empty

[2017-03-20 13:58] schultyy commented on #521
I checked the changeset for `-374832869`:
- The website was changed (before it was `www.tonystattoos.co.uk`, now it is `http://www.tonystattoos.co.uk`)
- It got a `description` tag

[2017-03-21 20:28] opyh opened #587 "Add filtering nodes by category to nodes API"
Hi,

For a frontend makeover that will probably happen soon (details from @holgerd) it would be really cool if the nodes API endpoint would support filtering by category (for example by adding a `category_id=2` parameter to the query).

I know that this impacts caching, but as it would only filter by one category, not by multiple categories, the number of cached objects should still be in an accep

[2017-03-22 13:48] 1000miles commented on #586
As agreed with Holger today we are assigning this ticket to @holgerd since this issue seems to be fixed for now.

[2017-03-22 14:02] holgerd commented on #586
Yes, we found a bug in the iOS app, fixed it and published it on the App store last Monday (March 20).

When a user adds a new node using the iOS app s/he is presented with a map of their surrounding, so s/he can put the pin exactly where the new node will be. In many cases, the pin did not need to be moved because the person already was right at the place. In that case, the app falsely put the no

[2017-03-22 14:02] #586 closed

[2017-03-23 10:33] 1000miles commented on #411
This seems to be fixed and there is no redirecting when calling `https://staging.wheelmap.org/community_support/new`.

Closing.

![00000270](https://cloud.githubusercontent.com/assets/4077916/24243789/96ac9c7a-0fbc-11e7-9149-e3008652d3b6.png)

[2017-03-23 10:33] #411 closed

[2017-03-23 13:33] schultyy commented on #587
@opyh Just for clarification: This change would affect the `/api/nodes` endpoint, right?

[2017-03-24 12:10] 1000miles commented on #587
ping @opyh :)

[2017-03-24 15:38] 1000miles opened #588 "[OSM] Mechanical edit of wrong toilet tags via JOSM Editor"
This is a follow-up ticket for https://github.com/sozialhelden/wheelmap/issues/400.

As suggested in the osm talk-de forum we need to do a mechanical edit via the JOSM editor.
- https://lists.openstreetmap.org/pipermail/talk-de/2017-February/113839.html
- https://lists.openstreetmap.org/pipermail/talk-de/2017-February/113840.html

**JOSM Download links:**
- https://josm.openstreetmap.de/
- https:/

[2017-03-27 12:40] holgerd opened #589 "500 error on /api/node_types/4/nodes"
A user reported:

This endpoint doesn't work http://wheelmap.org/api/node_types/4/nodes?api_key=api_key&bbox=13.341,52.505,13.434,52.523&per_page=10&wheelchair=yes

____

I tested it and get a 500  error.

[2017-03-27 14:20] thermann78 commented on #589
This cannot work.

[2017-03-27 14:24] 1000miles commented on #589
@thermann78 i believe the api_key was intentionally replaced by @holgerd? however, even with a correct api_key i can confirm the reported `500 internal error` occurs.

[2017-03-27 14:31] thermann78 commented on #589
Okay, then there is another problem. But no, the api_key-string was part of the original bug report, that's why I guessed that this could be the mistake as it is the same spelling like in our API documenation.

[2017-03-27 14:34] 1000miles commented on #589
First hunch: this might have something to do with the gem `inherited resources`. More research needed.

<img width="1263" alt="00000273" src="https://cloud.githubusercontent.com/assets/4077916/24361683/cac5b7de-130a-11e7-9218-2d9b16cddbff.png">

### Server output:

[code]

[2017-03-28 09:03] 1000miles commented on #589
Github automatically closes the tickets when you use the term `fixes #ticketnumber` in your PR. Since this needs final review by @karolinamakaruk I am opening it again.

[2017-03-28 09:58] 1000miles commented on #90
PR #431 merged to master today. Closing.

[2017-03-28 09:58] #90 closed

[2017-03-28 14:04] Hoverbear commented on #537
[This last line](https://github.com/sozialhelden/wheelmap/blob/master/app/jobs/create_node_job.rb#L10) seems to do a similar-but-not-the-same thing.

[code]

[2017-03-28 14:09] #584 closed

[2017-03-28 14:35] Hoverbear commented on #342
This seems related to https://github.com/sozialhelden/wheelmap/issues/587

[2017-03-28 14:40] Hoverbear commented on #349
These are the changes: https://github.com/sozialhelden/wheelmap/pull/437/files

Some changes are needed in the secrets.yml as well.

[2017-03-28 16:12] opyh commented on #587
No, from what I get, Wheelmap's frontend uses the `/nodes` endpoint, so this one should support the new parameter. Sorry for the missing clarity, at the point of writing I didn't know there were two different controllers.

[2017-03-29 12:04] Hoverbear commented on #478
Still unable to reproduce this after following @thermann78's steps:

![screen shot 2017-03-29 at 14 03 22](https://cloud.githubusercontent.com/assets/130903/24453519/85305808-1488-11e7-8548-7a388461c2c5.png)
![screen shot 2017-03-29 at 14 03 28](https://cloud.githubusercontent.com/assets/130903/24453518/852fab60-1488-11e7-8d53-db3cf2fabf34.png)

[2017-03-29 12:45] Hoverbear commented on #478
I noted the following:

We explicitly avoid setting anything in the cookie when the map is moved and we are using a widget. (https://github.com/sozialhelden/wheelmap/blob/master/app/assets/javascripts/controllers/map.controller.js.coffee#L211)

Looking at the controller for the map (https://github.com/sozialhelden/wheelmap/blob/master/app/assets/javascripts/controllers/map.controller.js.coffee#L13

[2017-03-29 13:25] karolinamakaruk commented on #589
The bug is fixed. Everything works correctly now.

[2017-03-29 13:25] #589 closed

[2017-03-29 15:54] Shamasher commented on #589
Hey guys,
I've just tested this endpoint and got 500 error

Have you deployed fix at wheelmap.org ?

[2017-03-29 17:00] 1000miles commented on #589
Hi @Shamasher, we will deploy this fix tomorrow. Thanks for your interest and patience. :)

[2017-03-30 09:48] 1000miles commented on #587
Good to know, thanks for clarification. :)

[2017-03-30 11:16] 1000miles commented on #589
This bugfix has been deployed to live server with [production-20170330110932](https://github.com/sozialhelden/wheelmap/releases/tag/production-20170330110932) today. :)

![00000277](https://cloud.githubusercontent.com/assets/4077916/24501727/11246738-154b-11e7-875f-828030935ac1.png)

[2017-03-30 11:23] 1000miles commented on #78
Maybe related:

Github issue: https://github.com/sozialhelden/wheelmap/issues/568
PR: https://github.com/sozialhelden/wheelmap/pull/576

[2017-03-30 11:40] Shamasher commented on #589
thanks @1000miles !
Appreciate your help!

[2017-03-30 12:08] Svenyo opened #596 "Fix photos uploaded by Wheelmap_Visitor"
Hi @1000miles,

just saw that probably thousands of pics (I assume all pics in the premium pois of Streetspotr) that had been collected and uploaded using the user Wheelmap_visitor from our last Streetspotr crowdsourcing campaigns are not shown in the detailed view.

I assume that we caused this new bug when we recently changed the permission for the Wheelmap_visitor into tagging the accessibility

[2017-03-30 13:05] 1000miles commented on #596
We had a first look into the server logs and this is the **NGINX** output:

[code]

Similar issue (**internal redirection cycle**) occured recently as reported here:
https://github.com/sozialhelden/wheelmap/issues/480#issuecomment-279956306

[2017-04-04 10:42] 1000miles commented on #596
@Svenyo cc @holgerd @karolinamakaruk

# Update, 2017, April 4:

## What we found out so far:

- the broken images only occur with the premium provider `streetspotr` but not with the other premium providers (e.g. Stiftung Gesundheit, Stiftung Leben pur, etc.)
- looking at the last updated dates of several pois the broken images might exist since a while - at least since 2013
- looking into the rail

[2017-04-04 10:53] holgerd commented on #596
Is it possible that the images were added as "wheelchair_visitor"? And that we changed his permissions recently?

@Svenyo mentioned that this might be a trace.

[2017-04-04 13:43] Svenyo commented on #596
@1000miles: Yes, we always get a csv-file back from them where all URLs are listed and we imported them manually in the past.

[2017-04-05 12:31] holgerd commented on #521
@Hoverbear can you please test the idea we just discussed today to learn more about this issue?

[2017-04-05 12:34] holgerd commented on #588
@karolinamakaruk can you look into this and test if you could prepare this in JOSM?

[2017-04-05 12:38] holgerd commented on #468
This is on hold for now.

[2017-04-05 12:57] 1000miles commented on #596
@Svenyo Can we have a phone call to talk about the usual csv import/export process with providers and document it?

[2017-04-05 15:41] Hoverbear commented on #521
I tested on https://staging.wheelmap.org/nodes/465233475, will see if it appears over the next couple days.

[2017-04-07 15:48] 1000miles commented on #596
### Update, 2017-04-07

- How many provided pois exist?

[code]

- How many provided pois are coming from streetspotr?
[code]
- How many photos that were created by streetspotr don't show up?

[code]

### Notes:

- according to our database statistics the image issue exist at least since **dec 2015**, probably a bit earlier
- the images that don't show up on the provided pois don't exist physicall

[2017-04-10 09:46] 1000miles commented on #252
Probably related to:

 - Import Streetspotr contributions CSVs #59
- Fix photos uploaded by Wheelmap_Visitor #596

[2017-04-10 10:01] Hoverbear commented on #521
The node did not reappear. :(

[2017-04-10 13:45] 1000miles opened #597 "[Bug] 'Report a problem' link redirects to https://news.wheelmap.org/en/order-newsletter/"
**Steps to reproduce:**

- I am on https://wheelmap.org/en/map page
- I click on the link `Report a problem` link in the main nav - https://wheelmap.org/en/community_support/new
- I expect the `community support form` to be rendered (addressed in issue #370), instead it redirects me to https://news.wheelmap.org/en/order-newsletter/

**Terminal output:**

[code]

---

According to @Svenyo the last

[2017-04-10 16:29] 1000miles commented on #597
Fixed. The community support page is up and running again. :)

![00000293](https://cloud.githubusercontent.com/assets/4077916/24871810/2fe3aa70-1e1b-11e7-9ce3-5c14003e47cf.png)

According to the `wheelmap_production.conf` file we should have whitelisted `community_support` but the current production release was missing it, we just added it again. I guess this happened when we tried to figure out t

[2017-04-10 16:29] #597 closed

[2017-04-11 10:19] Hoverbear commented on #521
Putting this on hold as we talked about at the meeting last week.

[2017-04-11 13:21] 1000miles commented on #596
ping @Svenyo

Who can give us the latest csv version (2015-11-16) that came back from streetspotr? :)

[2017-04-11 14:02] Svenyo commented on #596
Hi @1000miles, please find attached the last CSV files that we received from Streetspotr.

[stufenspotsexporte.zip](https://github.com/sozialhelden/wheelmap/files/913430/stufenspotsexporte.zip)

[2017-04-13 09:14] 1000miles commented on #596
@svenja cc @holger

When trying to import the `stufenspotsexporte.zip` from november 2015 we encounter following:

[code]
Looking at the csv we could find the line (`'Der Beweis das ich auch vor der Nummer 2 stand..😊'`) where the emoji is set.

Running `SHOW table status LIKE 'photos'` in the database we see the encoding as `utf8_unicode_ci`.

In order to fix this we either
- a) have to create a r

[2017-04-24 08:31] holgerd commented on #596
ping @Svenyo

[2017-04-24 09:58] Hoverbear opened #598 "`typ` mispelled on node detail page."
On https://wheelmap.org/nodes/1976439634 you can see that `typ` is spelled incorrectly:

<img width="573" alt="screen shot 2017-04-24 at 11 57 50" src="https://cloud.githubusercontent.com/assets/130903/25331989/5317766e-28e5-11e7-8aea-3cda30286fb3.png">

[2017-04-24 12:01] 1000miles commented on #596
@Svenyo && @holgerd

We finally found a fix (solution a) => converter) for the emojis without the need to change the database encoding. :)

**Another question:**
@Svenyo As we can see some duplicates in the csv file (which blows up the volume), can you please explain us what the differences are for example for:

`refId` vs. `attr.Id`
`title` vs. `attr.Name`
`longitude` vs. `attr.Lon`
`SpotCity` vs

[2017-04-25 09:47] 1000miles commented on #596
#### Update, 2017-04-25:

So we could finally get the rake import task working and improved the branching concept and print out messages to have a better understanding what is currently happening during the import process.

**Example:**
[code]

**Example Screenshots after rake import:**

<img width="1252" alt="00000295" src="https://cloud.githubusercontent.com/assets/4077916/25379174/79802acc-29ac

[2017-04-25 13:26] Svenyo commented on #596
@1000miles cc @holgerd Thanks for solving this! I cannot explain you why the columns you mentioned as duplicate are necessary either... Do you still want me to clarify with streetspotr?

[2017-04-25 13:34] 1000miles commented on #596
@Svenyo Yes, that would be great, then we could remove all the duplicate columns instead of appending more and more columns (which makes it hard to read because we have to scroll aside a lot).

It would also help to agree on columns names, etc. I already started a wiki entry for this:
https://github.com/sozialhelden/wheelmap/wiki/Premium-Providers:-Import-and-Export-CSV-files

Please feel free to

[2017-04-25 15:26] ldodds opened #600 "Wheelmap missing nodes present in OSM"
I recently updated all of the shops on a nearby street on OSM. You can see the latest information here:

http://www.openstreetmap.org/#map=19/51.37687/-2.37849

However the buildings don't have markers on Wheelmap, as seen here:

https://wheelmap.org/map#/?lat=51.37684685328965&lon=-2.378467619419098&zoom=19

I've checked and I think the majority of the missing shops are listed in the node types (

[2017-04-26 10:57] 1000miles commented on #600
@ldodds Thanks for reporting this and your offer to help debugging. 👍 We will have a look into this and get back to you asap.

[2017-04-26 14:47] Hoverbear commented on #600
This is likely related to #521.

[2017-04-26 14:52] Hoverbear commented on #521
I was grepping the update logs in `/home/osm/log/update.log` today and noticed this error:

[code]

This error seems to be caused by something residing outside of the range of `smallint`.

We noted that one of the nodes in #600 was not present in the OSM clone, so perhaps it's the case that these failures are causing us to lose nodes?

[2017-04-26 15:04] Hoverbear commented on #600
@ldodds We suspect there might be an issue with the syncing process itself at this point in time, related to some changes in the data OSM sends us and how we process it (with osm2psql). We are investigating.

[2017-04-26 15:07] ldodds commented on #600
Thanks for the update.

[2017-04-27 09:15] 1000miles opened #601 "[Setup] Bring back rgeo ubuntu install packages"
When trying to locate pois to regions we are getting following error (again):

[code]

Looking at our `privileged_setup.sh` file we noticed that it is missing some packages that the gem `rgeo` depends on:
[code]

Related commits:
- https://github.com/sozialhelden/wheelmap/commit/d6df090b539e43d72c28e3bc263bbf7f62a257bb
- https://github.com/Asquera/wheelmap-devenv/pull/7/commits/c815492e633b60bdf1e