[2015-08-28 11:22] skade opened #13 "Widget implementation"
* [ ] Frontend implementation
* [ ] Backend implementation

[2015-09-10 13:14] holgerd opened #15 "wheelmap randomly gives "something went wrong" error"
While using wheelmap, I randomly get "something went wrong" error message. It is not consistently the same page, but rather several times during my session on wheelmap.org.

### Svenja writes:
Bei mir kommt die Fehlermeldung häufig, aber unberechenbar, d. h. manchmal kann ich auf einen Beitrag klicken, editieren, speichern, machmal komme ich in den Beitrag gar nicht rein. Letzte Probleme:

Fehlerm

[2015-09-21 14:07] lennerd opened #18 "Milestones/Epics/Todos"
Hey @holgerd @skade @joustava,

I would like to define some milestones/epics/todos or how ever you want to call them for the coming OpenSourceBash presentation and the final step to open the Wheelmap software to the world.

Things I came up with so far:

## Cleaning
* Refactore frontend, replacing Ember with React #23
* More testing for frontend and backend
* Update and complete translations (Tran

[2015-09-25 13:09] skade opened #19 "Login staging kaputt"
Siehe auch Fehlerreport von Tim Freiheit:

Der Login funktioniert über eine Webview auf der URL mit dem Entpunkt: /users/auth/osm allerdings verhält sich die Seite je nach User Agent unterschiedlich. Wir müssten wissen welcher Konvention nach das ganze funktionieren soll. Aktuell schicken wir den User Agent: "Wheelmap-DEV/77 (iPhone; iOS 8.4; Scale/2.00)" mit um das selbe verhalten wie bei der iOS

[2015-09-25 13:10] skade opened #20 "Toilettenstatus aktualisieren in API"
Vom Tim Freiheit:

Toilettenstatus akualisieren. (http://wheelmap.org/api/docs/resources/nodes)
Man kann über den Entpunkt "/api/nodes/{node_id}/update_wheelchair" den Status eines Nodes verändern. Ein Äquivalent gibt es für den Toilettenstatus allerdings nicht.
Im Idealfall für uns würde das über den selben Entpunkt laufen. Also beispielsweise mit
"/api/nodes/{node_id}/update_wheelchair?wheelchai

[2015-09-28 11:44] skade opened #24 "Travisify"
Get the test suite running on travisci.

[2015-09-28 12:19] lennerd opened #27 "GeoJSON cache and tiles"
Regarding #18:

# Implement GeoJSON Cache and Tiles

A elasticsearch based GeoJSON cache synced with our MySQL database could speed up the node requests enormously.

The Wheelmap also has problems with clustering in that we don't have clusters yet.

<img width="1072" alt="screenshot 2015-09-28 08 25 54" src="https://cloud.githubusercontent.com/assets/1609692/10133843/018df0c0-65e1-11e5-881c-0d5090

[2015-09-30 21:52] lennerd commented on #24
Thanks to @christoph-buente, who fixed this.

[2015-09-30 22:14] christoph-buente commented on #24
I added a simple travis config and changed some more minor things to get travis rolling. Now there are still 10 specs failing.

[2015-10-01 07:51] christoph-buente commented on #24
I had to add some migrations to let the db/structure.sql reflect the current state of the schema. Now all specs are passing.

Unfortunately 4 of the cucumber tests are failing. Please have a look, if you can fix it.

PR #12 had to be rewritten as it largely broke the cucumber specs. But this is also done now.

I also removed the restriction to let travis only build the master. This means for futur

[2015-10-02 13:04] holgerd opened #29 "Split your OSM-changesets by wheelmap_visitor into much smaller areas"
An OSM-user writes:

Please split your changesets into much smaller areas. Very large global changesets are very difficult for local mappers to review and find what has actually been changed in their area of local knowledge.

[2015-10-02 15:15] christoph-buente commented on #29
Actually, we had @momolinus working in this algorithm, but it was not implemented yet. Please have a look here:

https://github.com/momolinus/WmOptimisation/wiki/Ergebnis-v2

[2015-10-03 07:25] holgerd commented on #29
http://wiki.openstreetmap.org/wiki/User:Roald-linus was working on this at the OSM hack weekend in Berlin 2015:
https://www.buero20.org/fertig-gehackt-openstreetmap-hackweekend-im-rueckblick/

[2015-10-04 08:35] christoph-buente commented on #29
@holgerd it is the same person ;)

[2015-10-04 09:06] momolinus commented on #29
Hallo Ihr zwei,
im Prinzip habe ich die Optimierung ja schon Ende 2014 abschließend getestet (gut Ding will Weile haben).

Einfach ausgedrückt:

* das Wheelmap-Backend muss die geografische Größe berechnen und speichern, die Änderungen (= neuer Wert für wheelchair- Attribut) erzeugen würden
* würde eine Änderung eine gegebene Größe überschreiten, fordert das Wheelmap-Backend ein neues Changeset an

[2015-10-05 08:08] lennerd commented on #29
Thank you @momolinus for the information and detailed work on this problem.

@skade Are you able to work with this?

[2015-10-05 09:43] lennerd opened #31 "NoMethodError: undefined method `floor_to' for nil:NilClass"
https://wheelmap.airbrake.io/projects/13709/groups/1513346395406915082/notices/1524489357914330760

[2015-10-05 09:46] #31 closed

[2015-10-05 11:58] holgerd opened #32 "CSV-Export of Wheelmap-POIs should support >500 entries"
As admin I would like to be able to export more than 500 POIs as CSV-file. Right now only <500 entries are possible to be exported at http://wheelmap.org/en/admin/pois .

Example: download a CSV file of all POIs (yes, no, limited, unknown) in the category "food".

Requested by the wheelmap community manager.

[2015-10-05 13:20] holgerd opened #34 "Wheelmap "live counter", embedable in other websites"
As campaigner for wheelchair accessible places I want to embed a wheelmap-counter on my campaign website so my visitors can see how many places have been marked as wheelchair=yes/no/limited. The counter should update often (eg every 5min) to give a "live" feeling to encourage and celebrate participation.

[2015-10-05 15:46] timfreiheit commented on #19
Wie sieht es hier mit dem Status aus?
Und wann ist damit zu rechnen, dass der neue Login in die Liveapi übernommen wird?

[2015-10-05 15:50] skade opened #35 "Enable CSV export so support more then 500 entries"

[2015-10-05 15:50] #35 closed

[2015-10-05 15:50] skade commented on #35
Didn't read properly.

[2015-10-05 17:36] lennerd opened #36 "Fix styling errors in the toolbar in Firefox"
<img width="698" alt="screenshot 2015-10-05 19 35 41" src="https://cloud.githubusercontent.com/assets/1609692/10288298/48ef9452-6b98-11e5-8426-98faca423c8e.png">

[2015-10-05 19:31] holgerd commented on #19
@skade , kannst Du Dir das ansehen bitte?

Ist ein Blocker laut Tim/SMF:
"wir haben festgestellt, dass der neue Login-Prozess noch nicht in die Live-api übernommen wurde. Dies muss geschehen bevor wir eine neue iOS Version erstellen und bevor wir die Windows-Version einreichen, ansonsten können sich die User nicht einloggen/registrieren."

[2015-10-05 20:05] yeralin commented on #36
Fixed. Implemented using Flexboxes. Flexbox doesn't work with buttons in Firefox, so I had to use additional div inside class="corrector".

See in https://github.com/yeralin/wheelmap

[2015-10-05 21:44] lennerd commented on #36
Hey @yeralin, thank you for your great help and the fix for this issue! :+1:

Please make a quick [PR](https://help.github.com/articles/using-pull-requests/) for this, so we can review and discuss the changes there.

PS: What's #hacktoberfest?

[2015-10-05 21:54] yeralin commented on #36
Done.

https://hacktoberfest.digitalocean.com/

[2015-10-05 21:59] lennerd commented on #36
Nice idea of a hackathon. :+1: And of course nice project you choosed to help in. :sunglasses:

[2015-10-05 22:00] yeralin commented on #36
Should it be pull requested into Assets branch?
There is one: Merge pull request #30 from sozialhelden/assets

[2015-10-05 22:01] lennerd commented on #36
No, just create your own branch in your forked repository and use this branch to make a PR.

[2015-10-05 22:04] lennerd commented on #36
Oh no, this is a branch where we refactore our dependency management of javascript assets. The master branch is fine for your changes.

[2015-10-08 12:21] joustava commented on #19
As I understood from @skade, there are two issues here:
1. Login flow on production(live) should be updated with latest login flow (from?).
2. There are differences in the UI/flow between mobile platforms? (what are the differences?)

[2015-10-09 11:58] lennerd commented on #19
The production branch should include the new login features now. We have some problems withd deployment but the feature should work though.

@timfreiheit Does this help?

[2015-10-09 13:43] timfreiheit commented on #19
@lennerd
It is working now :)
What is about the User Agent?

[2015-10-09 13:44] lennerd commented on #19
I will take a look. I'm not the one who implemented this but I will try to find out which User Agent is needed.

[2015-10-09 13:48] lennerd commented on #19
@timfreiheit What exactly do you want to accomplish? Do you need some kind of User Agent implementation for the Windows Phone? The Android and iOS devices seems to be handled:

https://github.com/sozialhelden/wheelmap/blob/master/app/controllers/omniauth_callbacks_controller.rb#L10-L11
https://github.com/sozialhelden/wheelmap/blob/master/app/controllers/application_controller.rb#L93-L99

[2015-10-09 14:03] timfreiheit commented on #19
the WebView from Windows Phone does not contain a unique User Agent for each app.
It seems to be enough that the user agent starts with Wheelmap. I will set it accordingly.

[2015-10-09 17:19] lennerd commented on #19
Right. Please report if this works for you so we can close this issue.

[2015-10-09 20:05] timfreiheit commented on #19
can be closed

[2015-10-09 20:06] lennerd commented on #19
:+1:

[2015-10-09 20:06] #19 closed

[2015-10-13 07:36] lennerd commented on #20
@timfreiheit Is this still active? cc @joustava

[2015-10-14 00:02] timfreiheit commented on #20
@lennerd yes

[2015-10-14 06:06] christoph-buente commented on #20
This should have solved with this commit:
https://github.com/sozialhelden/wheelmap/commit/5a7345637cde2dc8dbdb6eb1176b9562c070ec2d

[2015-10-14 06:42] christoph-buente commented on #20
I just saw, that I updated the inline documentation with apipie, but I could not make it work in production. The old api documentation is still in place. I will provide an update for that.

https://rubygems.org/gems/apipie-rails

[2015-10-16 09:47] #36 closed

[2015-10-20 22:42] voltagex opened #44 "Default to English via geolocation?"
Currently the site switches back to German frequently. Can't pin it down to any one action.

[2015-10-21 02:44] voltagex commented on #29
Is this why my change https://www.openstreetmap.org/changeset/34766069 is showing such a huge area when I only changed a couple (?) of attributes?

[2015-10-21 04:29] momolinus commented on #29
Hello @voltagex ,

no, your changeset is so huge, because changsets "geographic size" encloses all changed attributes.
It would be the same, if you use JOSM as wheelmap editor.

If some anonymous wheelmap users change attributes in different countries (or even continents)  within one hour (or day) their changeset encloses all their changes and becomes much greater. Such a changeset could enclose a

[2015-10-21 10:24] joustava commented on #32
@holgerd, deployed a fix to staging. As far as I tested it it seems to download as many pois as the current filters returns. (so over 30000 pois without filters, which can take a while)

[2015-10-21 12:18] holgerd commented on #32
@joustava What is the maximum now?

I tried to download all 623.000 "unknown" places with this URL:
http://staging.wheelmap.org/en/admin/pois.csv?order=osm_id_desc&page=1&scope=unknown_accessibility

After a few seconds I got a "something went wrong" error.

It works with smaller sets such as the 5.900 fully accessible bakeries:
http://staging.wheelmap.org/en/admin/pois.csv?order=osm_id_desc&page=

[2015-10-21 12:32] christoph-buente commented on #32
Well, there is a timeout if course. So if rails takes a long time to render the csv information, nginx will show the error page at some point.

[2015-10-21 14:19] joustava commented on #32
So, it seems we are limited by the unicorn timeout, but capping the exported pois by an arbitrary number doesn't seem right to me either. Would it make sense to disable export features whenever the search result are to big to handle instead of limiting poi csv records to export?

Or can we configure unicorn to have a slightly higher timeout and make it support streaming, and generate the csv in ba

[2015-10-21 14:53] joustava opened #46 "Use CDN for assets"

[2015-10-21 14:54] joustava opened #47 "Configure caching (e.g varnish-cache)"

[2015-10-21 14:55] joustava opened #48 "Stress testing"

[2015-10-21 16:06] christoph-buente commented on #32
Or maybe we can trigger a background job and put the file into the dropbox.

[2015-10-21 16:56] joustava commented on #32
Seems streaming this is supported out of the box in the newest version: https://github.com/activeadmin/activeadmin/pull/3038

[2015-10-21 17:11] christoph-buente commented on #32
Nice find! :+1:

[2015-10-23 12:48] holgerd commented on #32
@joustava The feature is fine as it is, please deploy and let me know when it is live. Just discussed it with Svenja and she said she will only download CSVs with less than 100.000 POIs, which already works. Thanks! :)

[2015-10-26 12:46] joustava commented on #32
@holgerd it is on staging for review.

[2015-10-26 15:17] holgerd commented on #32
@joustava thanks. The CSV-download stops after 1.4MB which is ca. 13.000 rows. I'll ask S. if that size is enough.

[2015-10-26 16:01] holgerd commented on #32
Yeah it's fine!

[2015-10-26 16:01] #32 closed

[2015-10-28 09:17] holgerd commented on #32
@joustava please let me know as soon as this is live.

[2015-10-30 13:42] voltagex opened #49 "Create a Dockerfile for easier development setup"
I'm creating a Dockerfile over at https://github.com/voltagex/wheelmap/blob/master/Dockerfile, hopefully when this is all set it'll make setting up a development environment for wheelmap much easier.

However, `bundle install` inside the container is failing from the script, but succeeding when run from /bin/bash inside the container. Any ideas?

[2015-10-30 13:54] joustava commented on #49
@voltagex what are the errors?

[2015-10-30 14:07] voltagex commented on #49
@joustava if I use `ONBUILD bundle install` it's silent. I'm going to remove `ONBUILD` completely because it doesn't seem to give me any advantage. After that I get `Could not locate Gemfile`

[2015-10-30 14:09] joustava commented on #49
have you tried ADD instead of ONBUILD COPY?

[2015-10-30 14:15] voltagex commented on #49
Thanks for that tip, the current master looks like it's working. I'll try setting up MySQL in either this container or another one tomorrow.

[2015-10-30 14:24] voltagex commented on #49
## TODO:

[ ] MySQL setup
[ ] move the dockerfile to a new git branch - squash all changes

[2015-11-01 01:08] voltagex commented on #49
Making good progress, I need someone else to test this. I now have a `docker-compose` file for the whole setup that should launch a MySQL database and wheelmap. At the moment I haven't customised the database build so it won't have the right database there, but it should at least connect

[2015-11-01 03:03] voltagex commented on #49
I'm stuck. The database `rake` steps won't work if the database isn't on `localhost`. This is hardcoded in Rails 3.2.2 and can't be overridden with an environment variable. It looks like it's fixed in Rails 4, sort of.

I could just install MySQL in the same container as the app, but it's much better and easier to use a separate container - this way I can use the official MySQL image.

I'm also wa

[2015-11-02 15:39] holgerd opened #50 "API category requests always in German"
Raphael from SMF schreibt:
es scheint bei der iOS Version generell ein Problem mit den APIs des Kategorie-Filters zu geben. Der erscheint bei mehreren Sprachen auf deutsch.
Die Namen kommen von der Wheelmap API so zurück. Das solltet ihr euch mal anschauen.
http://staging.wheelmap.org/api/categories?locale=en-GB liefert z.B. deutsche Ergebnisse zurück.

[2015-11-02 16:26] thermann78 opened #51 "de-TLD, etc. need to redirect to wheelmap.org"
Error in wheelmap_production.conf:

server {
  listen 80;
  server_name wheelmap.de wheelmaps.de www.wheelmap.de www.wheelmaps.de;
  rewrite_log on;
  rewrite ^(.*)$ http://wheelmap.org/de$1 permanent;
}

There is no dir named /de, so all requests will be forwarded by WP to a blogpost.
Please point to wheelmap.org/$1.

[2015-11-02 16:31] christoph-buente commented on #51
This is actually just a locallized forwarding, cause we used to use subdomains for locale switching in the rails app. It is non relevant for wordpress.

[2015-11-02 16:34] thermann78 commented on #51
Just tryout: http://wheelmap.org/de
There is a general error in the nginx config: the correct forward string should look like
# redirect japanese subdomain
server {
  listen 80;
  server_name jp.wheelmap.org;
  rewrite_log on;
  rewrite ^(.)$ http://wheelmap.org/ja/map permanent;
}

Note: this concerns many redir rules (except english, we actually have an /en/-subdirectory.

[2015-11-03 14:00] thermann78 commented on #46
Should be resolved with Cloudflare, should be revised after stress tests.

[2015-11-03 14:02] joustava commented on #49
@voltagex if you help/tell me with how I should test it, I could take a look. I can run it in a vagrant box e.g?

[2015-11-03 18:08] joustava commented on #44
Could be related to #50 ?

[2015-11-04 10:05] holgerd commented on #32
@joustava is this live now?

[2015-11-04 19:17] holgerd opened #54 "Add/Update place types (key/value-pairs) = categories"
Some place types are used in OpenStreetMap but can not be used in Wheelmap until now. Some have changed.
- [ ] Add the key/value types described in this public google spreadsheet with wheelmap-category and Icon (as linked in spreadsheet). @christoph-buente has done this several times before, there should be something already. Spreadsheet attached and here:

https://docs.google.com/spreadsheets/d/1

[2015-11-06 08:57] holgerd opened #56 "Copy wheelchair tag from premium providers if OSM has no info"
As an admin who imports Premium-POIs to Wheelmap, I see many places which are tagged by the premium provider but not in OSM:

![this_place_is_on_wheelmap_org__dr__knut_betzold__dentist__health__baden_wurttemberg](https://cloud.githubusercontent.com/assets/218506/10992998/ab0bc282-846b-11e5-97a2-fa614eb2e53d.png)
Example http://wheelmap.org/nodes/3659539272 - "Wheelchair accessible: unknown, Stiftu

[2015-11-06 10:53] holgerd commented on #32
It's live. Example: http://wheelmap.org/en/admin/pois.csv?order=osm_id_desc&page=1&scope=unknown_accessibility

[2015-11-09 10:18] timfreiheit commented on #20
the endpoint is still not reachable:
[code]
results in:
[code]

[2015-11-09 10:27] christoph-buente commented on #20
Hmm, the implementation is there, see

https://github.com/sozialhelden/wheelmap/blob/master/app/controllers/api/nodes_controller.rb#L184

But for some reason the routes seems to have gone. @lennerd can you check if it has been killed by a merge/rebase?

[2015-11-09 10:44] lennerd commented on #20
@timfreiheit I updated the current master to have an `update_toilet` url. Does that fix your problem?

[2015-11-09 10:45] timfreiheit commented on #20
@lennerd yes it looks good now. Thank you

[2015-11-09 10:46] #20 closed

[2015-11-09 10:46] lennerd commented on #20
:+1:

[2015-11-10 22:07] voltagex commented on #49
@joustava If you can install docker and docker-compose on a Vagrant box it's as simple as following
the instructions in https://github.com/voltagex/wheelmap#docker - just make sure you clone *my* version of wheelmap until the changes are merged.

The db rake seed command will fail at the moment and I don't have a workaround. If you can generate SQL that does the same thing I will use that in the D

[2015-11-11 05:53] voltagex commented on #49
I'm stuck. We can't run rake db:seed against "remote" databases (i.e. in another container) but Docker really isn't set up to run more than one service per container (e.g. mysqld &, bundle exec server)

[2015-11-11 10:50] thermann78 opened #57 "Some markers not showing up, some detail sites not loading"
Important: new bug first seen at nov 6th, since then more then 8k occurences!
Error type: Sprockets::Helpers::RailsHelper::AssetPaths::AssetNotPrecompiledError
Error message: Sprockets::Helpers::RailsHelper::AssetPaths::AssetNotPrecompiledError: [#<ProvidedPoi id: 14278, poi_id: 429739180, provider_id: 3, wheelchair: "limited", url: nil, created_at: "2014-10-03 01:12:35", updated_at: "2014-10-03 0

[2015-11-13 18:25] joustava commented on #57
From a quick glance, this seems to be caused by:

https://github.com/sozialhelden/wheelmap/blob/7a773349ab5a207b6c218a224ea6d12e9dc66e3f/app/views/nodes/_node_map.html.haml#L8

which uses

https://github.com/sozialhelden/wheelmap/blob/7a773349ab5a207b6c218a224ea6d12e9dc66e3f/app/models/poi.rb#L307

sponsor returns a provided_pois instead of a single path. This piece of code doesn't have test cover

[2015-11-13 18:27] lennerd commented on #57
Thanks for digging. I will take a look as soon as I can. Maybe I'm able to fix this. If someone from Asquera is able to fix this, this would be great.

[2015-11-15 18:58] holgerd opened #58 "Change header on wheelmap.org (for facebook scraper)"
This
https://developers.facebook.com/tools/debug/og/object?q=www.wheelmap.org/map

should look exactly like this:
https://developers.facebook.com/tools/debug/og/object?q=www.wheelmap.org

If translations are missing, please let me know by commenting this issue.

[2015-11-16 08:22] lennerd commented on #58
I need to login to see the content of the linked pages. Can you maybe make a screenshot or describe the problem in more detail.

[2015-11-16 08:34] holgerd commented on #54
scraper info for wheelmap.org
https://www.dropbox.com/s/qlbti2ksgi4hoxj/wheelmapohnemap.html?dl=0

scraper info for wheelmap.org/map
https://www.dropbox.com/s/eb12nft1fol0yvq/wheelmapMITmap.html?dl=0

[2015-11-16 08:35] holgerd commented on #54
url to download the copied HTML of scraper info:
https://www.dropbox.com/sh/cmkqqbzn4732lgv/AAB2yz8DBsqzfAf-W7FVA7ria?dl=0

[2015-11-16 09:25] lennerd commented on #57
@thermann78 Do you maybe have a link for a detail page not working anymore?

[2015-11-16 09:46] thermann78 commented on #57
http://wheelmap.org/nodes/429739180
--
Timo Hermann
SOZIALHELDEN e.V.
c/o Immobilien Scout GmbH, Andreasstraße 10, 10243 Berlin

E-Mail: timo@sozialhelden.de <mailto:timo@sozialhelden.de>
Web: http://www.sozialhelden.de <http://www.sozialhelden.de/>

SOZIALHELDEN @ facebook <http://www.facebook.com/SOZIALHELDEN> - twitter <http://twitter.com/#%21/SOZIALHELDEN> - flickr <http://www.flickr.com/photo

[2015-11-16 10:46] joustava commented on #57
@christoph-buente do you have any ideas about this https://github.com/sozialhelden/wheelmap/issues/57#issuecomment-156509260

[2015-11-16 11:25] lennerd commented on #57
He is in New York right now. I'm lookin into this in the afternoon I hope.

[2015-11-16 11:59] holgerd commented on #58
scraper info for wheelmap.org
https://www.dropbox.com/s/qlbti2ksgi4hoxj/wheelmapohnemap.html?dl=0

scraper info for wheelmap.org/map
https://www.dropbox.com/s/eb12nft1fol0yvq/wheelmapMITmap.html?dl=0

url to download the copied HTML of scraper info:
https://www.dropbox.com/sh/cmkqqbzn4732lgv/AAB2yz8DBsqzfAf-W7FVA7ria?dl=0

[2015-11-16 12:55] #57 closed

[2015-11-16 12:56] lennerd commented on #57
We already fixed it but haven't merged our fix to production yet. Deployed again. Everything should work fine again.

[2015-11-16 13:50] holgerd commented on #50
Status?

[2015-11-16 13:52] holgerd commented on #15
Let's test this again as soon as RoR app and wordpress are separated.

[2015-11-16 14:00] holgerd opened #59 "Import Streetspotr contributions CSVs"
These CSVs need to be imported:
https://www.dropbox.com/s/h6copt6wq8pji3c/2015-11-16-streetspotr-contributions-wheelmap-CSVs.zip?dl=0
(survey was 01.07.2015-05.11.2015)

There is a rake task for that (but that was before we had the toilet-feature!):
https://github.com/sozialhelden/wheelmap/blob/master/lib/tasks/streetspotr.rake

There is a method in this file to convert the wheelchair status which

[2015-11-18 10:03] holgerd commented on #34
ping

[2015-11-18 10:44] lennerd commented on #44
Hey @voltagex thanks for creating an issue. What browser do you use? And which situtations do you have your language resetted to German?

[2015-11-18 10:45] lennerd commented on #47
Related to #48.

[2015-11-18 10:45] lennerd commented on #46
Related to #48.

[2015-11-18 10:46] lennerd commented on #49
@skade @christoph-buente Can you help out here?

[2015-11-18 10:54] lennerd commented on #51
Where are this nginx config placed? And how can we access them?

[2015-11-18 10:54] Xylakant commented on #49
I can take a stab at this on monday. Need to set up a dev environment anyways. It's possible to run multiple processes in a single container by using a short script that spawns them (foreman, a mini init, ...), but it should also be possible to use a second container for mysql.

[2015-11-18 10:56] thermann78 commented on #51
/etc/nginx/sites-available

[2015-11-18 12:48] holgerd commented on #34
@christoph-buente just told me the counter should already be part of the API:
http://wheelmap.org/en/api/docs/resources/nodes

you should be able to filter here for example:
/api/nodes?wheelchair=yes&page1&per_page=1

result should give a total  number and a filtered for yes/no wheelchair accessibility.

@1000miles do you think this is something an external agency could work with?

[2015-11-18 13:05] thermann78 opened #60 "ActiveRecord::ConfigurationError: Association named 'slug' was not found on Region; perhaps you misspelled it?"
Check full details on Airbrake: [#1547699057774354430](https://wheelmap.airbrake.io/projects/13709/groups/1547699057774354430)

Backtrace:
[code]

[2015-11-18 17:25] 1000miles commented on #34
Hi @holgerd, thank you for asking. I'll check it and get back to you asap. I may have a few questions related to the counter (from user perspective) and might ask you, if that is okay? :)

[2015-11-19 15:04] 1000miles commented on #34
Hi @holgerd,

question: are we talking about the possibility to a) embed the **current** counter on other websites or are we talking about b) the filter option for different statuses (yes, limited, no) on the counter?

**Regarding the filter on the counter:**
When hovering over the counter, at the moment there is already a tooltip which shows filtered numbers of each (yes, limited, no), so I am no

[2015-11-19 15:32] holgerd commented on #34
We are planning a campaign and the makers of the external campaign website http://mapmyday.org should be able to display a counter on the homepage. No filter necessary.
Feel free to join slack (I sent you an invitation a few days ago) if you have more questions.

[2015-11-23 09:10] lennerd opened #62 "Text align in toolbar dropdowns"
The text inside the toolbar dropdown is not align correctly. Should be simple to fix:

<img width="355" alt="screenshot 2015-11-23 10 09 40" src="https://cloud.githubusercontent.com/assets/1609692/11332961/6fdee25e-91ca-11e5-96cf-311873c41584.png">

[2015-11-23 09:21] lennerd opened #63 ""Finalize account" screen"
The current screen for finalizing the account after loggin needs some work to fit to the layout we use.

![screenshot 2015-11-23 10 19 57](https://cloud.githubusercontent.com/assets/1609692/11333156/e2f81ba6-91cb-11e5-85f6-25854a700408.png)

[2015-11-23 13:04] Xylakant commented on #49
db:seed should work against a remote database, however, the current way it's laid out in the Dockerfile won't work for two reasons:

* The database that is added to the container specifies a socket connection
* The container with the mysql server may not be available at build time. The database should be created and seeded at first startup of the container. It's probably even easier to just leave

[2015-11-23 13:14] lennerd commented on #58
Should be fixed now. I also changed the meta information for the node detail pages to include a meaningful description and a twitter tag.

[2015-11-23 13:14] #58 closed

[2015-11-23 14:21] lennerd opened #64 "Interactive Google Streetview on node detail page"
It would be nice to have an interactive version of Google Streetview on the detailed page (https://developers.google.com/maps/documentation/javascript/examples/streetview-embed).

![screenshot 2015-11-23 15 20 52](https://cloud.githubusercontent.com/assets/1609692/11338693/e15de512-91f5-11e5-8411-c7282472ad0c.png)

There are also some bugs with the static image API from Google, for example:
http:/

[2015-11-23 15:04] thermann78 opened #65 "Unicorn production worker execution failed"
The past weeks it occured several times that some of the production workers won't restart.
Currently Monit say:
unicorn_production_worker_7	Execution failed - and I'm unable to restart it via Monit.

In addition, the status of our filesystem says:

Filesystem	Status	Space usage	Inodes usage
md2	Resource limit matched	80.8% [788615.1 MB]	3.9% [2644230 objects]

[2015-11-23 16:13] lennerd commented on #63
So we did a quick fix to make it less ugly, but it's still no beauty.

![screenshot 2015-11-23 17 11 55](https://cloud.githubusercontent.com/assets/1609692/11342026/80559688-9205-11e5-8737-4601c1ab501a.png)

[2015-11-25 16:36] lennerd opened #66 "Search field in Widget"
There is an error in the embed layout in that the responsive search field has a wrong position.

[2015-11-26 10:31] lennerd opened #67 "Set language by checking accepted languages"

[2015-11-29 12:30] holgerd opened #69 "URL with umlaut cannot be saved on /nodes/edit"
I'm on the node edit page (eg. http://wheelmap.org/nodes/301758347 and type a URL with umlaut in in the field "Website", eg. http://bäckerei.de ). I submit the form.

I expect that the new data is saved and I see a confirmation message.

Instead, I see an error message saying the URL is invalid.

Additional user report:
Sowohl http://www.xn--grtnerei-lenz-bfb.de/ als auch http://www.gärtnerei-lenz

[2015-11-30 12:24] lennerd commented on #69
0b53e2334362f1fa30449f8a17f5dd9a8cfaa170 Will be fixed on next deploy.

[2015-11-30 14:37] lennerd commented on #69
@holgerd Is fixed and on staging.

[2015-11-30 14:50] lennerd opened #70 "New Layout for "add node""
#105

[2015-12-01 14:05] holgerd commented on #54
Related to this there is a suggestion from OSM users https://lists.openstreetmap.org/pipermail/talk-de/2015-November/112250.html

- [ ] Make it possible to NOT show places with this combination: leisure=swimming_pool + access=private

[2015-12-01 18:57] 1000miles commented on #62
@lennerd this issue seems to be fixed by this commit, right?
https://github.com/sozialhelden/wheelmap/commit/351b26a7fd068749743212978c12e7c0831cf4fa

[2015-12-01 19:11] lennerd commented on #62
It was a different commit, but this is fixed now, right.

[2015-12-01 19:11] #62 closed

[2015-12-01 19:28] 1000miles commented on #62
Sorry, copied the wrong commit, I meant this one: https://github.com/sozialhelden/wheelmap/commit/0046437f07ba6b080b06b1a502f49f28d73f68f3.

Thanks for closing.

[2015-12-01 19:29] lennerd commented on #62
No problem. :wink:

[2015-12-01 19:57] 1000miles opened #71 "Mysql2::Error: Table 'wheelmap_development.providers' doesn't exist"
### CASE:

This Myslq2 error happend a few times when trying to run rake commands. Even though the table for 'providers' is already created in the initial_schema, something in the migrations processes seems to always empty the database tables. I tried to drop, create & migrate a couple of times but yet the databases tables were empty (see step 2 below). To fix this, we have used a manual solution

[2015-12-01 20:03] lennerd commented on #71
Thank you for reporting this. I did the same by importing the schema manually. There is an initial migration creating the providers table. This defenitily need a look.

[2015-12-01 20:04] #69 closed

[2015-12-01 20:05] #66 closed

[2015-12-01 20:07] #13 closed

[2015-12-01 20:07] #18 closed

[2015-12-01 20:09] lennerd commented on #27
So this already working and implemented with our rails app. It's worth mentioning that we don't have any clusters yet (I'm not quite sure, if we need them), but a early and great working version of GeoJSON tiles.

Most important next step is ElasicSearch as the tiles provider I think.

[2015-12-01 20:10] lennerd commented on #44
@voltagex Did you have time to test this for us again?

[2015-12-01 20:10] #46 closed

[2015-12-01 20:17] lennerd opened #72 "Location in the URL is not used to position the visible area of the map"
The zoom level is working great.

[2015-12-01 20:55] holgerd commented on #69
@lennerd the bug is still there on staging:

![dieser_ort_ist_auf_wheelmap_org__allianz_generalvertretung_ilva_kauczor__versicherung__sonstiges](https://cloud.githubusercontent.com/assets/218506/11513914/20664548-9876-11e5-8f64-2794d7bd7507.png)

[2015-12-01 21:36] christoph-buente commented on #59
Actually the streetspotters answer 3 individual questions. It should now be much easier to import. Toilet and accessible entrance are separate answers.

[2015-12-01 21:44] lennerd commented on #69
@Xylakant @skade Any ideas for a good validation algorithm? If not, we should go back to simply check for having a protocoll in the beginning.

[2015-12-01 21:49] lennerd commented on #59
From our Slack channel posted by @christoph-buente an example for making an export of unmarked nodes for streetspotr:

[code]

[2015-12-01 22:00] christoph-buente commented on #59
@lennerd: The example was for an export, not for the import.

[2015-12-01 23:13] lennerd commented on #54
Everything is nearly prepared. There is one bigger step missing: the icon sprite file.

All our apps (iPhone, Android and Windows Phone) are using this file to show icons on the markers. If we add icons to this spirte, the position of the icons inside the sprite will change. As all the apps are propably are hardcoding the icon positions, it would break the icons representation.

So we need a smart

[2015-12-01 23:19] christoph-buente commented on #54
From what i know: There is no sprite file, but a zip file with alle the markers in it.

[2015-12-01 23:21] lennerd commented on #54
Yes, but I'm not sure, if the Android and iPhone are still using them. The Windows Phone App is using the sprite file though.

[2015-12-01 23:21] christoph-buente commented on #54
What sprite? This is not delivered by the api anyways

[2015-12-01 23:22] lennerd commented on #54
As far as I know, they use the sprite file from the application.

[2015-12-01 23:23] christoph-buente commented on #54
Where is this file, who created it, is it in version control?

[2015-12-01 23:23] christoph-buente commented on #54
I think api clients fetch the icons per node type from the api

{
      "id":23,
      "identifier":"hardware",
      "icon":"/images/icons/wrench.png",
      "localized_name":"Eisenwarenladen",
      "category":{
        "id": 1,
        "identifier": "shopping"
      }

[2015-12-01 23:24] lennerd commented on #54
It's the same file we use for our icons. https://github.com/sozialhelden/wheelmap/blob/master/public/icons/icon-sprite.png

[2015-12-01 23:25] lennerd commented on #54
The Windows Phone App is pretty new. As I said, I'm not absoluty sure about this.

[2015-12-01 23:33] christoph-buente commented on #54
I'm pretty sure, this file is not exposed by the api. If windows phone is using it, some one gave it to the developers ...

[2015-12-01 23:35] lennerd commented on #54
It's not exposed right. But I think we were stuck with the icons and decided to use the sprite file from our server. I asked Raul, Jonas and Holger. Let's see, what they can find out.

[2015-12-02 08:23] voltagex commented on #44
Sorry! It's on my list for this weekend.

[2015-12-03 09:02] #72 closed

[2015-12-03 09:04] lennerd commented on #71
We maybe need to squash the migrations into one.

[2015-12-03 09:06] holgerd commented on #67
check what language the browser prefers and auto-set this.

[2015-12-03 09:08] christoph-buente commented on #67
Please update to latest version maybe? https://github.com/christoph-buente/rack-i18n_locale_switcher

[2015-12-03 09:09] christoph-buente commented on #65
Check if start/stop command for unicorns in capistrano and monit are exactly the same.

This also should fix the deployment. Otherwise pause the monit upon capistrano deployment and resume after.

[2015-12-03 09:13] holgerd commented on #64
maybe show mapiliary widget if streetview is not available. (suggested by @christoph-buente )

[2015-12-03 09:15] holgerd commented on #63
LAyout is nice, but German version lacks translation.

[2015-12-03 09:17] holgerd commented on #59
- [ ] refactor import logic to reflect toilet status separately

[2015-12-03 09:29] holgerd commented on #54
Note: "localized_name":"Eisenwarenladen", is needed to avoid app update.

[2015-12-03 09:32] holgerd commented on #54
- [ ] @lennerd contacts SMF to discuss icon problem
- [ ]  SMF hopefully can decide on only one way to handle icons, implements it and updates apps.
- [ ] @lennerd removes the old/legacy ways to handle icons in backend

[2015-12-03 09:36] lennerd commented on #50
@RaphaelHeber Is this still active?

http://staging.wheelmap.org/api/categories?locale=en-GB looks wrong. Maybe try to change the locale to `en`: http://staging.wheelmap.org/api/categories?locale=en

[2015-12-03 09:37] #48 closed

[2015-12-03 09:39] #47 closed

[2015-12-03 09:40] #34 closed

[2015-12-03 10:23] #24 closed

[2015-12-03 10:25] #15 closed

[2015-12-03 10:52] RaphaelHeber commented on #50
Hi Lennart,

kann die Links leider beide nicht aufrufen:
{"error":"invalid API key."}

LG
Raphael

On Thu, Dec 3, 2015 at 10:36 AM, Lennart Hildebrandt <
notifications@github.com> wrote:

[2015-12-03 10:52] lennerd opened #73 "Assets coming via browserify gem are not deployed"
Propably a cache problem.

When assets imported from browserfiy via `require('javascript-asset.js')` and updated, they do not find a way into the precompiled assets on deployment.

Only way to fix this is to clear the shared asset folders on the servers.

[2015-12-03 10:54] lennerd commented on #73
Idea from @christoph-buente: Own frontend repository for the wheelmap.

[2015-12-03 11:08] holgerd commented on #50
In der URL musst Du deinen eigenen API key einsetzen den Du in http://staging.wheelmap.org/profile/edit findest (Achtung: dafür musst du angemeldeter user auf staging sein, anders als auf live).

Also:
http://staging.wheelmap.org/api/categories?locale=en&api_key=[deinAPItokenhier]

[2015-12-03 11:30] RaphaelHeber commented on #50
Tut mir leid aber ich verstehe nicht ganz um was es eigentlich geht.
Kann mich bitte jemand aufklären (wenn es relevant ist)?

LG
Raphael

2015-12-03 12:08 GMT+01:00 Holger Dieterich <notifications@github.com>:

[2015-12-03 11:48] #60 closed

[2015-12-03 12:03] #50 closed

[2015-12-03 20:40] skade opened #76 "Alternate color modes"
http://www.heise.de/forum/heise-online/News-Kommentare/Barrierefreiheit-Mapping-Projekt-zu-rollstuhlgerechten-Orten/Rot-Gruen-Stoerung/posting-23985224/show/

Our current label colors are green/yellow/red/grey, which is hard to use for people with color perception problems.

Is providing other color schemes feasible?

[2015-12-03 21:02] kannes commented on #76
http://colorbrewer2.org/ offers scientifically designed safe schemes. Choose diverging and tick "colorblind safe".

[2015-12-03 21:16] lennerd commented on #76
I like the idea of having an alternate color mode as an option. It's quite difficult to find three colors working good for people with and without color blindness.

We already chose a green (fully accessible) and a red (limited accessible) color to be as different as possible for both. You can test this with Photoshop (View > Proof Setup > Color Blindness).

But I will definitely will discuss this

[2015-12-05 00:11] voltagex commented on #49
Ping @Xylakant

[2015-12-06 12:06] kannes commented on #76
The easy solution would be not to rely on color but to use different symbology. For example you could overlay the http://asset3.wheelmap.org/assets/toolbar_marker_yes.png http://asset3.wheelmap.org/assets/toolbar_marker_no.png icons over the POI icon maybe.

[2015-12-07 10:56] lennerd opened #77 "After signup screen broken in other languages than english"
![signal-2015-12-04-095813-1](https://cloud.githubusercontent.com/assets/1609692/11625228/82463bf8-9cd9-11e5-84d1-a406e8392cfc.jpg)

[2015-12-07 10:58] lennerd commented on #77
Would be nice, if we can fix the mobile layout, too.

[2015-12-07 11:37] lennerd commented on #77
Related to #63

[2015-12-07 11:55] lennerd commented on #63
@Xylakant @skade I double checked the I18n translation configuration. We have a fallback option set to `true` and the default locale is `de`. Any ideas why Rails does not pick the correct translations here but instead uses the last part of the translation key?

[2015-12-07 13:35] lennerd opened #78 "Clean up translations files"
At the moment we have eight translation files. Adding new languages is a huge amount of work and cost a lot of money. At the same time there are many legacy translations keys not used any more or used in old parts of the wheelmap.

So we have an urgent need to clean up our translations files (at best to have only two or three well organized single files).

[2015-12-07 16:41] thermann78 opened #79 "Automatic toilet tagging for amenity=toilets"
Input from OSM Community:
"Wenn es sich um öffentliche Toiletten handelt also amenity=toilets, dann sollte ein wheelchair=yes / limited reichen. Hier noch ein Schlüssel toilets:wheelchair hinzuzufügen wäre eine Tautologie
Vielleicht kann man die Auswertung für die Karte noch so ändern, dass diesen Fall das Feld „Status WC“ nicht angezeigt wird. Danke" (http://community.wheelmap.org/wheelmap-mit-ne

[2015-12-07 20:23] lennerd commented on #76
I'm not quite sure, how you would design this in detail. You mean, showing the symbol overlay when the user hovers the markers?

[2015-12-08 08:11] holgerd commented on #76
my 5cents:
@kannes The challenge is that we are already using icons to symbolize the place category (restaurant, pub, metrostation etc) and it is already a challenge to find clear icons for 100+ catetegories which are that small. I do not see how adding more symbols to each icon would make the user experience better. Maybe higher contrast of the colors helps.

People who can not distinguish the co

[2015-12-08 09:08] holgerd opened #80 "Counter on /profile not updating"
A user reported after participating at #mapmyday on Dec 3, 2015:

Added screenshot:
![image](https://cloud.githubusercontent.com/assets/218506/11651668/d1cafff6-9d92-11e5-9b69-dbc244af0d93.png)

Holger had a look at the delayed_job queue:
![munin____wheelmap_org____spiderman_wheelmap_org____delayed_job](https://cloud.githubusercontent.com/assets/218506/11651669/d473cef4-9d92-11e5-94f6-7965235447dd

[2015-12-08 09:17] holgerd commented on #78
Did you discuss this with Silke already? She has done a lot of cleanup work already afaik.

[2015-12-08 10:35] lennerd commented on #78
Yes, Jonas, Silke and I talked about it. They fixed some source language strings but that didn't clean up the Transifex project. Unfortunately this needs to be done by someone, who can read code to see if the translation keys are really used.

[2015-12-08 10:41] lennerd commented on #80
@holgerd Are you sure, that you marked all this places via the online map? Did you always login before you mark places?

[2015-12-08 12:47] lennerd opened #81 "Write Wikis for common tasks"
It would be nice to use the Wiki of this repository to document common tasks for other developers. For example the import of new regions or new categories/node types.

@thermann78 Do you have maybe other things to add?

[2015-12-08 15:51] thermann78 opened #82 "Umlauts lead to duplicate wkt-entries"
We have a problem with importing new regions. As by now, regions are imported as .wkt-files into https://github.com/sozialhelden/wheelmap/tree/master/db/data/wkt/.
Have a close look to regions with umlauts in their name: in folder /europe/austria, /europe/germany and /europe/switzerland, their are several duplicates like "baden_wuerttemberg.wkt" and "baden_wurttemberg.wkt" as well as duplicate fol

[2015-12-08 18:59] holgerd commented on #80
I will test it again but the original bug reporters says he was not the only one who marked places without affecting the counter.

[2015-12-08 19:08] holgerd commented on #80
I marked a place and my counter went from 6 to 7 places immediately.

[2015-12-09 12:00] lennerd commented on #54
I had a call with @RaphaelHeber to discuss the icon implementation. He will contact me on Friday with some information about the icon implementation in every app. At the moment it looks like every app is using the API as favored. So adding new node types should be no bigger deal.

I also mentioned a solution to have a more stable icon path. At the moment we only send the icon file name which needs

[2015-12-10 13:47] dev-camp-2015 opened #83 "can't undo toilett classification"
if you set the toilett flag to "yes" or "no" by accident, you can't set it back to "unknown"

[2015-12-10 13:48] dev-camp-2015 opened #84 "can't undo wheelchair classification"
if you classify a location as wheelchair = yes/limited/no you can't set it back to status "unknown"

[2015-12-10 14:50] holgerd commented on #59
Important to know: the column "country" is wrong, ask Svenja.

[2015-12-10 14:50] holgerd commented on #59
Suggestion

- [ ] import this CSV without toilet information (just as before)

We can re-import the toilet info later.

[2015-12-11 11:33] voltagex commented on #44
Still on my to do list :disappointed:

[2015-12-11 11:34] lennerd commented on #44
Do you maybe remember which setup you used when this bug appeared?

[2015-12-11 11:35] voltagex commented on #44
Front page is in German even though I'm sending `Accept-Language:en-GB,en;q=0.8,en-US;q=0.6,en-AU;q=0.4`

[2015-12-11 11:37] lennerd commented on #44
Ah, okay. So this is a duplicate: #67

If you still interested in helping out with this, please take a look in the linked issue. :relaxed:

[2015-12-11 11:37] #44 closed

[2015-12-11 11:39] voltagex commented on #44
If I find the other place where this was happening I'll let you know :) Sorry for the duplicate.

[2015-12-11 11:40] lennerd commented on #44
Okay, that would be nice.

No problem. We're happy when people contribute. :wink:

[2015-12-11 11:44] voltagex commented on #49
I am reducing my open-source todo list for the moment - this needs another set of eyes but I am still interested

db:seed would *not* connect to a remote database for me.

[2015-12-17 13:39] skade opened #85 "Mention door width?"
From user feedback:

https://twitter.com/kkvie/status/677481495288782848

![mobile app](https://cloud.githubusercontent.com/assets/47542/11870861/a2b98bde-a4cb-11e5-96c7-d1336b33b975.jpg)

Does not mention door widths and they can get problematic at some places. Would that be a good addition to mention?

[2015-12-17 18:17] lennerd commented on #56
@christoph-buente What do you think how complicated is this?

[2015-12-17 23:19] christoph-buente commented on #56
I think it should be fairly easy. Iterate over all premium pois, which have a corresponding pois without wheelchair or toilet tag. And then put a job on the queue to update these flags accordingly. Could be run automatically once a day.

[2015-12-18 11:28] holgerd commented on #85
Since this is just a representation of http://wiki.openstreetmap.org/wiki/DE:Key:wheelchair , changing the meaning of an existing OpenStreetMap-key should be discussed with the OSM community in the wiki or mailing list.

My hunch/hope is that most people will recognize extremely narrow doors and tag them acordingly.

[2015-12-18 11:28] #85 closed

[2015-12-18 11:48] lennerd opened #86 "Show premium provider badget under toilet status"
Would be great to have a badget for the information about the status provided by premium providers also for the toilet tag.

<img width="803" alt="screenshot 2015-12-18 12 47 34" src="https://cloud.githubusercontent.com/assets/1609692/11896295/8dadc42a-a585-11e5-8aa7-cdc3764c05d0.png">

[2015-12-22 11:11] Xylakant commented on #49
I'll just grab that if you don't mind

[2015-12-22 19:31] Xylakant commented on #49
It's possible to run run the db:create command on remote machines by overwriting local_database? in active_record. However, there's a bit of a problem since I'm uncertain that docker/docker-compose always assigns the same IP space to the docker interface.

[2015-12-22 19:32] Xylakant commented on #49
we also have some broken migration that tries to create a primary key with a null component.

[2015-12-22 19:47] voltagex commented on #49
When you set up entries for different containers in docker-compose.yml, it should create corresponding /etc/hosts entries that you can rely on.

[2015-12-23 10:10] Xylakant commented on #49
Ok, I sort of have this working, but it needs major tweaking.

First of all it makes little sense to use ADD to add the application to the container. That would mean you have to rebuild every time you do a code change. It's probably better to just mount the app directory as a volume.

I'm also not convinced that creating the database on build is the best option since a single failed migration mean

[2015-12-23 17:32] polarbearing opened #87 "amenity=community_centre spelled wrong (_center) in wheelmap categories"
The american spelling (amenity=community_center) of amenity=community_centre is deprecated but used in the categories to create a new entry.

This has led to Germany having the highest concentration of the deprecated tag now :-(

Test example: http://www.openstreetmap.org/node/3906831259/history

[2015-12-26 10:41] lennerd commented on #87
We will definitely take a look into this. Thank you for reporting.

[2016-01-04 13:13] lennerd commented on #59
Okay, the current state is that we have a working importer which adds the correct POI entries to the database. Unfortunately the created jobs inside the importer get stacked and are not executed.

[2016-01-04 13:16] lennerd commented on #59
* [ ] Fix the importer or the job/task created in the importer to upload photos from streetspotr correctly.
* [ ] Try to find a way to not store the same images twice when the import command was used with the same data.
* [ ] Clear worker and rerun the import task from streetspotr.

[2016-01-06 08:33] holgerd commented on #54
@lennerd any update on this? Did @RaphaelHeber give you feedback?

[2016-01-06 09:03] lennerd commented on #54
Yes, he did. There are a few little things we need to change in the Windows and Android App. I need to discuss this with Jonas the next days (maybe friday), to see if we can buy some resources to change the apps.

Windows: Icons are selected but not downloaded from the API. The Windows Phone is using an old ZIP file approach which I want to get rid of.

Android: Icons are not downloaded from the A

[2016-01-06 09:11] RaphaelHeber commented on #54
I'll talk to Tim and provide more details regarding this topic until Friday.

On Wed, Jan 6, 2016 at 10:03 AM, Lennart Hildebrandt <
notifications@github.com> wrote:

[2016-01-06 10:54] schultyy commented on #71
We did a bit of research and found out that this problem is caused by active admin. There is an issue for that problem https://github.com/activeadmin/activeadmin/issues/783

[2016-01-08 09:39] holgerd commented on #27
@lennerd can this be closed?

[2016-01-08 10:24] #71 closed

[2016-01-08 11:56] holgerd commented on #59
- [ ] have a look if old photos can be deleted.

[2016-01-11 11:38] 1000miles opened #90 "Update dev-env for MacOS, Ubuntu & Vagrant in README.md"
It takes a lot of time to research, configure and (re-)setup the project wheelmap dependent on the different environments (e.g. Ubuntu, Vagrant, etc.) and packages that are used.

Currently the [README file](https://github.com/sozialhelden/wheelmap/blob/master/README.md) contains installation instructions mainly for Homebrew which is rather relevant for Mac Users, another example are the instructi

[2016-01-11 17:03] 1000miles opened #92 "[LAYOUT] First list-item in NAV-bar shifted on mouse-over (in FF Browser)"
In Chrome and Safari, it works great.
In Firefox 43.0.4 it's shifted.

![00000030](https://cloud.githubusercontent.com/assets/4077916/12240307/f0f8d848-b88c-11e5-90b6-9b0b59244866.png)

[2016-01-12 10:36] schultyy commented on #80
With improved logging implemented in #91 we understand better on what the delayed jobs actually work on.

[2016-01-13 09:48] holgerd opened #93 "Widget not working on SSL pages"
Buge report we got from somebody trying to use our widget:

====

Hi there,

We have problems implementing the Wheelmap widget on https://dev.handiscover.com
It worked well when running on localhost, but we can't manage to get it running on the https site. If we load the iframe by the original url (http), the browser refuse to load it because of mixed content. Replacing the url with https doesn't

[2016-01-13 10:04] Xylakant commented on #93
do we provide the widget via HTTPS? Plain HTTP Content is usually forbidden by the mixed content policies.

[2016-01-13 10:41] lennerd commented on #93
Yes, rights, we are aware of this problem. And it already happens with some of our users.

I have no big expierence in adding an HTTPS protocol. But I think it should be no big deel to add it to our servers. In the application should be no changes needed.

[2016-01-13 10:55] Xylakant commented on #93
there's some stuff that might need to be done if we want to provide a proper user experience. HTST headers, links for transactional emails might need adjusting, some redirects might need work. We need to ensure we're not embedding scripts and CSS from non-https sources. Cloudflare etc,

First of all we need a certificate, and we certainly need some testing.

[2016-01-13 11:03] lennerd commented on #93
Good point about the assets. As far as I know, the only external assets we use are some analytics and social badgets. But they all should work fine with HTTPS. We still need to check this though.

I think the best way would be to first add SSL only to the staging server (if possible). So we can check every page and redirect and give the team the chance to go to every corner of the page.

[2016-01-13 11:11] holgerd commented on #54
@RaphaelHeber any updates on this?

[2016-01-13 14:01] schultyy opened #95 "I18n::InvalidPluralizationData: translation data {:other=>"%{count} 結果:"} can not be used with :count => 1"
In https://github.com/sozialhelden/wheelmap/blob/22c498a/app/views/search/index.html.haml#L2 occurred the following error:

I18n::InvalidPluralizationData: translation data {:other=>"%{count} 結果:"} can not be used with :count => 1

[code]

[2016-01-13 14:51] schultyy opened #96 "NoMethodError: undefined method `model_name' for NilClass:Class"
In the index view of TermsController occurs the following error:

[code]

Backtrace:
[code]

Parameters:
[code]

Env:

[code]

[2016-01-13 15:01] schultyy opened #97 "Search not user friendly: spaces are replaced with "+" when re-searching, leading to 0 results"
When I search for "12 place voltaire 94200" I get one result. I select the result and the map shows that area.
After that I hit the search button again but then I get no results at all, because the search term was changed to `12+place+voltaire+94200`. From a user's perspective this makes the search functionality difficult to use.

[2016-01-13 15:34] schultyy opened #98 "URI must be ASCII Only"
Some requests appear to contain non ASCII characters like:
- http://wheelmap.org/map?lat=50.40241362526519&lon=30.532023000000006&q=Kiev&zoom=10\xE2\x80\x8B
- http://wheelmap.org/map?a=b&lat=61.88420105&lon=11.51690006&q=S\xEF\xBF\xBDlen,midtre&zoom=17
- http://wheelmap.org/map?a=b&lat=59.52750015&lon=9.96829987&q=Hajer\xC3\xA5sen&zoom=17
- http://wheelmap.org/map?a=b&lat=61.61920166&lon=11.123299

[2016-01-13 16:16] schultyy opened #99 "ActiveRecord::RecordInvalid"
Airbrake was notified about the following error:
`ActiveRecord::RecordInvalid: Gültigkeitsprüfung ist fehlgeschlagen: Image translation missing: de.errors.messages.extension_white_list_error`

[code]

Params:
[code]

[2016-01-13 17:12] RaphaelHeber commented on #54
@holgerd I didn't receive feedback from Tim yet - I will definitely get back to you on Friday. I apologize for the delay!

[2016-01-14 09:50] thermann78 commented on #93
Cloudflare should handle SSL without any problems, it's just a matter of settings. Let me know if some parts are switched to HTTPS so I just do the setup change on CF.

[2016-01-14 10:30] holgerd opened #100 "Show link to "add place" at the end of search result list"
As a visitor who searches for a place, I want to learn that I can add missing places.

- [ ] formulate text
- [ ] also show this link when 0 results. (z.B. 3. bullet: "Dein Ort ist immer noch nicht dabei? __Dann füge ihn hinzu.__") Link to "Ort hinzufügen".

Why: Place owners can add their own place and reduce support work.

[2016-01-14 10:47] holgerd opened #101 "wheelmap.org/ should show /map directly (no more wordpress on landing page)"
Tasks related to RoR
- [ ] redirect (and make sure we have no 404s)
- [ ] define menu links within rails app (also i18n)
- [ ] remove menu item "Karte"
- [ ] add "FAQ" between "Presse" and "Kontakt"
- [ ] make sure menu is consistent across all rails pages (also detail pages etc)
- [ ] double check that it looks good on mobile

Task related to Wordpress
- [x] wheelmap logo should always link to "/

[2016-01-14 10:48] 1000miles commented on #87
@lennerd Thank you. As soon as we have access  to the credentials, we will deploy and test it.

[2016-01-14 13:56] lennerd commented on #101
Nice! Looking forward to this! :grin:

[2016-01-15 08:15] holgerd commented on #54
@RaphaelHeber any updates on this?

[2016-01-15 08:55] holgerd commented on #100
Screenshot: 0 results
![wheelmap_-_rollstuhlgerechte_orte_finden](https://cloud.githubusercontent.com/assets/218506/12349210/275982fa-bb6e-11e5-94b8-104464d1600c.png)

[2016-01-15 08:57] holgerd commented on #100
search result
![wheelmap_-_rollstuhlgerechte_orte_finden](https://cloud.githubusercontent.com/assets/218506/12349234/4feeaf60-bb6e-11e5-834e-1abdd684b77e.png)

[2016-01-15 10:08] RaphaelHeber commented on #54
Android: The icons have been downloaded from the API once and are hard coded within the app.

[2016-01-15 10:48] thermann78 commented on #101
Due to end of february.

[2016-01-15 10:54] 1000miles opened #103 "Librato::Metrics::ClientError"
**1. Error message:**
[code]

**2. Backtrace:**
[code]

[2016-01-21 14:12] holgerd commented on #93
Let's collect concrete tasks for this issue.

[2016-01-26 15:11] 1000miles opened #110 "db/structure.sql automatically added to untracked area"
It seems as if after every change the file `db/structure.sql` is added automatically to the untracked list. To avoid manual work each time (to remove the file from the untracked list), we need to look into the settings.

[code]

[2016-01-26 15:16] schultyy commented on #110
We need to figure out why both `db/structure.sql` and `db/schema.rb` exist at the same time. From what I see we could get rid of `db/structure.sql` and keep `db/schema.rb`.

[2016-01-26 15:35] schultyy opened #111 "Use Unicorn in devlopment"
Right now, in development Webrick is used as server. To be on par with production we should switch to Unicorn.

[2016-01-26 15:55] schultyy opened #112 "Deployment fails if locale is not set to en_US.utf8"
Given the case I want to do a deployment from a machine with locale `LC_ALL=en_US`.
When I run `bundle exec cap staging deploy` then I get the following output:

[code]
The deployment shouldn't be dependent on the user's locale.
(Workaround to avoid this situation: set locale to `en_US.utf8`.

[2016-01-26 21:27] lennerd commented on #110
Do we maybe need this file for the Travis tests?

[2016-01-27 08:54] schultyy commented on #110
Rails automatically generates a file containing the current database schema. By default it's `db/schema.rb` but you can decide that you want to have `db/structure.sql` instead. As far as I know, `db/structure.sql` is needed only if we're using more database specific features like Triggers, Stored Procedures etc. But from what I can see this is not the case.

[2016-01-27 10:33] holgerd opened #114 "Support eurokey for toilets"
Wheelmap community manager writes:

__

wir bekommen immer wieder Anfragen von Nutzern, wo man in der Wheelmap Behindertenparkplätze findet. Die Krux ist, dass sich OSM-seitig der Typ Berhindertenparkplatz aus dem key amentity=parking in Kombination mit capacity:disabled (yes/no/number) zusammensetzt. Bei Toiletten mit Euro-Schlüssel ist es ähnlich: amenity=toilets + centralkey=eurokey.

Könnten w

[2016-01-27 10:39] holgerd commented on #87
is this live now?

[2016-01-27 10:43] schultyy commented on #87
It's live now.

[2016-01-27 10:53] holgerd commented on #87
yay!

[2016-01-27 10:53] #87 closed

[2016-01-27 10:54] holgerd commented on #80
@schultyy I guess can I close this?

[2016-01-27 17:42] schultyy commented on #80
Yes, this one can be closed

[2016-01-27 20:53] #80 closed

[2016-02-05 13:30] timfreiheit opened #117 "Update node without phone number"
Hi,
we had the request to remove the phone number as an editable field.
But it seems to be not always possible to update a node without the phone number parameter.
The node already has an phone number set with an incorrectly formatted number.

Request Put:
[code]

Response:
[code]

[2016-02-08 09:14] holgerd commented on #117
@lennerd can you help out?

[2016-02-08 12:35] lennerd commented on #117
Sorry, no time for this. @schultyy Can you take a look?

[2016-02-08 13:38] schultyy commented on #117
yep, I can check that

[2016-02-08 13:43] schultyy commented on #98
Another example: http://wheelmap.org/map?a=b&lat=44.32220078&lon=6.80690002&q=C\xC3\xAEme%20de%20la%20Bonette&zoom=17

[2016-02-08 13:45] schultyy opened #118 "ActionView::MissingTemplate: Missing template api/docs/resources/message.html"
ActionView::MissingTemplate
Error message

`
ActionView::MissingTemplate: Missing template api/docs/resources/message.html with {:locale=>[:de], :formats=>[:html, :text, :js, :css, :ics, :csv, :png, :jpeg, :gif, :bmp, :tiff, :mpeg, :xml, :rss, :atom, :yaml, :multipart_form, :url_encoded_form, :json, :pdf, :zip, :geojson, :kml, :woff, :ttf, :otf, :eot], :handlers=>[:erb, :builder, :arb, :haml]}. Se

[2016-02-08 15:12] schultyy opened #119 "NoMethodError: undefined method `floor_to' for nil:NilClass"
Request:
`http://wheelmap.org/api/nodes/search?api_key=[FILTERED]&bbox=&wheelchair=unknown`

Error message	NoMethodError: undefined method `floor_to' for nil:NilClass
Where: `api/nodes#search`

Backtrace:

`
app/controllers/api/api_controller.rb:94 in normalize_bbox
/gems/activesupport-3.2.22/lib/active_support/callbacks.rb:529 in block in _run__216003802192187891__process_action__5429089356874869

[2016-02-11 04:59] holgerd commented on #70
- ähnliche orte nicht weltweit suchen Sondern wie in poichecker (gleiche Kategorie, in der Nähe, siehe Code ;))
- in Safari mobil sehe Ichbewusstsein "Speichern" keinen Fortschritt oder es geht nicht
- Typ Dropdown-Menü hat leere Zeilen zB nach Optiket

[2016-02-11 07:16] lennerd commented on #70
Thanks for the feedback. I will keep working on this today and tomorrow.

[2016-02-11 15:23] schultyy opened #125 "Check if inherited_resources can be used with Rails > 3"
The project's README says, that it's no longer maintained.
It needs to be checked if it still can be used or if this needs to be replaced with something else.

[2016-02-11 15:36] schultyy commented on #125
inherited_resources has support for Rails up to 4.2. They say they do not support any newer version https://github.com/josevalim/inherited_resources/issues/373#issuecomment-58701079

[2016-02-12 08:24] holgerd commented on #101
@thermann78 Please let me know when you start this.

[2016-02-12 08:32] holgerd commented on #54
Status: Sozialhelden are waiting for SMF to estimate the cost to implement the icon handling in the apps. ("Bitte Aufwand schätzen, dass alle Apps auf die gleiche Art und Weise die Kategorien, Übersetzungen und Icons ohne App-Update von den Servern aus der API ziehen.")

[2016-02-12 11:06] schultyy commented on #125
Decision here is to remove `inherited_resources` and to update the affected controllers.

[2016-02-12 12:04] thermann78 commented on #101
When we decide just to setup the map as new landing site in WordPress, we
can switch immediately.

Am Freitag, 12. Februar 2016 schrieb Holger Dieterich :

[2016-02-12 14:04] schultyy opened #128 "Remove inherited_resources"
We need to remove inherited_resouces because it's not supported in Rails versions > 4.2.

[2016-02-12 14:04] schultyy commented on #125
Follow up issue #128

[2016-02-12 14:04] #125 closed

[2016-02-12 14:21] #110 closed

[2016-02-15 07:53] schultyy commented on #128
Estimate: 5PT

[2016-02-15 08:04] schultyy opened #129 "Upgrade delayed_job"
To make the Rails 5 migration, delayed_job needs to be updated to the latest version.
Right now, version 4.1.1 does not support Rails 5, we need to check if we need to use the latest version from their master branch until a new version is published.

Estimate: 2PT

[2016-02-15 11:04] Xylakant opened #132 "Create Wildcard cert for *.wheelmap.org"
We need to secure multiple hosts in the wheelmap.org domain space. A wildcard cert would be the best option, as an alternative we could use a Multi-Domain certificate if we can list all domains we're using.

[2016-02-15 11:06] Xylakant opened #133 "Enable HTTPs for community.wheelmap.org"
We're loading some stylesheet resources from the blog, so we need to at least optionally offer TLS on the blog.

[2016-02-15 11:06] Xylakant opened #134 "Enable TLS on cloudflare"
since we're directing a lot of traffic via cloudflare, we need to enable TLS on cloudflare

[2016-02-15 11:09] Xylakant opened #135 "Ensure that the widget loads only protocol relative resources"
Loading of plain-http resources is disabled for TLS-protected resources, so the widget itself must not load any resource from plain http when it's loaded embedded on an https-enabled site. Either protocol-relative URLs should be used or as an alternative, all resources should be loaded via https only.

[2016-02-15 11:09] Xylakant commented on #93
SSL is enabled for stage using a self-signed cert. A quick test shows that we're loading resources from plain http which breaks the site. The following tasks have been opened to track progress on the ticket:

- [ ] Create a wildcard certificate for wheelmap.org [#132]
- [ ] Enable TLS for community.wheelmap.org [#133]
- [ ] Enable TLS on Cloudflare [#134]
- [ ] Ensure that the widget loads resourc

[2016-02-15 11:15] Xylakant commented on #132
CSR:

-----BEGIN CERTIFICATE REQUEST-----
MIIE+zCCAuMCAQAwgYwxCzAJBgNVBAYTAkRFMQ8wDQYDVQQIDAZCZXJsaW4xDzAN
BgNVBAcMBkJlcmxpbjEaMBgGA1UECgwRU296aWFsaGVsZGVuIGUuVi4xFzAVBgNV
BAMMDioud2hlZWxtYXAub3JnMSYwJAYJKoZIhvcNAQkBFhdob3N0bWFzdGVyQHdo
ZWVsbWFwLm9yZzCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAMAU1CJ2
BfF9/lUPrtq5tmDv11PtJduub3U/VCdeSD7d4JflKyMsAq0BkwvIik4bRIxnfP2B
QF2nDH3zfSfMUgIL1rBbyEtltSxkbohWb

[2016-02-15 11:18] Xylakant commented on #132
This csr should work with comodo or digicert or similar. A wildcard cert costs about 400 USD. Comodo does not offer Multi-Domain (SANS) certificates, digicert does. A Multi-Domain certificate is slightly cheaper with about 300 USD for a one-year certificate https://www.digicert.com/unified-communications-ssl-tls.htm

If we prefer a Multi-Domain cert, I need the list of domains that should be secur

[2016-02-15 11:45] holgerd commented on #132
Ok we are creating hostmaster@wheelmap.org now. ;)

[2016-02-15 11:46] Xylakant commented on #132
well, I can change the email address in the CSR :). Having the hostmaster email is in general a good thing though.

[2016-02-15 12:08] schultyy commented on #117
@timfreiheit I deployed a fix on staging.wheelmap.org. Now phone numbers are not validated anymore. Can you test if that's working for you now?

[2016-02-15 12:25] timfreiheit commented on #117
@schultyy looks good. thank you

[2016-02-15 12:42] holgerd opened #137 "custom (& funny) 404 error pages"
Let's create a funny 404 page (eg. http://wheelmap.org/nothinghere ).

photo suggestion (also attached):
https://www.facebook.com/photo.php?fbid=10151263184251247&set=a.10150460337231247.375283.534621246&type=3&theater

![404_raul](https://cloud.githubusercontent.com/assets/218506/13048979/de952db4-d3e9-11e5-9457-3e2ae0d1c830.jpg)

[2016-02-15 12:50] thermann78 commented on #134
Done. Switched SSL to flexible and turned Authenticated Origin Pulls on.

[2016-02-15 12:50] #134 closed

[2016-02-15 12:53] thermann78 commented on #93
Issue #134 : done.

[2016-02-15 12:53] thermann78 commented on #133
Can be done as soon as certificate is there.

[2016-02-15 13:02] holgerd commented on #132
done.

[2016-02-15 13:31] schultyy commented on #117
Ok then I prepare a production deployment.

[2016-02-15 13:46] lennerd commented on #135
Fixed via https://github.com/sozialhelden/wheelmap/commit/368872e1c71d046cfd9632046c538bd16723c2df

[2016-02-15 13:51] schultyy commented on #117
It's now available on wheelmap.org.

[2016-02-15 13:51] #117 closed

[2016-02-15 14:11] lennerd commented on #93
The widget generator is also using a relative protocol in the embed code now.

[2016-02-15 19:21] cdupoiron opened #141 "Widget - language issue"
Hey,

First, thanks for your work :)

I integrated some widget in our blog and i have langugae issue, it seems to be in russian or another language. How can i change it or fix it?

http://handinantes.fr/theatre-graslin/ => on the right side

![sc langugage issue](https://cloud.githubusercontent.com/assets/4683624/13058157/a3112b0c-d421-11e5-9b5e-01b0122113c0.png)

[2016-02-15 19:40] holgerd commented on #141
Hi, great you are using the widget!

I guess this is not a bug, but an unexpected feature. Try this:

1. On the machine you took this screenshot, go to http://wheelmap.org/map
1. Change the language in the upper right corner to french (or whatever you like)
1. Go back to http://handinantes.fr/theatre-graslin/ . It should be the same language.

Let me know if that works for you.

[2016-02-15 19:43] cdupoiron commented on #141
Ooohhhh, thank you very much :)

[2016-02-15 19:43] #141 closed

[2016-02-15 20:22] lennerd commented on #141
Hey @cdupoiron,

nice to see the widget in action. To fix this issue permanently you can try to add the language to the URL in your embed code:

Instead of using 'http://wheelmap.org/embed/your-key' you can use 'http://wheelmap.org/fr/embed/your-key'.

That should pin the language to france (or what ever language you choose).

But we should definitly optimize this in the widget builder in the prof

[2016-02-15 21:13] thermann78 opened #142 "Simplify adding new regions"
At the current, the process to add new regions is pretty complicated:

1. Searching the rel ID of the specified geoshape on OSM
2. Visit http://polygons.openstreetmap.fr and create a .wkt with X/Y/Z 0.0001000
3. Add the .wkt in the https://github.com/sozialhelden/wheelmap/tree/master/db/data/wkt branch to the correct subfolder or start a pull request for a forked branch
4. Check in

This workflow

[2016-02-15 21:44] lennerd commented on #141
To give you a more useful example:
[code]

Watch out for the `fr` in the URL, which points the content of the iframe to the french version of the wheelmap.

[2016-02-16 08:45] cdupoiron commented on #141
It works like a charm ! :) thx @lennerd

[2016-02-16 13:14] 1000miles opened #144 "Gem updates required after Rails 5.x update"
We want to create a list of gems which need to be upgraded after we have updated from Rails 3.2.x to Rails 5.x

- [ ] Capistrano (>= 3.1.0) => Reason: breaking changes
- [ ] friendly_id (4.0.10.1) => Reason: Update required

[2016-02-16 18:48] timfreiheit opened #145 "Wrong Results in Assets Api"
There is an critical bug in the assets api.
The URLs in the json response are not valid.

[code]

[code]

[2016-02-16 22:50] lennerd commented on #145
This is caused by the fix for #135, as we now use relative protocolls for asset urls to fix SSL issues in the webapp. @schultyy @1000miles Any ideas on how to make an exception for the API?

[2016-02-17 10:30] lennerd commented on #145
Please don't get confused with the commit message, but be4c254340883761caba4446e7145a242fe8f4bf hopefully fixed the issue.

Had problems with an interactive rebase to squash multiple reverting commits into one which generated this confusing commit message.

[2016-02-17 11:24] holgerd commented on #145
@timfreiheit please let me know if that fixed the issue. Then I will inform the Windows Phone user who already emailed us reporting this problem.

[2016-02-17 11:34] timfreiheit commented on #145
@holgerd it is fixed :)

[2016-02-17 14:08] holgerd opened #148 "500 error on wheelmap.org/api/categories/1/node_types"
- I call http://wheelmap.org/api/categories/1/node_types?api_key=MYAPIKEY&per_page=6 in my browser where MYAPIKEY ist the key I got from my profile page
- I expect to see a result set.
- Instead, I get a 500 error. Other API request with my API key seem to work, for example http://wheelmap.org/api/nodes/3325161208?api_key=MYAPIKEY

[2016-02-17 14:34] schultyy commented on #148
I had a look into the errors reported by Airbrake and this one seems to be the related error:
Message: `NoMethodError: undefined method `find' for Api::Category:Module`

Backtrace:
[code]

Params:

[code]

[2016-02-17 16:16] cdupoiron opened #150 "Massive import"
Hello,

I'm sorry, It's not an issue...
I have a CSV file of 300 wheelchair-accessible parking and I'd like to import them.

My csv file is like this :
![image](https://cloud.githubusercontent.com/assets/4683624/13115910/0b291398-d59a-11e5-944b-8d708c651f42.png)

Do you have any advice to do it?

Thx in advance :)

[2016-02-17 17:29] lennerd commented on #148
Via `git bisect` I found out, that the error was introduced by 8cd67942b7c1188284c16ab97b1275b8a66b0c8c.

If you want to test this yourself, don't forget to restart the server between every iteration.

[2016-02-17 19:32] holgerd commented on #150
Thanks for your offer! Wheelmap is a project based on OpenStreetMap (OSM), so an import has to be made to OSM and then will automatically show up on Wheelmap. Having said that, it is good practice to discuss any bulk import with the OSM community first.

This is a good starting point:
http://wiki.openstreetmap.org/wiki/Import/Guidelines

It is also a good idea to discuss your import and/or ask for

[2016-02-18 06:53] holgerd commented on #101
@thermann78 can you look through this task list and check off wordpress related things you've already done?

[2016-02-18 08:43] thermann78 commented on #101
Yeah, done. The rest of the WP-related part will only be done with the redesign/new template. This will take place around April.

[2016-02-18 08:56] holgerd opened #151 "wrong redirect https://community.wheelmap.org/de"
- I type wheelmap.de or www.wheelmap.de in my broswer window
- I excpect this to forward to wheelmap.org
- Instead, I get redirected to https://community.wheelmap.org/der-social-day-2015-mit-immobilienscout24/

[2016-02-18 09:07] thermann78 commented on #151
This is known and included in Issue #51 as it results from wrong Nginx configuration as described within the listed issue.

[2016-02-18 09:25] holgerd commented on #151
When I check the http header for http://wheelmap.org/de I get this result:

http://wheelmap.org/de
301 Moved Permanently
https://community.wheelmap.org/de
301 Moved Permanently
https://community.wheelmap.org/der-social-day-2015-mit-immobilienscout24/
200 OK

As far as I understand it, the first redirect ist coming from #51 but the second is a different problem, hence the this issue. My guess is th

[2016-02-18 09:32] holgerd commented on #151
Status:	301 Moved Permanently
Code:	301
Date:	Thu, 18 Feb 2016 09:20:55 GMT
Content-Type:	text/html; charset=iso-8859-1
Connection:	close
Set-Cookie:	__cfduid=df71c55058a65a441061a46ff91ab739f1455787255; expires=Fri, 17-Feb-17 09:20:55 GMT; path=/; domain=.wheelmap.org; HttpOnly
Location:	https://community.wheelmap.org/de
Cache-Control:	max-age=43200
Expires:	Thu, 18 Feb 2016 21:20:52 GMT
Server:

[2016-02-18 10:06] thermann78 commented on #151
Yeah, this is normal behaviour by WordPress. The core tries to autocomplete URLs that couldn't be matched directly with a permalink. It's not a bug, but a feature.
The failure results from a false config: wheelmap.de redirects, as descripted above, to wheelmap.org/de - a directory that doesn't exist. This happens as followed:

1. All requests hit our App-Server who calls its Nginx-Conf.
2. If ther

[2016-02-18 10:09] holgerd commented on #151
okay.

[2016-02-18 10:14] holgerd opened #152 "Filter API requests by country ploygon"
Submitted suggestion:

Um die Nachbereitungsaufwände von nationsweiten Content-Partnern zu verringern und um die API Last zu reduzieren, soll die Auswahl der abgerufenen Daten durch Gebiets-/Länderpolygone begrenzt werden können. Zunächst: Deutschland.

[2016-02-18 10:16] holgerd opened #153 "API calls can be filtered by multiple node_types (not just one)"
submitted feature request:
===
Ausgegebene Daten über die API sollen nicht mehr länger nur auf einen Node_type begrenzt werden können, sondern auf eine ausgewählte Reihe von Node_types. So können Content Partner die nur für sie relevanten Ortstypen mit einer Abfrage abrufen.

[2016-02-18 10:49] lennerd commented on #148
@holgerd Does this fix the issue for you on staging? If yes, I would like to deploy this in production.

[2016-02-18 15:12] thermann78 commented on #101
"add live counter in lower left in the same design as on wheelmap app."

Embed-code needed from @lennerd or Asquera.

[2016-02-18 15:24] thermann78 commented on #101
FAQ can't be moved at the current because it breaks the menu's layout if I add another item.
ATM it can be found under "Über Wheelmap - Häufig gestellte Fragen".
Must be done within redesign topics.

[2016-02-18 15:43] thermann78 commented on #101
"check implications for sub-domains and redirect (ask @Xylakant )"

No implications as just map has been set as default site in WP. No changes in cofiguration have further been done.

[2016-02-18 15:45] thermann78 commented on #101
"double-check that we have no new 404s"

Only URL that has been affected is wheelmap.org - and it just has changed its content, so 404s are impossible.
After implementation of the counter in the WP footer (task that hasn't really to do anything with the landingsite itself) all other tasks can be assigned to RoR-crew.

[2016-02-18 19:46] Hans-Mueller opened #158 "Support wheelchair tags of stop areas"
Problem: The wheelchair-tags of stop areas are currently not shown nor used on wheelmap.

Background information: In OSM there are stop areas: http://wiki.openstreetmap.org/wiki/Proposed_features/Public_Transport#Stop_area. These stop areas can include wheelchair tags, for example this stop area: http://www.openstreetmap.org/relation/936542. The benefit is that there is no need to tag the station

[2016-02-19 09:18] schultyy commented on #128
We also need to take the API namespace into account. Those controllers are using inherited_resources as well.

[2016-02-19 09:34] lennerd commented on #101
@thermann78 A live counter can be implemented via the API endpoint: `/api/nodes/counts?api_key=YOUR_API_KEY`. As you can see, this needs to be done via the backend because the API key should not be public. If you need any further help, please contact me.

Example response:
`{"tagged":19165,"fully_accessible":9165,"limited_accessible":4547,"not_accessible":5453}`

[2016-02-19 09:36] holgerd commented on #51
@Xylakant can I give this to you?
www.wheelmap.de and wheelmap.de should simply 301 redirect to http://wheelmap.org

[2016-02-19 09:54] lennerd commented on #151
I would like to reopen this. This redirect is clearly a problem of the nginx configuration. Let me explain this via the example of Holger in https://github.com/sozialhelden/wheelmap/issues/151#issuecomment-185623315:

301 Moved Permanently
https://community.wheelmap.org/de
301 Moved Permanently
https://community.wheelmap.org/der-social-day-2015-mit-immobilienscout24/
200 OK

@thermann78 Yes, Wordp

[2016-02-19 10:04] thermann78 commented on #151
Right, but as written above: this is part of #51 :) That's why @holgerd closed it.

[2016-02-19 11:11] lennerd commented on #51
So, this also includes to fix the wrong proxy for http://wheelmap.org/de to the blog.

[2016-02-19 11:11] lennerd commented on #151
Ah sorry.

[2016-02-19 11:11] #151 closed

[2016-02-19 12:01] thermann78 commented on #158
This may cause logic problems in case that there are several transport types with different accessibility.
For example, have a look at Bahnhof Warschauer Straße Berlin (https://www.openstreetmap.org/#map=12/52.50611/13.45056): While U Warschauer Straße is wheelchair=yes, S Warschauer Straße is wheelchair=no.

Or aren't these stations combined to one stop area?

[2016-02-20 14:04] Hans-Mueller commented on #158
The rule of thumb is that "a stop area has one unique UIC reference and one unique name" see http://wiki.openstreetmap.org/wiki/Proposed_features/Public_Transport#Stop_area.

As far as I can see, in reality, there are three stations at Warschauer Straße:
A "Berlin Warschauer Straße", UIC reference number 8089045 (S-Bahn)
B "Warschauer Str. (S), Berlin", IBNR reference number 749031 (tram)
C "Warsc

[2016-02-25 13:35] lennerd opened #161 "Popover in embed widget does not open node detail page on new window"
When a user clicks on the popover title inside the embed widget, the corresponding node detail page is not opened in a new window/tab but inside the iframe.

[2016-02-25 14:47] thermann78 opened #162 "API-Error"
I keep getting error 500 for the following API request:

`http://wheelmap.org/api/categories/9/nodes?api_key=(key)&bbox=13.341,52.505,13.434,52.523&per_page=10&wheelchair=yes`

My request is exactly constructed like described in the API doc (http://wheelmap.org/el/api/docs/resources/nodes: "This resource can also be nested within categories or node_types.
http://wheelmap.org/api/categories/1/nodes

[2016-02-25 15:21] lennerd commented on #162
It's a big caused by inherited_resources in 1.6, which got pinned in the current master by 099e5a81cb294bbca78c2edf0e4dc03c4045297b. It's related to #148 and working as expected on staging.

@schultyy @1000miles Is the current master ready for deployment?

[2016-02-25 15:24] lennerd commented on #148
@holgerd ping

[2016-02-25 15:30] schultyy commented on #162
@lennerd From my side it's ready (I didn't merge anything in master this week).

[2016-02-25 16:32] holgerd commented on #148
yes now it works on staging!

[2016-02-25 16:43] 1000miles commented on #162
@lennerd yes, from my side, too.

[2016-02-25 22:42] lennerd commented on #162
Fix is deployed on production.

[2016-02-25 22:42] #162 closed

[2016-02-25 22:42] lennerd commented on #148
Fix is deployed on production.

[2016-02-26 08:49] #132 closed

[2016-02-26 08:50] holgerd commented on #133
@thermann78 status?

[2016-02-26 08:54] holgerd commented on #54
Plan: SMF will update Android App. Result: Only one way all apps get category icons.

[2016-02-26 08:56] holgerd commented on #93
@lennerd that means the widget is ready for SSL, yes?

[2016-02-26 12:28] lennerd commented on #93
The current branch for the SSL asset changes is not merged into master. @Xylakant wanted to contact me when he had time to change the server settings to pass the currently used protocole. Otherwise rails will not be able to generate the correct asset host.

When this is done, I would rebase to master and deploy this changes to staging.

[2016-02-26 12:29] lennerd commented on #54
I will try to post information about next step for @1000miles today or tomorrow.

[2016-02-27 10:23] lennerd opened #163 "Integrate cross-document messaging to Widget builder"
Cross-document messaging enables us to automatically update the embed code inside the Widget builder page in the profile when the users interacts with the widget preview.

* [ ] Add message poster and receiver to the Widget builder application to start the communication between Widget builder and embed page and to recieve updated query parameters from the frontend application.
* [ ] Add message re

[2016-02-27 10:32] lennerd opened #164 "/widgets gets redirected to community.wheelmap.org/widgets"
The Widget builder is not working, as the underlaying widget API url gets redirected to community.wheelmap.org.

[2016-02-27 13:48] lennerd opened #165 "Add tests for Widget builder"
The Widget builder needs more tests.

[2016-02-29 13:07] thermann78 commented on #133
Little bit weird. We have following situation:

1. Flexible HTTPS via Cloudflare. We cannot change to full HTTPS, because this is only contained in business account - pricing around 200$/mo.
2. Community.wheelmap.org is hosted on a virtual server without dedicated IP.

Both causes warnings on some browsers. What would be the best solution for this case, @Xylakant?

[2016-02-29 13:29] holgerd commented on #133
@skade , can you help here?

2016-02-29 14:07 GMT+01:00 Timo <notifications@github.com>:

[2016-02-29 13:29] holgerd commented on #133
Felix ist im Urlaub, aber Florian ist verfügbar.
ciao,h

2016-02-29 14:07 GMT+01:00 Timo <notifications@github.com>:

[2016-02-29 13:31] skade commented on #133
Is it possible to move the resources over into the wheelmap or are those dynamically generated by the community page?

[2016-02-29 13:35] thermann78 commented on #133
It is WordPress. The files are physically located on our vServer, the sites are dynamically generated from MySQL.
We just moved them away from Spiderman in order of the separation of Ruby and PHP.

[2016-03-02 11:04] cdupoiron commented on #150
Thank you for your help :)

[2016-03-02 11:05] #150 closed

[2016-03-02 11:44] holgerd commented on #150
Did you take any actions? If not, I'm happy to help!

[2016-03-02 11:51] cdupoiron commented on #150
No :(
I'm looking for a way to test each import before doing it, to know if it's a duplicate or not. I plan to do it next holidays :)

[2016-03-02 12:10] holgerd commented on #150
I know the OSM [guidelines](http://wiki.openstreetmap.org/wiki/Import/Guidelines) may seem like a daunting process, but my experience is that engaging with the community early on helps a lot. I suggest you simply put the CSV somewhere on the web (github, Google Spreadsheet, whatever) and post the link to the [imports mailing list](https://lists.openstreetmap.org/listinfo/imports). Maybe somebody e

[2016-03-04 08:40] holgerd opened #166 "http://wheelmap.org/node_types returns blank page (http 406 error)"
- I open http://wheelmap.org/node_types on my chrome/mac (tried this logged-in as admin and in incognito mode)
- I expect the list of all nodey-types to show up
- Instead, I see a blank white page. The HTTP Response according to http://web-sniffer.net/ is a 406 error (see below)

=============

HTTP Request Header

Connect to 141.101.125.177 on port 80 ... ok

GET /node_types HTTP/1.1[CRLF]
Host:

[2016-03-15 15:28] thermann78 opened #167 "Photo view broken"
I open http://wheelmap.org/nodes/321597100 and see on both Safari and Firefox just placeholders in the section "Fotos von diesem Ort". Clicking on them leads to an error message prompting "The image could not be loaded".
This only seems to occur with this place. No idea, why.

[2016-03-15 17:56] 1000miles commented on #166
Hello Holger,

if you type the url `http://wheelmap.org/node_types.json` in the browser, you should be able to see the node_types list as a json-file. Is that enough for you to append `.json`to the url to see the values or do you want us to set json as default for the node_types output?

Happy to hear from you how to progress.

[2016-03-15 20:06] holgerd commented on #166
It should return a publicly viewable html file. Check archive.org :)

[2016-03-15 21:28] holgerd commented on #166
https://web.archive.org/web/20150318095607/http://wheelmap.org/node_types

[2016-03-16 10:42] 1000miles commented on #166
@holgerd Thank you for the info. Will send a pull request today. :)

[2016-03-17 14:09] 1000miles commented on #54
The node-types index page is affected by the error messages of currently removed/missing poi translations, this is why the statistics are shifted and don't appear within the div with 980px width.

**Image Snapshot on staging server:**

![node_types_missing_translations_17032016](https://cloud.githubusercontent.com/assets/4077916/13848234/2afaae70-ec51-11e5-969d-07bdf91878bc.png)

**On localhost:**

[2016-03-18 09:25] holgerd opened #170 "Places mapped as "relation" in OSM do not show up in Wheelmap"
Steps to reproduce:

- I want to map http://www.stadt-koeln.de/service/adressen/kfz-zulassungsstelle and go to that place on wheelmap: http://wheelmap.org/map#/?lat=50.92337198692302&lon=6.9965046644210815&zoom=19
- I expect an icon for "Zulassungsstelle" to show up so I can tag ist as wheelchair-accessible.
- Instead, I do not see the icon. Problem: I may now create a new node and accidentally cr

[2016-03-24 14:19] holgerd commented on #166
This is not live yet, so I reopen this issue so that we don't forget it. Please deploy live whenever it is convenient for you.

[2016-03-29 09:56] 1000miles commented on #54
Welcome back! Happy to get input. Ping @lennerd :)

[2016-03-31 09:59] 1000miles commented on #166
We just deployed the fix of PR #168  on production today. As you may see under  `www.wheelmap.org/node_types` the poi translation issues on staging server don't apply to the live server. :)

![screencapture-wheelmap-org-node_types-1459417737874](https://cloud.githubusercontent.com/assets/4077916/14172305/b4fcdbf2-f737-11e5-9712-c83cdb855642.png)

[2016-04-04 08:25] 1000miles opened #175 "On after signup edit page: form validation not working properly"
**Case:**
* I am logged in
* I am on after signup edit page (`/profile/after_signup_edit`)
* I leave the email input field empty (even though it is marked as required) or I type in a non-valid email address with `dfdgfdgdg`
* I click on `Fertigstellen` button

=> I should get an error message which tells me to provide an email address first in order to complete the signup process, instead I get th

[2016-04-04 08:59] lennerd commented on #175
Yeah, that seems to be a bug. I will take a look at this as soon as #105 is deployed.

[2016-04-04 09:00] 1000miles commented on #175
:+1: Thank you for looking into it.

[2016-04-04 09:22] 1000miles opened #176 "On profile edit page: Flash message[success] not working properly"
**Given:**
- I have registered at openstreetmap.org
- I am logged into my account
- I am on my profile page (/profile)

**Steps on profile edit page:**
- I type in a new password
- I repeat my new password
- I type in my email address (which is empty by default)
- I click on Speichern

=> I should see a flash message[success] in order to be informed, if my profile update was successful, instead I

[2016-04-04 11:02] lennerd commented on #70
Please check again the new version on staging. The main changes are updated english translations to be imported into Transifex.

This should be fixed in the next version.

This is because of a failed node type we did once. This should not be a problem on production.

This is fixed.

[2016-04-04 12:40] lennerd commented on #70
@holgerd The fix for searching only in a small area around the defined address and for comparing photon results with the data of our database to show only available places is now on staging. What do you think?

[2016-04-04 12:46] holgerd commented on #70
after searching for the name "cafe" in category "Café" and location was Berlin I see suggested places in Saudi-Arabia, London and Berlin. See screenshot:
![img_5794](https://cloud.githubusercontent.com/assets/218506/14248283/052d3b50-fa74-11e5-80e3-dd342cbc53c7.PNG)

[2016-04-04 12:48] holgerd commented on #70
ok, now only Kranzler is left. :)

[2016-04-04 12:51] holgerd commented on #70
@lennerd "searching only in a small area around the defined address" may be too small since we do not know the user's intention.

I suggest:
1. a larger area like ca. 100km2 or so
2. Make this explicit in the headline: "We found these places within 100km. Is it one of those?"

[2016-04-04 12:51] 1000miles commented on #166
@holgerd Can we close this now?

[2016-04-04 12:54] holgerd commented on #70
- [ ] small design glitch on confirmation page: the map is too far to the left, see screenshot
- [ ] rename "Weiter" button on "Ähnliche Orte" to "None of the above"
![img_5792](https://cloud.githubusercontent.com/assets/218506/14248461/11055646-fa75-11e5-9a5f-7c5087c5d596.PNG)

[2016-04-04 12:54] lennerd commented on #70
The area is defined as 200 km radius from the address from the previous address section. Good point with the headline. Will fix it.

Remember that staging is based on a quite old OSM dataset, therefore the result will differ when seen on production.

[2016-04-04 12:55] holgerd commented on #166
sure. :)

[2016-04-04 12:55] #166 closed

[2016-04-04 12:55] holgerd commented on #166
thanks!

[2016-04-08 10:02] 1000miles opened #179 "Needs Revision: Signup, Login, Password Recovery & Profile Editing"
The signup, login, password recovery and profile editing process needs a revision because at some parts the redirections, flash messages and email messages don't follow a logical concept anymore since the signup/login authentication has been moved to openstreetmap.

This ticket is a parent task to collect all the subtasks.

**Example:**

![new_email_confirmation_page](https://cloud.githubuserconte

[2016-04-08 10:37] lennerd opened #180 "Optimize new add-node-layout for mobile devices"
Optimize new add-node-layout (#105) for mobile devices, to be exact:

- [ ] Fix breadcrumbs to fit into smaller screens
- [ ] Fix map in overview section
- [ ] Fix spacing issues on serveral sections

**Screenshots:**
![screenshot 2016-04-08 12 34 44](https://cloud.githubusercontent.com/assets/1609692/14381393/4e371c16-fd86-11e5-904a-0eaf39152410.png)
![screenshot 2016-04-08 12 35 14](https://clou

[2016-04-11 15:34] 1000miles opened #181 "On after signup edit page: alert message duplicate appears when providing email address"
**Case:**

- I have registered as a new user at openstreetmap.org
- I am logged into my new account
- I am on after signup edit page (/profile/after_signup_edit)
- I have type in my email address
- I click on Fertigstellen button

**Then I get this alert message:**

<img width="1271" alt="00000072" src="https://cloud.githubusercontent.com/assets/4077916/14432412/591bf36e-000a-11e6-9faa-c39f58147ca

[2016-04-12 13:18] #70 closed

[2016-04-12 13:53] lennerd opened #183 "[Airbrake] ie.js isn't precompiled"
Airbrake was notified about the following error:
Sprockets::Helpers::RailsHelper::AssetPaths::AssetNotPrecompiledError: ie.js isn't precompiled

Backtrace:
[code]

[2016-04-12 14:17] 1000miles opened #184 "[Airbrake]: Rosemary::Conflict: NotChanged"
**Infos:**
[code]

**Backtrace:**
[code]
---

**Documentation Link to Rosemary Gem:**
http://www.rubydoc.info/gems/rosemary/0.4.4/Rosemary/Conflict

[code]

[2016-04-12 15:14] #183 closed

[2016-04-13 08:09] thermann78 opened #185 "[Airbrake] ie.js isn't precompiled"
**Airbrake error:** [#6435](https://wheelmap.airbrake.io/projects/13709/groups/1662316779224486435)
**Airbrake project:** wheelmap

**Error type:** `Sprockets::Helpers::RailsHelper::AssetPaths::AssetNotPrecompiledError`
**Error message:** `` ie.js isn't precompiled ``
**Where:** `landing_pages#index`
**Occurred at:** Apr 13, 2016 08:08:38 UTC
**First seen at:** Apr 12, 2016 13:26:41 UTC
**Occurren

[2016-04-13 08:38] thermann78 opened #186 "[Airbrake] default.js isn't precompiled"
**Airbrake error:** [#6435](https://wheelmap.airbrake.io/projects/13709/groups/1662316779224486435)
**Airbrake project:** wheelmap

**Error type:** `Sprockets::Helpers::RailsHelper::AssetPaths::AssetNotPrecompiledError`
**Error message:** `` default.js isn't precompiled ``
**Where:** `landing_pages#index`
**Occurred at:** Apr 13, 2016 08:38:49 UTC
**First seen at:** Apr 12, 2016 13:26:41 UTC
**Occ

[2016-04-13 08:43] #185 closed

[2016-04-13 09:23] #186 closed

[2016-04-13 09:33] 1000miles opened #188 "[Airbrake] #<struct Faraday::Env method=:post, body="{\"errors\":{\"params\":{\"source\":[\"wheelmap-live/130_(ipad;_ios_9.3.1;_scale/2.00) is not a valid source name\"]}},\"request_time\":1460539921}", url=#<URI::HTTPS https://metrics-api.librato.com/..."
**Airbrake error:** [#2781](https://wheelmap.airbrake.io/projects/13709/groups/1621022365336522781)
**Airbrake project:** wheelmap

**Error type:** `Librato::Metrics::ClientError`
**Error message:** `` #<struct Faraday::Env method=:post, body="{\"errors\":{\"params\":{\"source\":[\"wheelmap-live/130_(ipad;_ios_9.3.1;_scale/2.00) is not a valid source name\"]}},\"request_time\":1460539921}", url=#<

[2016-04-13 09:35] #27 closed

[2016-04-13 12:43] 1000miles commented on #188
This ticket is a duplicate for following ticket: https://github.com/sozialhelden/wheelmap/issues/103. Closed.

[2016-04-13 12:43] #188 closed

[2016-04-13 13:59] thermann78 opened #189 "OSM-Sync not working properly?"
I have two issues that may indicate that we struggle with our OSM-Sync.

Issue 1:

- A user reported that he changed the node ID 595395687 but nothing had been affected. I looked it up in the OSM and found out that the last edit had been 5 days ago; later edits had not been recognized.
- I tried to switch wheelchair status from limited to yes what didn't take any change in the OSM for more than an

[2016-04-15 07:13] holgerd commented on #51
This is still open: http://wheelmap.org/de and www.wheelmap.de still redirect incorrectly to https://community.wheelmap.org/der-social-day-2015-mit-immobilienscout24/
@Xylakant can you look into this until the end of next week?

[2016-04-15 07:35] holgerd commented on #93
ping @Xylakant

[2016-04-15 10:09] holgerd commented on #133
@thermann78 can this be closed?

[2016-04-16 21:16] thermann78 opened #191 "[Airbrake] NotChanged"
**Airbrake error:** [#6784](https://wheelmap.airbrake.io/projects/13709/groups/1568031200580786784)
**Airbrake project:** wheelmap

**Error type:** `Rosemary::Conflict`
**Error message:** `` NotChanged ``
**Where:** `UpdateTagsJob#perform`
**Occurred at:** Apr 16, 2016 21:15:10 UTC
**First seen at:** Dec 04, 2015 11:18:05 UTC
**Occurrences:** 16759 (564 since last deploy on Apr 13, 2016 09:29:04 U

[2016-04-16 21:18] holgerd commented on #191
This issue was created by me (not timo) while browsing airbrake. Let's discuss this on Monday @1000miles @Xylakant

[2016-04-18 08:01] 1000miles commented on #191
@holgerd Thanks for the info. Yes, let's talk later.

P.S. I think this ticket is a duplicate of this, or? https://github.com/sozialhelden/wheelmap/issues/184

[2016-04-18 10:49] thermann78 commented on #189
Seems this is not unique. Sync seems to fail sporadic.
We got two bug reports from a user today:

1.

2.  (same user)

Hi

[2016-04-18 10:54] thermann78 commented on #189
Additionally to my last comment: I already checked out these two issues in my web browser (Safari 9.0.3) and found out, that in fact these two duplicate places aren't shown on the map.

[2016-04-18 15:38] Xylakant commented on #51
we seem to have various rewrites that have errors as well, for example fr.wheelmap.org which redirects to a 404 page. what's the proper redirect target for all language specific domaings? the map?

[2016-04-18 15:40] thermann78 commented on #51
Yes. http://wheelmap.org/fr/map would be correct.

[2016-04-18 15:45] Xylakant commented on #51
what should happen with  http://wheelmap.org/fr? making redirects for all of those language versions is going to be problematic since we need to explicitly list all of them.

[2016-04-18 15:56] Xylakant commented on #51
pointing to  wheelmap.org/$1 as proposed is certainly the wrong solution and will break existing links to wheelmap.de/map.

[2016-04-18 16:22] 1000miles opened #193 "[Airbrake] Rosemary::Gone: <empty error message>"
**Occurred at:**	Apr 18, 2016 18:10:44 +0200
**First seen at:**	May 30, 2015 09:21:47 +0200
**Occurrences:**	2584 (50 since last deploy on Apr 13, 2016 11:29:04 +0200)
**File:**	/gems/rosemary-0.4.4/lib/rosemary/api.rb:288
**Error type:** Rosemary::Gone
**Where:** UpdateTagsJob#perform

**Backtrace:**
[code]

---

**Documentation to Rosemary Gem:**
http://www.rubydoc.info/gems/rosemary/0.4.4/Rosem

[2016-04-18 16:36] Xylakant commented on #93
I deployed a test config on prod, please try. We still need to do some cloudflare configuration to make this fully secure, currently only the connection between the browser and cloudflare is encrypted, not the connection between cloudflare and the origin server.

[2016-04-18 16:37] 1000miles commented on #189
There might be a connection between this issue and following ticket: https://github.com/sozialhelden/wheelmap/issues/184

We will put further research on this.

[2016-04-19 08:02] lennerd opened #194 ""Similar places" for new node page"
I tested the new node page with a few places I know exist on the front map and the similar places section does not alter them correctly but instead skip the section completly.

This definitely needs more testing to be more precise what is not working here.

[2016-04-19 08:07] lennerd opened #195 "Feedback from Team"
- [x] Address was insert manually and new marker position was calculated while she tried to change the marker herself.
- [x] "Similar places was skipped, why?"
- [x] Placeholder were missing when content was insert
- [ ] Help format string for street address input field

[2016-04-19 08:35] holgerd commented on #93
@Xylakant can you do the cloudflare stuff? Would greatly reduce communication problems between all of us I think :)

[2016-04-19 08:50] Xylakant commented on #93
@holgerd I don't have access to the CF account.

[2016-04-19 13:57] lennerd opened #198 "Refactore asset deployment"
When working on #197 I realized that the `/app/assets/dist/component.js` generated on deployment when `npm install` is called is not used but instead the old one from cache propably.

This needs to be fixed so we don't need to have a precompiled `/app/assets/dist/component.js` in the repository and ease development when working with javascript assets.

[2016-04-20 12:28] thermann78 commented on #189
Another bug report. If you query for "Adina Hotel Berlin" in Wheelmap, there is just a bbox result without a node. Query in OSM for example delivers node ID 4135629890 which isn't shown in Wheelmap. The provider of Adina Hotels itself tagged it one hour ago.
Just for protocol: I now did a change at the node in OSM to find out if this leads to a change in Wheelmap.

[2016-04-20 12:58] thermann78 commented on #189
Another occurence in Japan: POIs seem to be visible in OSM, but not in WM - http://overpass-turbo.eu/s/fMr

[2016-04-20 13:34] a-di-na commented on #189
Concerning the "Adina Hotel Berlin" issue: There are 6 wheelmap search results, but only 2 of them are right/functional.
Adina Apartment Hotel Berlin Hauptbahnhof: http://wheelmap.org/nodes/3780043266
Adina Apartment Hotel Berlin Hackescher Markt: http://wheelmap.org/nodes/2796710200

Adina Apartment Hotel Checkpoint Charlie isn't shown in Wheelmap, but in OSM it is. :/

Both Adina Hotels in Frank

[2016-04-20 15:35] a-di-na commented on #189
Adina Apartment Hotel Berlin Hauptbahnhof: http://wheelmap.org/nodes/3780043266
Adina Apartment Hotel Berlin Hackescher Markt: http://wheelmap.org/nodes/2796710200
-> These hotels were updated by a user using wheelmap (phone number and website). But it doesn't appear in wheelmap. In OSM you can see the information.

[2016-04-21 08:26] thermann78 commented on #189
Another report from our friends in Japan:

[2016-04-21 08:34] Xylakant commented on #189
OSM sync is currently not working while we do database maintenance. Given that we're short on disk space on the server, that involves shuffling quite a bit of data around. The job has been running since yesterday afternoon and is still not done yet. I can't give an estimated time to finish either. I'll monitor the situation and update this ticket as the situation progresses.

[2016-04-21 08:36] Xylakant commented on #189
To clarify: Data that has been passed on to OSM does not get synced back. Changes made on the wheelmap do get passed on to the OSM properly as far as we can see. Once the database is doing fine again, wheelmap should pick up the unsynced data.

[2016-04-21 10:12] a-di-na commented on #189
Another user mail:

Mir ist auf Wheelmap.org-Karte aufgefallen, das sich die Orte auf der Karte sich nicht
mehr bearbeiten lassen. Z. B. lassen sich die Namen nicht ändern, so wie der
Objekt-Typ, etc..
Beispiel: Salomon und Julie Kaufmann (http://wheelmap.org/nodes/3776285416) und
CoccoCurry (http://wheelmap.org/nodes/3712159090). Hier läßt sich nicht die
Barrierefreiheit dauerhaft einstellen.
Es

[2016-04-21 17:09] Xylakant commented on #189
i was able to free some space for the database and the sync is running again. It might take some time to pick up. Some indexes need rebuilding, so we might still have a bit of a performance impact.

[2016-04-22 10:09] timfreiheit commented on #145
@holgerd @lennerd
The bug occurs again.
I'm not sure if I should create a new issue for this.

[2016-04-22 10:41] lennerd commented on #145
I will take a look into this.

@timfreiheit I thought the Zip files are not used anymore?

[2016-04-22 10:46] timfreiheit commented on #145
they are on all platforms. At least the assets with the name "icons". Is there any replacement?

[2016-04-22 10:52] lennerd commented on #145
Oh no. This was a total misunderstanding between me and @holgerd. To use the zip files was added to all apps a few months ago, right?

My plan was to change all apps to use the `node_type` API and the icons named there. I will discuss this with @holgerd.

[2016-04-22 10:56] lennerd commented on #145
Example: `http://wheelmap.org/api/categories/1/node_types?api_key=XXX`

[code]

[2016-04-22 11:27] timfreiheit commented on #145
this is how it is implemented already.

[2016-04-22 11:28] lennerd commented on #145
Sorry, what exactly is implemented? Loading the icons via ZIP file or seperatly via the NodeType API?

[2016-04-22 11:32] timfreiheit commented on #145
both. the apps use the /api/node_types api to create the association between the images from the assets and the specific node by its type.

[2016-04-24 17:10] lennerd opened #201 "Fix locate me button"
The locate me button does not work in newest version of Chrome when visited via the `http` protocol.

[2016-04-24 17:12] lennerd commented on #201
The solution would be to force to SSL. Can be configured via Cloudflare or directly in the Rails application.

[2016-04-24 19:38] thermann78 commented on #189
Just a short backup after todays downtime: Node ID 4118505992 mentioned in my initalliy posting (last sentence) now finally appeared on Wheelmap. After confirmation that this part of the issue has been fixed I deleted the Node in the OSM as it has been a fictive location for testingpurposes.

[2016-04-25 13:24] thermann78 commented on #189
Finally I tested all the issues mentioned above. They all are fixed or can be explained by user mistakes, so the reason for our problems really seems to have been the HD overflow.
The count of our places has increased about 4.000 places over night :)
And in the backend the latest POIs is no more dated on April 4th, but on April 25th.
I think this Issue can be closed now, but kept on mind for simil

[2016-04-25 13:24] #189 closed

[2016-04-25 15:03] 1000miles opened #202 "[Airbrake]: ActionController::RoutingError: No route matches '/api/users/authenticate', check API documentation for available resources: /api/docs/resources"
**Occurred at**  Apr 21, 2016 14:12:51 +0200
**First seen at** Sep 25, 2015 11:34:58 +0200
**Occurrences** 68 (12 since last deploy on Apr 13, 2016 11:29:04 +0200)
**File**	app/controllers/api/api_controller.rb:149
**Error type**	ActionController::RoutingError
**Error message**	No route matches '/api/users/authenticate', check API documentation for available **resources:** /api/docs/resources
**Wh

[2016-04-26 09:17] lennerd commented on #198
At the moment we use Gulp to gerenate our `component.js` file. This is because of the old Rails and sprocket versions we need for gems like `browserify-rails`.

[2016-04-26 09:20] lennerd commented on #198
Refactore the asset deployment would give us several advantages:

- Only one asset management system at the core (much easier to mantain)
- Speed up the deployment process

[2016-04-26 12:49] lennerd opened #204 "Image path in NodeType API docs"
The image path in the NodeType API is broken.

http://wheelmap.org/de/api/docs/resources/node_types

Propably related to #197.

[2016-04-26 13:36] thermann78 opened #205 "Relation exists in OSM but not in Wheelmap"
We have a new user feedback concerning a duplicate entry. I did a little bit research and found out that there is a old relation with ID 349274 (Adina Appartement Hotels Berlin Checkpoint Charlie) as well as a new node with ID 4135629890. Provider has added the POI in Wheelmap as search didn't deliver any results. In fact the hotel already exists more than 6 years but is not shown in Wheelmap alth

[2016-04-26 15:00] #145 closed

[2016-04-26 15:04] #204 closed

[2016-04-26 15:06] lennerd commented on #201
@Xylakant What do you think? PR for `force_ssl` or changing the Cloudflare configuration?

[2016-04-26 15:07] Xylakant commented on #201
cloudflare is better. the redirect to ssl happens closer to the end user that way. We can still additionally enable force_ssl, it won't hurt.

[2016-04-26 15:10] lennerd commented on #145
@timfreiheit Does #206 fix this?

[2016-04-26 19:50] timfreiheit commented on #145
the api issue is fixed.
But i'm getting an ssl exception when trying to load the zip on staging.

[code]

[2016-04-26 19:51] lennerd commented on #145
@Xylakant Any ideas what this could mean?

[2016-04-26 19:52] lennerd commented on #145
@timfreiheit Does this help? http://stackoverflow.com/questions/2642777/trusting-all-certificates-using-httpclient-over-https/6378872#6378872

[2016-04-26 19:53] Xylakant commented on #145
Either an intermediate cert is missing or staging still uses the self-signed cert. I'll check tomorrow.

Sent from my iPhone

[2016-04-26 19:58] timfreiheit commented on #145
there is a problem with the ssl certification.
Of cause the app could just trust it.
But this is a bad/error-prone solution and apps using insecure implementations of the X509TrustManager would be rejected by the google.

[2016-04-26 19:58] lennerd commented on #145
@timfreiheit Did you test against staging or production server?

[2016-04-26 19:59] timfreiheit commented on #145
the problem appears only on staging. the production endpoint is good

[2016-04-26 20:07] lennerd commented on #145
@timfreiheit Can you please create an issue for this and assign Xylakant to it?

[2016-04-26 20:07] Xylakant commented on #145
Trusting a specific (self signed) cert is certainly an acceptable solution that - if implemented correctly - is more secure than trusting a list of CAs. However, it's significantly more management overhead and total overkill in our case.

Sent from my iPhone

[2016-04-26 20:12] timfreiheit opened #212 "SSL Certification Error for staging.wheelmap.org"
@Xylakant
[code]

[2016-04-27 09:14] holgerd commented on #205
Regarding http://www.openstreetmap.org/relation/349274/history vs. http://www.openstreetmap.org/node/4135629890/history

Relations are not supported by Wheelmap, only nodes and ways.

Duplicate to https://github.com/sozialhelden/wheelmap/issues/170

[2016-04-27 09:14] #205 closed

[2016-04-28 07:28] holgerd opened #213 "Widget creator cannot change city"
User reports he cannot change the widget's city from Berlin to anything else. It always stays at Berlin. Svenja could replicate that behavior.

I could not replicate this systematically, but saw the error as well at least twice on my machine with different OSM-user IDs.

More testing needed.

[2016-04-29 18:20] lennerd commented on #213
This has something todo with the difference of bounding box and a center returned by photon.komoot.de.

If you watch the generated code in the textfield below, you see, that it's still changing though. So the Widget generator is still usable and the Widget can be integrated without any problems.

[2016-05-03 07:36] holgerd commented on #51
I just found that the wheelmap.de domain is also aliased & redirected using the cpanel of planetary networks (our blog hoster):

![cpanel_-_aliase](https://cloud.githubusercontent.com/assets/218506/14977187/5349e36a-1112-11e6-8b6f-e0e495cddfb4.png)

![cpanel_-_umleitungen](https://cloud.githubusercontent.com/assets/218506/14977214/7789f24c-1112-11e6-989a-f862c6ba73f7.png)

This seems strange to me

[2016-05-03 07:42] Xylakant commented on #51
The redirect happens in nginx, the cpanel config has no effect as long as the domain points to cloudflare.

[2016-05-03 07:50] holgerd commented on #51
My suggestions to finally close this issue:

1. www.wheelmap.org is our desired TLD, all other domains should redirect to it (wheelmap.de, wheelmap.com, wheelmap.net, accessforeverybody.com, accessforeverybody.net and the same with www.)
2. We do not support localized sub-domains anymore. since a long time actually. Instead of thinking of any complex rules, why not igonre fr.wheelmap.org etc. comp

[2016-05-03 07:54] holgerd commented on #191
yes, duplicate.

[2016-05-03 07:54] #191 closed

[2016-05-03 07:55] holgerd commented on #54
What is the status of this @lennerd ?

[2016-05-03 08:08] lennerd commented on #54
Can be closed in favor of #211 and #210 and others to come.

[2016-05-03 08:19] holgerd commented on #54
since this refers to the icon list, please leave it open until I tested it all.

[2016-05-03 08:34] thermann78 commented on #51
I don't think this makes more sense than correcting the existing config by adding /(lang)/map to the target URI -it is exactly the same effort, as @Xylakant has to edit the Nginx conf and either delete all these redirects or complete them - but this is your decision. I am just unsure if deleting these rules will cause any SEO probs.

Wheelmap.de is of course ruled in cPanel as Planetary is our dom

[2016-05-03 08:42] holgerd commented on #51
@thermann78 why is the whelmap.de -> wheelmap.org redirect not working then?

[2016-05-03 08:48] thermann78 commented on #51
It is. The Nginx conf is called AFTER redirecting. Nginx conf is the final redirect that overrides all previous rules.
The general error is that in Nginx conf the redirect rule for wheelmap.de isn't wheelmap.org/de/map but wheelmap.org/de.
Just add /map to all country redirects (all but /en) and it works.

[2016-05-03 08:56] holgerd commented on #51
@thermann78 in cPanel I can see that wheelmap.de is redirecting to http://www.wheelmap.org/ . If that worked correctly, then there is no Nginx redirect afterwards. When I type in http://www.wheelmap.org/ in my browser it works.

[2016-05-03 09:08] lennerd commented on #73
This is related to the current version of Rails. As soon as we have the new version shipped I would like to complete process of generated assets currently implemented with Gulp.

[2016-05-03 09:53] lennerd opened #216 "Refactore Mapbox tile layer"
Based on a discussion about marking parks, we had the idea to add more information to the map layer itself for example adding special styling for stairs or other barriers.

[2016-05-03 10:09] thermann78 commented on #51
Again: Request -> DNS-Lookup at nameserver -> IP-resolve -> redirect to server -> local configuration -> redirect to internal directory.
Of course there is a Nginx redirect - internal redirects are the server's job.

[2016-05-03 11:01] lennerd commented on #213
FYI: The error appears to be in the web app itself when a new bounding box is passed as a parameter. I will look into this.

[2016-05-03 11:13] rabidllama opened #217 "Error 403 when accessing api from Java"
I am trying to get a list of all POIs in a specific area via the API within a script that I have written in Java. It calls the address http://wheelmap.org/api/nodes?api_key=[api_key]&bbox=8.619423,49.369356,8.783105,49.435873 which returns a 403 forbidden message, but when I use the exact same url in a browser the data is returned as expected

[2016-05-03 12:49] lennerd commented on #217
Do you have a error message coming with the 403 error? And can you tell us more about your Java implementation?

[2016-05-03 13:12] rabidllama commented on #217
The message that comes back form the api is:
`java.io.IOException: Server returned HTTP response code: 403 for URL: http://wheelmap.org/api/nodes?api_key=[api-key]&bbox=8.619423,49.369356,8.783105,49.435873&per_page=100&page=1
	at sun.net.www.protocol.http.HttpURLConnection.getInputStream0(HttpURLConnection.java:1838)
	at sun.net.www.protocol.http.HttpURLConnection.getInputStream(HttpURLConnection

[2016-05-04 07:39] holgerd commented on #213
@lennerd so I can move this to "next" or are there any impediments?

[2016-05-04 07:48] holgerd commented on #93
@Xylakant the cloudflare login is here: https://socialheroes.1password.com/ (you and thuy should have access to this vault)

[2016-05-04 08:00] holgerd commented on #93
@Xylakant  When do you plan to work on this?

[2016-05-04 08:10] lennerd commented on #213
@holgerd Like I stated in Slack it would be nice to have you and Svenja to test the feature again and see, if everything is working fine.

But unfortunatly there is bug coming from this PR when the map is moved. You can test this on staging. Zoom in and than move the map. The map is moving back to the last position.

[2016-05-04 08:29] holgerd commented on #213
@lennerd

- I'm logged in on http://staging.wheelmap.org/profile/widgets as "holgerd" and see berlin engeldamm in the widget. I type in "berlin" and click the auto-suggest result. I see Berlin unter den linden. I click on "Profil" in the left menu bar and then on "Widget" to come back. I then type in "Freiburg" and click the auto-suggest
- I expect the widget to show the center of Freiburg
- Inste

[2016-05-04 10:47] holgerd commented on #51
@thermann78 and I just discussed this issue. Result:

It seems that nginx is doing something smart when the referer ist wheelmap.de which leads to the error.

So I update my suggestions:

- www.wheelmap.org is our desired TLD, all other domains should redirect to it (wheelmap.de, wheelmap.com, wheelmap.net, accessforeverybody.com, accessforeverybody.net and the same with www.)
- We do not support

[2016-05-04 11:35] lennerd commented on #213
I will take a look on next Tuesday.

[2016-05-04 11:38] lennerd commented on #213
@1000miles **Please do not deploy the current master on production.** I added a commit which tries to fix bugs but unfortunatly adding others. So this one needs to be reverted and added to a individual PR. I wil do this on next Tuesday.

See: https://github.com/sozialhelden/wheelmap/commit/3e37317c61c8bea9bc5fdd648d7e9c0c2d000ed9

[2016-05-04 14:19] justahero commented on #217
Hi @rabidllama,

could you try setting a user agent?

[code]

[2016-05-04 14:42] rabidllama commented on #217
Yes, putting the API key in as a User-Agent header results in it working, though on the info page for the api it says that the header to use should be X-API-KEY

[2016-05-04 15:05] justahero commented on #217
You should **not** put your api key into this field, it is not meant to contain this kind of information. The `User-Agent` HTTP header defines an identifying string a client sends in its requests when accessing a web server. For example every browser will set this header, for example the label `"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36"`

[2016-05-04 15:18] rabidllama commented on #217
OK, i tried it with "test" and it didn't work, but any other string (including "Test") does work... ah well, now at least I can get it to get the data thanks. Strange that the HTTP message is a 403 as I thought that would have been the response generated from the back end of the API itself

[2016-05-09 09:04] Xylakant commented on #212
we're using a self signed cert for staging. please use plain http for staging atm. we don't force-redirect so that shouldn't be an issue.

The ultimate goal is that staging gets SSL via cloudflare, just as prod does.

[2016-05-09 09:32] #217 closed

[2016-05-09 09:34] lennerd commented on #212
@timfreiheit Does this work for you?

[2016-05-09 09:45] timfreiheit commented on #212
it would if the assets api return links using http instead of https.
the normal api is accessed via http

[2016-05-09 09:51] Xylakant commented on #212
ok, I see the issue.

[2016-05-09 12:44] holgerd commented on #93
@lennerd Can I assign this to you? Felix told me his config is not blocking this issue. It would be great if we could deliver this tomorrow so handiscover can start its campaign,

[2016-05-09 13:26] holgerd commented on #93
As discussed with @lennerd and @Xylakant this is fixed and can be closed.

[2016-05-09 13:26] #93 closed

[2016-05-09 13:28] lennerd commented on #93
FYI: http://codepen.io/lennerd/pen/JXxadY

[2016-05-09 14:27] 1000miles commented on #213
@lennerd Okay, thanks for letting me know. :)

[2016-05-10 15:43] lennerd commented on #213
FYI: This is on hold because I want to have #218 merged first to be able deploy #221 on staging.

[2016-05-10 20:19] holgerd commented on #64
@lennerd I see the interactive streetview, nice!

One question:
Christoph told me once that cardinal direction (Himmelsrichtung) is taken into account when he calculated the static streetview image. Can you do the same to the interactive streetview? I mean, that it "looks" into the right direction on load.

Example: restaurant eta hoffmann:

correct cardinal direction: http://wheelmap.org/nodes/83

[2016-05-11 12:02] thermann78 commented on #82
@holgerd : This should be fixed within one of the next milestones  as it leads to problems every time when we import new regions that are important for administrative purposes - as happened now again: https://github.com/sozialhelden/wheelmap-privateissues/issues/29

[2016-05-11 15:40] 1000miles commented on #82
Thank you for reporting this.

**Here is our additional input:**
Mac OS x seems to have problems to handle 2 directories with the same name but with different encoding.

**Example:**
On Mac OS we see 2x `Baden-Württemberg` folders in the directory:
*wheelmap/db/data/wkt/Europe/Germany/*

[code]
**When we try to access both of them, we can only access 1 of them:**
[code]
On the virtual machine (OS:

[2016-05-13 09:37] timfreiheit opened #223 "Invalid Urls in Photo Api"
The Urls for photos in the photos api are not valid.

It is the same issue as #145.

The apps can not handle urls with implicit schemas.

[code]

[code]

[2016-05-14 10:07] Xylakant commented on #223
apart from fixing the photos endpoint, wouldn't it be nice if the apps could actually handle protocol-relative urls? Is that feasible? Because we're switching over to protocol relative urls on the whole application.

[2016-05-14 10:12] lennerd commented on #223
That would be great, but does it make sens to have a relative URL without an absolut counterpart?

[2016-05-17 14:02] Xylakant commented on #212
staging is now handled via cloudflare as well, so it gets the same SSL setup as prod does. additionally, we now enforce SSL and forward to https if http is tried.

@timfreiheit can you confirm things are still working on your end?

[2016-05-17 14:16] timfreiheit commented on #212
looks good. I can not find find any errors at the moment

[2016-05-17 14:17] Xylakant commented on #212
ok, closing

[2016-05-17 14:17] #212 closed

[2016-05-17 16:06] lennerd commented on #223
@timfreiheit I deployed the fix on staging. Can you check, if it is working on your end?

[2016-05-18 14:18] 1000miles opened #229 "[Rails 4.0]: Use new syntax for `match` & remove duplicates in routes.rb"
**To upgrade from Rails 3.2.x to Rails 4.0 we need to do following:**
-     routes.rb, instead of using `match` use new match syntax.
  -  a `match` needs to either start with HTTP verb, e.g. `get` or needs to have `via: [:get,...] ` argument
-     remove duplicates routes from routes.rb

Important:
needs to be done **before** Rails upgrade

[2016-05-18 14:23] 1000miles opened #230 "[Rails 4.0]: Use new syntax for `SimpleForm` in initializer (due to deprecation warning)"
**In order to upgrade from Rails 3.2.x to Rails 4.0 we need to do following:**
- initializer: `SimpleForm.form_class` to `SimpleForm.default_form_class`, due deprecation

Important:
needs to be done **before** Rails upgrade

[2016-05-18 14:30] 1000miles opened #231 "[Rails 4.0] Check gem `activeresource` if still in use"
**In order to upgrade from Rails 3.2.x to Rails 4.0 we need to do following:**
- the gem [activeresource](https://rubygems.org/gems/activeresource) has been extracted from Rails, we need to check if it is this still in use

Important:
needs to be done **before** Rails upgrade

[2016-05-18 14:36] 1000miles opened #232 "[Rails 4.0]: Remove gem `strong_parameters`, it is part of Rails 4.0 core"
**To upgrade from Rails 3.2.x to Rails 4.0 we need to do following:**
- remove gem [strong_parameters](https://rubygems.org/gems/strong_parameters), it is part of Rails 4.0 core

[2016-05-18 14:42] 1000miles opened #233 "[Rails 4.0]: Remove gem `turbo-sprockets-rails3` (Rails 3.x specific)"
**To upgrade from Rails 3.2.x to Rails 4.0 we need to do following:**
* remove turbo-sprockets-rails3, it is Rails 3.x specific
  * set `config.eager_load` in config/environment

[code]
  * `whiny_nils` is not set in config/environment anymore

[2016-05-18 14:58] 1000miles opened #234 "[Rails 4.0]: Update gem `mysql2` for Rails 4.0"
**To upgrade from Rails 3.2.x to Rails 4.0 we need to do following:**
* update gem [mysql2](https://rubygems.org/gems/mysql2) gem for Rails 4.0, propably used by [activerecord-mysql2spatial-adapter](https://rubygems.org/gems/activerecord-mysql2-adapter)
  * avoids Gem::LoadError (http://stackoverflow.com/questions/22932282/gemloaderror-for-mysql2-gem-but-its-already-in-gemfile)

[2016-05-18 15:10] 1000miles opened #235 "[Rails 4.0]: Replace gem `memcache_client` with `dalli`"
**To upgrade from Rails 3.2.x to Rails 4.0 we need to do following:**
* add gem [dalli](https://rubygems.org/gems/dalli) for `mem_cache_store` for Rails 4.x
* removes gem memcache-client for Rails 3.x

[2016-05-18 15:17] 1000miles opened #236 "[Rails 4.0] Fix all deprecation warnings related to Rails 4.0 upgrade"
**To upgrade from Rails 3.2.x to Rails 4.0 we need to do following:**

* fix all deprecation warnings related to the upgrade, currently counting:

[code]

[2016-05-18 15:22] 1000miles opened #237 "[Rails 4.0]: Update `rgeo-activerecord` for activeadmin"
**In order to upgrade from 3.2.x to Rails 4.0 we need to do following:**

* update gem from 0.4.x to later version?

This is in preparation for the `activeadmin` gem

* ~~update activeadmin to latest version 1.0.0.pre2~~ (Already done in merged PR)
* update associated gems, e.g. safe_yaml
* this might require at least Rails 4.0 gem
* check gem `formtastic`

[2016-05-18 15:51] 1000miles opened #238 "[Rails 4.0] Check `search_methods` & replace it if needed"
**Background infos:**
* method `search_methods :region_id_eq` not available anymore

**In order to upgrade from 3.2.x to Rails 4.0 we need to do:**
* check where else this method is needed than at the 1 place
* implement an alternative in model Poi, e.g. `ransack`?

[2016-05-18 16:07] justahero commented on #229
Please check if there were recent changes to the routes.rb that apply to this. This issue was addressed in #171.

[2016-05-19 08:36] 1000miles opened #239 "[Rails 4.0]: ActiveRecord::StatementInvalid, Mysql2::Error - Cannot get geometry object from data"
**In the process of upgrading Rails 3.2.x to Rails 4.0 we need to take a look at following error output:**
[code]

[2016-05-19 08:40] 1000miles commented on #229
@justahero Thank you. Yes, we will check if there more instances left to be adjusted. :)

[2016-05-19 08:45] 1000miles opened #240 "[Rails 4.0]: Check encoding in http-response"
**In the process of upgrading from Rails 3.2.x to Rails 4.0 we need to do:**
- check if there are different encoding in the http-response

[2016-05-19 08:51] 1000miles opened #241 "[Rails 4.0]: Check syntax of gem `shoulda-matchers` for testing"
**In the process of upgrading from Rails 3.2.x to Rails 4.0 we need to do:**
- check / adjust the syntax for the gem `shoulda_matchers` for testing

**Example Errors:**
- `belong_to` not found
- `have_many` not found
- `validate_presence_of` not found
- `validate_uniqueness_of ` not found

[2016-05-19 08:56] 1000miles opened #242 "[Rails 4.0]: Fix i18n locale warnings"
**In the process of upgrading from Rails 3.2.x to Rails 4.0 we need to do**
- check & fix i18n locale warnings

**Failure/Error Example**
[code]

[2016-05-19 14:19] 1000miles commented on #184
We have observed this case.

Last occurrence was yesterday, so this issue can be closed.
[code]

[2016-05-19 14:19] #184 closed

[2016-05-19 14:53] schultyy opened #243 "ActiveAdmin: RuntimeError in Regions#Index"
RuntimeError in Admin/regions#index

Showing /home/vagrant/wheelmap/vendor/bundle/ruby/2.2.0/gems/activeadmin-1.0.0.pre2/app/views/active_admin/resource/index.html.arb where line #2 raised:

`default_actions` is no longer provided in ActiveAdmin 1.x. Use `actions` instead.

Extracted source (around line #2):

1: insert_tag renderer_for(:index)

Rails.root: /home/vagrant/wheelmap
Application Trace

[2016-05-20 08:26] 1000miles opened #244 "[Rails 4.0] Update gem `activeadmin`"
In the process of upgrading from Rails 3.2.x to Rails 4.0 we use this ticket as a parent task for all the issues/errors associated with this upgrade.

### Overview:

- [x] **1** NoMethodError in Admin::PhotosController#index (Fixed in 3574ede18d76005ea82655e8104d4221aa12375a)
- [x]  **2** NoMethodError in Admin/providers\#index (Fixed in 9a7aef1adb867ec215910c9eaa36a9655fe6e368)
  - [x]  **6** For

[2016-05-20 09:05] 1000miles commented on #244
**Occurrences:**
- `/admin/regions/netherlands/photos`

## NoMethodError in Admin::PhotosController#index

undefined method `find' for nil:NilClass

Rails.root: /home/vagrant/wheelmap
Application Trace | Framework Trace | Full Trace

app/admin/photos.rb:13:in `collection'
lib/rack_i18n_locale_switcher.rb:32:in `call'

Request

Parameters:

{"region_id"=>"netherlands"}

Show session dump

Show env

[2016-05-20 09:52] 1000miles opened #245 "ActionController::RoutingError (No route matches [GET] "/icons/beautifulview.png")"
**Currently we have following error output in the console for several icons when running the server (we have tested this issue in 3 different branches):**
[code]

@lennerd Do you have input/ideas here why this happens?

**Occurrences:**
- localhost
- `/admin/node_types`

![00000097](https://cloud.githubusercontent.com/assets/4077916/15424046/c429a39c-1e80-11e6-887d-4e2fd8b05e2d.png)

**Details:**

[2016-05-20 12:56] 1000miles opened #246 "Mysql2::Error in Admin::AddressesController#index"
# 5

**Occurrences:**
- local
- `/admin/addresses`

## Mysql2::Error in Admin::AddressesController\#index

[code]

`Rails.root: /home/vagrant/wheelmap`

 [Application Trace](http://192.168.33.10:3000/admin/addresses#) | [Framework Trace](http://192.168.33.10:3000/admin/addresses#) | [Full Trace](http://192.168.33.10:3000/admin/addresses#)

[code]

## Request

#

**Parameters**:

[code]

[Show sess

[2016-05-20 15:33] schultyy commented on #244
For MetaSearch there was a `search_methods` method defined in [`app/models/poi.rb`](https://github.com/sozialhelden/wheelmap/blob/master/app/models/poi.rb#L95). Search is possible nevertheless. I'm not sure if we need to replace this call with something else. @christoph-buente is that call still needed?

[2016-05-20 20:05] christoph-buente commented on #244
ActiveAdmin switched from MetaSearch to Ransack in the latest version. This search method is used in the filter field on the right sidebar. Either remove the filter, or refactor the search method using the ransacker.

[2016-05-23 09:35] schultyy opened #249 "Remove destroy method from user admin component"
The following method can be removed from `app/admin/users.rb` because it doesn't provide any value and user deletion works without it:

[code]
https://github.com/sozialhelden/wheelmap/blob/master/app/admin/users.rb#L37-L41

[2016-05-23 10:02] schultyy commented on #243
Related to #244

[2016-05-23 10:03] schultyy commented on #243
Fixed in 6ff198050058d8ef31433ee0cb7ed7458f234b39

[2016-05-23 10:03] #243 closed

[2016-05-23 11:33] 1000miles commented on #244
# 6

**Occurrences:**

- `/admin/providers/upload_csv`
- `/admin/provided_pois/upload_csv`

## Formtastic::UnknownInputError in Admin/providers#upload_csv

Showing /home/vagrant/wheelmap/app/views/admin/provided_pois/upload_csv.html.haml where line #16 raised:

Unable to find input class for select

Extracted source (around line #16):

13:   = form.inputs  "Neue Premiumorte Hochladen", class: :inp

[2016-05-23 11:53] schultyy commented on #229
Lennart made some changes after @justahero's PR got merged but from what I can see they don't break anything.

[2016-05-23 12:16] schultyy commented on #230
We can't do this before installing Rails 4 because there's no compatible version of SimpleForm with the new `default_form_class` for Rails 3.

[2016-05-23 12:50] 1000miles opened #251 "[Rails 4.0] Undefined method `icon`in Providers & Provided_Pois"
**Error output:**
[code]
**Occurrences:**

[code]

**Before the active_admin update, following syntax worked:**

[code]

**To move forward with the active_admin upgrade, we removed the icon part temporarily. We will take a look into this later.**

[code]

[2016-05-23 12:51] 1000miles commented on #251
Related parent issue: #244, point 2

[2016-05-23 13:31] 1000miles commented on #244
# 7

**Occurrences:**

- `/admin/provided_pois/upload_csv` => click on upload_csv button
- `/admin/providers` => click on upload_csv button

## NoMethodError in Admin::ProvidedPoisController#import_csv

undefined method `[]' for nil:NilClass

Rails.root: /home/vagrant/wheelmap
Application Trace | Framework Trace | Full Trace

app/admin/provided_poi.rb:24:in `block (2 levels) in <top (required)>'
l

[2016-05-23 14:03] 1000miles opened #252 "NoMethodError in Admin::ProvidedPoisController#import_csv"
**Case:**
- I click on the `upload CSV ` button
- I don't fill in a csv-file and or don't select provider
- then I get the mentioned error output below

**Expected:**
- I can not submit the form
- an error message should be displayed

----

**Occurrences:**

    /admin/provided_pois/upload_csv => click on upload_csv button
    /admin/providers => click on upload_csv button

# NoMethodError in Admi

[2016-05-23 14:22] schultyy commented on #246
Related to #71

[2016-05-23 14:23] 1000miles commented on #246
Closed.

[2016-05-23 14:23] #246 closed

[2016-05-24 08:08] 1000miles commented on #244
Related Issue: https://github.com/sozialhelden/wheelmap/issues/243
ActiveAdmin: RuntimeError in Regions#Index

[2016-05-24 08:15] lennerd commented on #64
@christoph-buente I'm not able to see what you meant when telling @holgerd you use the cardinal direction. In the current Google Street View Image API, you simple put the Latitude and Longitude into the image URL. Can you help me out here?

[2016-05-24 08:20] schultyy commented on #251
If we have time left we can do this within the Rails 4 Upgrade but can also be done afterwards.

[2016-05-24 09:53] schultyy commented on #242
We need to figure out when these failures happen. On my local machine they do not occur, Travis don't report them either right now.

[2016-05-24 09:54] #223 closed

[2016-05-24 09:54] schultyy opened #256 "Switching between locale in ActiveAdmin does not work"
I visit `http://192.168.33.10:3000/admin/login` and get the page in german.
When I visit `http://192.168.33.10:3000/admin/login?locale=en` the page gets shown with English text as expected.
When I try to switch back to German via `http://192.168.33.10:3000/admin/login?locale=de` the browser fails to load with:

[code]

[2016-05-24 09:55] schultyy commented on #256
We need to identify if this is a problem within wheelmap itself or if this is ActiveAdmin related.

[2016-05-24 10:51] schultyy opened #257 "Cannot create region via ActiveAdmin"
Right now creating a new region is not possible via ActiveAdmin. The form under `http://localhost:3000/admin/regions` only offers a name field. My guess here is that not all mandatory fields are present.
The transaction gets rolled back on insert:
[code]

[2016-05-24 10:52] #64 closed

[2016-05-24 14:06] #244 closed

[2016-05-24 14:09] schultyy commented on #238
Right now filtering by region works out of the box with ransack without any additional configuration

[2016-05-24 14:09] #238 closed

[2016-05-24 19:04] 1000miles opened #262 "[Rails 4.0] RuntimeError in Nodes#show on detail page"
**Occurrences:**

- on node detail pages > click on button (Details)

# RuntimeError in Nodes#show

Showing /home/vagrant/wheelmap/app/views/nodes/_node_share.html.haml where line #13 raised:

`mailme_to: Use native mail_to method with Rails 4.0 and later.`

Extracted source (around line #13):

[code]
Trace of template inclusion: app/views/nodes/_node_edit.html.haml, app/views/nodes/show.html.haml

[2016-05-25 08:44] #230 closed

[2016-05-25 08:45] #229 closed

[2016-05-25 08:53] holgerd commented on #213
@lennerd I tried to test this but it does not work:
- On https://staging.wheelmap.org/profile/widgets I entered "berlin" in the "Kartenausschnitt" input field and the autocomplete spinner shows up.
- I expect some suggestions to show up
- Instead, after 30s there are still no suggestions and nothing happens.

[2016-05-25 08:56] schultyy commented on #237
Already done in ba416962dcbfb4019ed488cfd29fa33389c59d88. Closing.

[2016-05-25 08:56] #237 closed

[2016-05-25 08:57] #232 closed

[2016-05-25 08:57] #233 closed

[2016-05-25 08:57] #235 closed

[2016-05-25 08:57] schultyy commented on #234
Done in ba416962dcbfb4019ed488cfd29fa33389c59d88.

[2016-05-25 08:57] #234 closed

[2016-05-25 09:00] schultyy commented on #239
[code]

[2016-05-25 12:58] schultyy opened #269 "Confirm that assets::precompile still works with Rails 4"
From the upgrade guide (http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html):

We need to ensure that precompilation still works as expected.

[2016-05-25 14:13] schultyy commented on #231
There's one exception import from `activeresource` here https://github.com/sozialhelden/wheelmap/blob/master/app/controllers/api/photos_controller.rb#L2

When the tests pass again I would like to try to remove the gem and see if the application still works without errors.

[2016-05-25 15:04] #241 closed

[2016-05-26 11:32] 1000miles commented on #262
Fixed in PR #268.

[2016-05-26 11:32] #262 closed

[2016-05-26 11:41] 1000miles commented on #239
Fixed in PR #267.

[2016-05-26 11:41] #239 closed

[2016-05-26 14:41] schultyy commented on #242
My comment above is obsolete because this behavior only occurs with Rails 4.

[2016-05-31 13:38] 1000miles commented on #269
Related PR: #272
Closed.

[2016-05-31 13:38] #269 closed

[2016-05-31 15:03] #242 closed

[2016-05-31 15:04] schultyy commented on #236
I assign this to Thuy and me to split up the work of fixing the warnings.

[2016-06-02 09:10] 1000miles opened #274 "[Debugging] Add SimpleCov and Pry-Byebug"
We want to improve our debugging process by adding two 2 gems:
- [x] [SimpleCov](https://rubygems.org/gems/simplecov) to check if specific lines are (still) used
- [x] Pry-ByeBug

[2016-06-03 09:00] 1000miles commented on #236
**Last Update: 2016, June 3**

Deprecation warnings to be fixed:
- [ ] The Active Record auto explain feature has been removed.
- [ ] require "activeresource" is deprecated and will be removed in Rails 3. Use require "active_resource" instead.
- [ ] Support for Rails < 4.1.0 will be dropped.
- [ ] config.whiny_nils option is deprecated and no longer works.
- [ ] Using #scope without passing a call

[2016-06-06 10:03] 1000miles opened #282 "Fix `community_centre` error (de.poi.name.leisure.community_centre) on staging"
On the staging server currently the `community_centre` file is broken. We have to do another import of translation files to check if that happened during the last import or if that is because of other reasons.

**Occurrences:**
- http://staging.wheelmap.org/node_types

Error:
[code]

[2016-06-06 13:03] lennerd commented on #213
WIll check and hopefully have a solution till tomorrow morning.

[2016-06-07 06:51] lennerd commented on #213
@1000miles @schultyy I have problems with deploying new assets. The problem here is that we forget to use relative protocol in case a user uses requests the page via https. I can fix this locally. But when I deploy the new assets are not published. Any ideas? I'm not sure if it makes sense to build the files on the machine directly as they are shared?

[2016-06-07 06:52] lennerd commented on #213
Just checked directly on the server. The files are correclty deployed. The precompiling though seems to pick the wrong/old file.

[2016-06-07 07:27] lennerd commented on #213
I changed the wrong line of code. Now it's working. :see-no-evil: @holgerd It's working on staging now. Unfortunately the bounding box parameter is not shown correctly anymore. Working on it.

[2016-06-07 14:32] holgerd opened #286 "Venue photos do not show up on mobile apps"
- I open the venue "ScoutLounge Kantine" in the latest iOS App and Android App and Windows 10 App
- I expect two photos to show up
- Instead, I see white rectangles on iOS and a spinner on Android and its missing completely in the w10 app.

I can see the photos of the venue on the website though: http://wheelmap.org/nodes/1336912426

iOS:
![img_8507](https://cloud.githubusercontent.com/assets/2185

[2016-06-07 14:44] holgerd opened #287 "Geolocation Error in Chrome when clicking "locate me" icon in map"
- I'm using Chrome and load http://wheelmap.org/map I click on the "locate me" icon in the upper left of the map to set my current location.
- I expect the map to recenter to where I am
- Instead, I get a javascript alert saying:  "Geolocation error: Only secure origins are allowed (see: https://goo.gl/Y0ZkNV).."

More info

- goo.gl link destination: https://www.chromium.org/Home/chromium-securit

[2016-06-07 14:46] Xylakant commented on #287
you need to use https://wheelmap.org/map for geolocation to work in chrome.

[2016-06-07 14:48] Xylakant commented on #287
closing in favor of #201 which tracks the same thing

[2016-06-07 14:48] #287 closed

[2016-06-07 14:53] holgerd commented on #201
@Xylakant can you please implement this in the cloudflare configuration?

[2016-06-07 14:54] Xylakant commented on #201
did we confirm that all mobile apps can handle that properly?

[2016-06-07 14:54] lennerd commented on #201
What do you worry about in detail?

[2016-06-07 14:56] Xylakant commented on #201
from the top of my mind, but not limited to:

 * apps not handling the redirect properly
 * apps having hard-coded entry points for a various actions
 * apps not handling redirects for post/put operations properly
 * apps not handling SSL properly at all

In general: things breaking in various catastrophic ways.

[2016-06-07 15:02] lennerd commented on #201
I see. Best way then it is probably to enable it for staging and hope the apps has proper unit tests. @RaphaelHeber Would that work for you?

[2016-06-07 15:10] Xylakant commented on #201
staging already force redirects. however, the app should use https by default. redirects cost a lot of precious time, especially on mobile connections.

[2016-06-07 15:14] holgerd commented on #201
Okay since Tim from SMF is on vacation I have put this on the collection of tasks/ideas for the next assignment for SMF in basecamp

(internal reference: https://basecamp.com/2952602/projects/11430727/todos/256068741 )

[2016-06-07 15:30] lennerd commented on #286
@holgerd Can you please check again now?

[2016-06-07 15:33] holgerd commented on #286
it works now in iOS. Can not test the other apps right now.

[2016-06-10 14:29] 1000miles commented on #274
Related PR for `pry-byebug`: https://github.com/sozialhelden/wheelmap/pull/292

[2016-06-13 09:14] schultyy commented on #231
Just tested it: `activeresource` is still in use.

[2016-06-13 09:28] schultyy commented on #231
No deprecation warning occuring anymore, therefore closing this ticket.

[2016-06-13 09:28] #231 closed

[2016-06-13 10:37] schultyy opened #295 "Test that urls returned by the photos API are valid"
We would like to test if urls returned from `/api/nodes/:node_id/photos` are accessible. Therefore some test strategy needs to be in place:

- Either just test the format of the URLs
- or send a GET request and check if the status code is 200

[2016-06-13 13:32] 1000miles commented on #240
At the moment we don't face any encoding issues anymore related to the Rails 4.0 upgrade, therefore we close this ticket.

[2016-06-13 13:32] #240 closed

[2016-06-13 13:58] schultyy opened #296 "Upgrade to latest Rails 4.2.x release"
In order to upgrade the application to the latest 4.2.x release, the following things need to be taken into consideration:

Rails 4.1:

- use `secrets.yml`
- CSRF protection from remote `<script>` tags

Rails 4.2:
- add `responders` gem to keep `respond_to` functionality
- Check `*_filter` methods, they've been renamed to `*_action`

These points above are not complete. I browsed through http://gu

[2016-06-13 14:00] schultyy commented on #296
For more details we also need to consult http://guides.rubyonrails.org/upgrading_ruby_on_rails.html

[2016-06-13 14:49] 1000miles opened #297 "[Rails 4.2] Support for Rails < 4.1.0 will be dropped."
Deprecation warning:
[code]

This ticket is the follow-up to the deprecation warning collection:
https://github.com/sozialhelden/wheelmap/issues/236

**Please see here for further references:**
https://github.com/activeadmin/activeadmin/issues/3788
https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin.rb#L8

[2016-06-13 15:19] 1000miles commented on #128
Fixed in PRs #131, #139, #140 & #157.

Closed.

[2016-06-13 17:40] schultyy commented on #128
I have to reopen this one because we're not finally done here yet. There are still classes using `inherited_resources`. `inherited_resources` works with Rails 4.2 so we have some time until this gets due. When we want to do the upgrade to Rails 5, `inherited_resources` needs to go finally.

[2016-06-14 07:27] lennerd commented on #195
@holgerd What do you think? Do we need this?

[2016-06-14 10:29] schultyy commented on #296
For Rails 4.2 we need to update some Gems. `bundle update rails` with Rails 4.2 in the `Gemfile` produces this:
[code]

[2016-06-14 12:37] holgerd commented on #29
Update from @momolinus

He found some issues with his former solution and updated it here:
https://github.com/momolinus/WmOptimisation/wiki

[2016-06-14 13:49] #236 closed

[2016-06-14 13:53] lennerd commented on #195
no image upload

[2016-06-14 14:15] lennerd commented on #297
will be fixed with #296

[2016-06-14 14:17] #286 closed

[2016-06-14 14:17] lennerd commented on #257
@holgerd will find out if we'll need this feature in the wheelmap app at all.

[2016-06-14 14:38] lennerd opened #302 "Spike: How to improve quality of crowdsourced wheelchair status tagging?"

[2016-06-14 16:20] lennerd commented on #213
@holgerd Deployed again on staging. Please review.

[2016-06-16 08:57] holgerd commented on #213
@lennerd it works now on staging!

[2016-06-16 09:19] #213 closed

[2016-06-16 09:23] 1000miles commented on #282
After our research we found out following:

- the default locale for the wheelmap app is set to german, means if a translation for a word (key) is not available, the language for the app falls back to german
- on transifex english is the source language for all translations, means it uses the english [categories.yml](https://github.com/sozialhelden/wheelmap/blob/master/config/locales/en/categories

[2016-06-16 16:54] 1000miles commented on #274
Related PR for `SimpleCov`: #305

[2016-06-16 16:54] #274 closed

[2016-06-20 12:08] holgerd opened #309 "Places do not show up on map"
- I'm on one of these detail pages:
http://wheelmap.org/nodes/4254019058
http://wheelmap.org/nodes/3102724235
http://wheelmap.org/nodes/3102724233
I click on the Link "back" (not in the browser) to get to the map view where the place is on.

- I expect the place to be on the center of this map view when I zoom in to the maximum.

- Instead, there is no icon for this place at all.

The places in OS

[2016-06-21 12:45] schultyy commented on #297
Is now fixed with the Upgrade to Rails 4.1. Closing.

[2016-06-21 12:46] #297 closed

[2016-06-21 16:33] 1000miles commented on #282
Fixed in PR #312

[2016-06-21 16:33] #282 closed

[2016-06-22 08:57] holgerd opened #314 "add info on what kind of photos are wanted on wheelmap"
Svenja schreibt:

ich stelle immer öfter fest, dass die Mapper die Foto-Funktion nicht so benutzen, wie wir sie mal intendiert hatten. Dass Hotels Fotos nutzen, um einen Einblick in barrierefreie Zimmer zu geben, ist in Ordnung. In letzter Zeit häufen sich aber auch Landschaftsfotos, Bilder mit Logos und anderer Krams.

An der Stelle, wo man die Fotos hinzufügt, fehlt ein Infofeld, auf dem genau b

[2016-06-24 07:53] holgerd commented on #309
@1000miles can you look into this next week?
It may be a frontend problem that the nodes are not displayed in the map, maybe @lennerd can say more about that.

[2016-06-24 11:59] 1000miles commented on #309
@holgerd yes, will do. thanks for reporting this.

[2016-06-24 21:09] lennerd commented on #309
@1000miles From reading this my first guess is the tile loading. We only have limited amount of nodes per tile. So maybe they are too many places inside these tiles and therefore the node for the corresponding marker is not loaded.

Normally we send a `node_id` parameter to the server for defining a single node which should always be loaded. But I have the feeling, that this `node_id` is not handl

[2016-06-28 12:57] lennerd commented on #195
@1000miles @schultyy The team was giving feedback that it would be important for importing our data into the OSM that the provided street name cannot contain short version of `Straße` (e.g. `Str.`).

As we do the validation only on the server, I thought we maybe can add this validation there. What do you think?

[2016-06-28 13:45] lennerd commented on #137
We should deal with this problem. The current page is just a blank page with a header.

@1000miles @schultyy Is it possible to create a 404 page which is at the same time a 301 redirect? I thought about simply showing the map with a flash message.

[2016-06-28 15:12] schultyy commented on #137
You can either have a 404 or a 301 but not both at the same time.

[2016-06-28 15:41] schultyy commented on #137
One option here would be to show a 404 page with the image Holger posted or to have a 301 redirect with a flash notice afterwards that for example the node couldn't be found.

[2016-06-28 16:31] 1000miles commented on #309
@holgerd @lennerd

After our research we found out following:

**CIU CIU Bonbonmanufaktur**

poi with id `4254019058` has been deleted in the last 18 hours:
https://www.openstreetmap.org/node/4254019058 <=> http://wheelmap.org/nodes/4254019058
[code]
and has been replaced with following poi:
https://www.openstreetmap.org/node/4244739589 <=> http://wheelmap.org/nodes/4244739589

- [x] **status: not

[2016-06-28 16:32] lennerd commented on #309
@1000miles Please see my pull request which fixes this issue. #315

[2016-06-28 16:44] Xylakant commented on #137
You want a 404. A 301 only makes sense if we can actually redirect the user to a page that makes sense in the context. Delivering a 404 not only indicates to the user that the page does not exist, it also indicates to robots (think google) that the page does not exist. Returning a 301 would just be plain  wrong.

[2016-06-29 07:23] holgerd commented on #309
@lennerd at least with one POI the issue still exists:
I'm on one of these detail pages:
http://wheelmap.org/nodes/3102724233
I click on the Link "back" (not in the browser) to get to the map view where the place is on.
The pin does not show up.

[2016-06-29 07:27] holgerd commented on #195
Why would it be important?

In general I do not think it is wheelmap's job to validate these inputs. AFAIK no other OSM editor does this. OSM ist based on conventions, not validations. Instead, we could link to the wiki page explaining the tag.

[2016-06-29 07:28] lennerd commented on #195
Nice insights. Okay, that sounds like a good plan. Do you have a link we can use?

[2016-06-29 07:35] holgerd commented on #195
I guess it's adr:street on this page: http://wiki.openstreetmap.org/w/index.php?title=Key:addr&uselang=en-US

Notice there is no mention that abbreviations are unwanted.

[2016-06-29 08:24] holgerd opened #316 "Add notice "Zoom in closer to see all places""
Svenja suggests:

As a user who is looking for a place by zooming into the map, I am not aware that certain places appear only when I zoom in closest to the highest zoom level.

I would find it helpful to get informed of this particularity in a info bubble saying "Zoom in closer to see all places" that stays visible until the highest zoomlevel is displayed.

[2016-06-29 08:28] holgerd commented on #316
Zunächst müssen wir sicherstellen dass beim reinzoomen wirklich alle Orte auftauchen (siehe anderes issue: https://github.com/sozialhelden/wheelmap/issues/309 )

[2016-06-29 09:12] holgerd opened #317 "500 error on profile/after_signup_update"
Die Fehlermeldung kommt allerdings weiterhin beim erstmaligen Eintragen der E-Mail-Adresse auf http://wheelmap.org/profile/after_signup_edit (siehe Screenshots), obwohl hinterher korrekterweise ein Profil in der Admin-Ansicht angezeigt wird.

Anstatt "Sorry, something went wrong" müsste auf http://wheelmap.org/profile/after_signup_update ein positives Feedback hin bzw. sollte der User direkt in da

[2016-06-29 09:42] holgerd opened #318 "500 error when adding email in /profile"
- I'm logged in as OSM-user garfield771 on wheelmap.org and go to http://wheelmap.org/profile/edit . I add a valid email address garfield@mailinator.com in the email input field and click save
- I expect to see a confirmation that my changes were saed.
- Instead, I see a server 500 error and the URL in the address bar is http://wheelmap.org/profile

In /admin I see the last user who successfully a

[2016-06-29 09:43] holgerd commented on #318
maybe related: #317

[2016-06-30 12:29] holgerd opened #319 "get rid of the "Miscellaneous" category"
We feel the categorization is not adequate anymore. Also, having such a category is a sign of sub-par information design.

We need to figure out where to put the node types instead.

[2016-07-01 08:10] lennerd commented on #309
@holgerd We need to deploy this on production in order to know if it fixes the bug there. At the moment it is only deployed on staging.

[2016-07-01 08:40] holgerd commented on #309
Our general rule is to never deploy fridays. ;) How about next Monday or
Tuesday so you have time to revert/debug anything which may go wrong?

2016-07-01 10:10 GMT+02:00 Lennart Hildebrandt <notifications@github.com>:

[2016-07-01 08:41] lennerd commented on #309
Agree. Let's deploy on Monday then.

[2016-07-05 08:09] lennerd commented on #309
@holgerd PR is deployed. Issues seems to have fixed.

[2016-07-05 08:13] lennerd commented on #195
Okay, nice. So I will add the corresponding PR to review.

[2016-07-06 16:11] #195 closed

[2016-07-07 12:39] 1000miles opened #325 "Image/page caching expiration not working properly"
Regarding **image caching** I did another test on `staging`.

**Step 1:**
I go to poi `test`. It seems there are only 3 images on this poi. I do a page refresh to be sure.

![screen shot 2016-07-07 at 13 55 50](https://cloud.githubusercontent.com/assets/4077916/16652432/e8c963e6-444a-11e6-844d-c0da1ca8d400.png)

**Step 2:**
I click on `Hinzufügen` (4th thumbnail box) and upload my umbrella image
A

[2016-07-11 14:54] schultyy commented on #317
I checked the log file. That's the error:

[code]

[2016-07-11 15:53] schultyy commented on #318
Thuy and I tested on Staging and found out the following:
It seems to be the case that we run into some sort of timeout here because the unicorn worker gets killed after 30 secs and is restarted afterwards. The 502 occurs because the connection from Ngnix to Unicorn gets closed. The log has this error `upstream prematurely closed connection while reading response header from upstream`

[2016-07-12 08:21] lennerd commented on #316
#309 is fixed.

[2016-07-12 09:11] thermann78 opened #326 "SSL-Bug? Too many redirects on smartphone.php"
For some reason, our smartphone-switch doesn't work any more: community.wheelmap.org/smartphone.php won't open but quit with error "Could not be opened - too many redirects". I assume this comes from our switch to SSL.

Background: On our Wheelmap-Flyers we are using a QR-code leading to bit.ly/wheelmAPP, which redirects to community.wheelmap.org/smartphone.php.
This file basically catches the hea

[2016-07-14 12:26] holgerd commented on #309
@Svenyo says this is happening again. she'll post it here

[2016-07-14 12:44] Svenyo commented on #309
Einige Icons zu Ortstypen, die in der OSM sind und die wir unterstützen, werden noch immer nicht angezeigt. Betrifft: Lange Straße 48-53, 26122 Oldenburg

![bildschirmfoto 2016-07-14 um 14 39 55](https://cloud.githubusercontent.com/assets/20318534/16839761/176dc6b6-49d1-11e6-8200-5a9a084c4dab.png)

![bildschirmfoto 2016-07-14 um 14 39 00](https://cloud.githubusercontent.com/assets/20318534/1683977

[2016-07-14 12:46] lennerd commented on #309
1. We won't be able to fix this. But if you provide a node id in the URL as a query paramter, this node will be shwon.

2. This fix is not published on production yet. Did you check against staging?

[2016-07-14 12:54] Svenyo commented on #309
Oh, okay. On staging the situation looks slightly better. Randomly, one out of two nodes are displayed. However, shop=confectionery and shop=department_store for example are still gone missing.

[2016-07-14 13:05] lennerd commented on #309
They are missing completely everywhere on the map? Even in areas where there are only a few nodes?

[2016-07-14 13:17] Svenyo commented on #309
No. Node types that are shown on this special extract of the map are shown elsewhere.

[2016-07-14 13:18] lennerd commented on #309
No I mean if you can see nodes on our Wheelmap with the same node type or if this node type is not shown in the Wheelmap at all.

[2016-07-14 13:22] lennerd commented on #309
I sorry, I see, that you answered this question. Okay, than we have a problem with the limit of nodes per tile. I did not found a good solution for this without risking bad performance when there are multiple node tiles loaded on the screen.

Imagine we say 30 is the new limit. This maybe won't be enough in a few months. So either we change the limit again every time we see this problem or we chan

[2016-07-14 13:40] holgerd commented on #309
Idea: Can we increase the amount of nodes per tile dependent on the zoom level? eg. on maximum zoom level show everything (eg. 500 per tile) and on other zoom levels show much less?

[2016-07-14 13:41] lennerd commented on #309
This would be possible yes. Will look into this as soon as possible. I'm not quite sure yet how easy or difficult this will be with the current implementation.

[2016-07-15 07:16] holgerd opened #329 "/node_types - Numbers cut off in view"
When browsing to http://wheelmap.org/node_types using Firefox (Mac), I cannot read the "Amount" column in the table:

 <img width="1438" alt="bildschirmfoto 2016-07-14 um 15 54 23" src="https://cloud.githubusercontent.com/assets/218506/16866497/876de626-4a6c-11e6-94ab-32a0242c3fcc.png">

[2016-07-15 09:56] holgerd opened #330 "500 error when changing email address on profile/edit"
probably a duplicate to the other mailing issues, but this time on the profil edit page:

- I'm logged in on http://wheelmap.org/profile/edit and change my email to holger.dieterich+1@gmail.com or holgerdieterich@mailinator.com
- I expect to see a confirmation and get a confirmation email
- Instead, I wait for ca 30sec and then see "something went wrong"

- When I use mail@holger-dieterich.de it w

[2016-07-16 12:43] holgerd opened #331 "toilet=no an Objekten bei denen man keine Toilette erwartet"
Diskutiert in der talk-de Mailingliste von OSM:
https://lists.openstreetmap.org/pipermail/talk-de/2016-July/113238.html

Wegen Orten bei denen man keine Toilette erwartet (z.B. Denkmal):

Tatsächlich haben wir in den Wheelmap Apps (Web, iOS, Android und Windows10) den tag toilets:wheelchair einheitlich eingebaut und machen keine Fallunterscheidung. Offenbar taggen App-User daher so etwas statt es

[2016-07-18 12:51] #317 closed

[2016-07-18 13:00] 1000miles commented on #318
This issue is fixed in the PR #332.

[2016-07-18 13:00] #318 closed

[2016-07-18 13:04] 1000miles commented on #330
Yes, #330 is a duplicate of #318 and is now fixed in PR #332.

[2016-07-18 13:04] #330 closed

[2016-07-19 05:45] holgerd opened #334 "wheelchair-tag not shown on wheelmap, but toilet correctly shown"
- I'm OSM-user nanonan and  and mark the place  http://wheelmap.org/nodes/-239534993 using wheelmap as wheelchair=yes and toilet=yes
- I expect both to become "green" and the data to be saved in OSM
- Instead, I the wheelchair-tag stays unmarked/grey and only the toilet tag changes to green. But my changes have been written to OSM as I can see in this changeset: http://www.openstreetmap.org/change

[2016-07-19 06:00] holgerd commented on #334
Svenja schreibt:

ja, ich konnte den Bug gerade mit der Web-App reproduzieren:

Der POI hatte einen grünen Zugänglichkeitsstatus, als ich die Toilette grün markierte, wurde der Zigänglichkeitsstatus grau. Dann auch das Icon grau. Wenn ich jetzt auf das Icon klicke, wird beides grün angezeigt. Wenn ich die Bubble schließe, ist das Icon komplett verschwunden.

Siehe Screenshots.
![bildschirmfoto 201

[2016-07-19 06:02] holgerd commented on #334
@Svenyo Bei mir sieht der Freizeitpark ok aus. Ich habe eben danach gesucht in Wheelmap und auch gefunden und er ist grün/grün. http://wheelmap.org/nodes/1834315985

[2016-07-19 08:07] holgerd commented on #334
I notice the node-id in the wheelmap URL is negative, so I understand this is a POI which has been converted from a shape. Maybe this is related to this issue?

[2016-07-19 08:46] lennerd commented on #331
We could add an option to the admin/backend to define the availability of toilets.

[2016-07-19 11:39] 1000miles commented on #325
No image caching on staging anymore. On production this issue never happend so far.

[2016-07-19 11:39] #325 closed

[2016-07-19 11:49] thermann78 opened #335 "Issue with regions"
We have a new issues with our regions.
When I open for example http://wheelmap.org/map/berlin/theatre/wheelchair/yes, I get the reply "Could not find region berlin". Also, if I try to open http://wheelmap.org/admin/regions/berlin in the backend, this leads to an error 500. Can be reproduced with any region - and all regions exist, and the list views have been working so far.
This is a critical iss

[2016-07-19 12:30] lennerd commented on #331
We plan to stick with option 2.

Next steps:

* [ ] Wording and translations
* [ ] Extend dropdown in web app
* [ ] Extend dropdown and API in mobile apps (SMF)
* [ ] Extend jobs to handle/ignore "no toilet available" (see for example: https://github.com/sozialhelden/wheelmap/blob/master/app/jobs/update_tags_job.rb#L20-L75)
* [ ] Extend "unknown" filter to exclude POIs without any kind of toilet
*

[2016-07-19 13:10] 1000miles commented on #329
We did a bit of research and found out following:

The node_types page is cut off in Firefox because the column for icons is using the `img alt text` instead of the icons. In Chrome the icons are broken but they are displayed on the column.

Please see the difference:

![00000123](https://cloud.githubusercontent.com/assets/4077916/16950626/8e27e98c-4dc1-11e6-9c5e-607bfaa18cdf.png)

![00000124](htt

[2016-07-19 14:45] lennerd commented on #329
This does not use the icon sprite but the the `image_tag` helper. This returns the wrong path.

https://github.com/sozialhelden/wheelmap/blob/02412ab4465790ed6ab1c63171561e0013c6aab9/app/views/node_types/_node_type.html.haml#L7

For example: `/icons/dentist.png` instead of `/assets/icons/dentist.png`

[2016-07-19 14:46] lennerd commented on #329
I also would suggest to just remove the old icons with the color background which are not used anywhere anymore.

[2016-07-19 17:38] lennerd commented on #309
I wrote a quite extensive post about this topic and my research. Seems I did not submit it. 🎉 😑

Never the less, I think I was able to locate the error. The corresponding code is the following:

https://github.com/sozialhelden/wheelmap/blob/master/app/controllers/nodes_controller.rb#L225-L238

As the right, left, top and bottom parameters are rounded to some float values with a maximum of three de

[2016-07-19 18:15] holgerd commented on #309
You suggest to remove this code, right?

Will this ensure that all POIs show up in the closest zoom level?

[2016-07-19 18:21] holgerd commented on #335
That's bad.
@1000miles please look into this tomorrow first thing. Thanks.

[2016-07-19 18:58] christoph-buente commented on #309
Hi @all,

the code in question was meant to make bounding box queries more cacheble. Back then there was only one GeoJSON request for the full viewport. Moving the map 3 pixels to the side would then result in a new request with slightly different bounding box. And a cache miss.

During the hackathon, a slightly different approach was developed, that was somewhat mimicking tiles. But obviously the

[2016-07-20 07:45] lennerd commented on #309
I'm always confused by `unless`. Thanks @christoph-buente for the information.

@holgerd I'm not 100% sure unless we deploy my debug code to staging and production and look at the returned rectangles there. I would suggest to deploy the current debug code on both environments and see what happens. Okay?

The debug rectangles are only visible via a corresponding query parameter.

[2016-07-20 07:50] holgerd commented on #309
yes, please do and let me know what the parameter is so I can learn as well.

[2016-07-20 08:19] 1000miles commented on #335
Acknowledged. :)

[2016-07-20 09:48] Svenyo commented on #334
Hej, true, seems the tag is displayed correctly after some time again.

[2016-07-20 10:19] 1000miles commented on #335
Thanks for reporting, @thermann78 . :)
cc @holgerd

Wenn we call the page http://wheelmap.org/map/berlin/theatre/wheelchair/yes, we get a `400 Bad Request` (instead of 500 Internal Server Error).

![00000127](https://cloud.githubusercontent.com/assets/4077916/16982917/ad608aa0-4e72-11e6-9543-b173f23c9b9e.png)

Also when we call http://wheelmap.org/admin/regions/berlin, we get a `404 Not Found` err

[2016-07-20 11:34] thermann78 commented on #335
IDK if there is a connection between these issues, but I can collect some data from Librato: there have been data delivered considering the regions until 20th July - meaning today. Then the datastream seems to have ended: https://metrics.librato.com/share/dashboards/3wf885ot - at least it seems to have happened within the last few updates, I guess.

[2016-07-20 12:32] holgerd opened #339 "API returns "No data loaded" when running in simulator"
xpost from the wheelmap contact form.

Hi
I have created account and got API key. I have substituted API key constant in my iOS app(objective C) but when I run app in simulator, it says "No data loaded"
What am i missing?
Thanks
Arif

[2016-07-20 12:33] lennerd commented on #339
Can you ask Arif for his Github account?

[2016-07-20 12:34] holgerd commented on #339
Did already

[2016-07-20 14:36] holgerd commented on #334
happens on iOS as well; related?
https://github.com/sozialhelden/wheelmap-iphone2/issues/21

[2016-07-25 08:59] schultyy commented on #335
I deployed the fix for Active Admin on production.

[2016-07-25 09:08] schultyy commented on #335
@thermann78 The regions page is now back on the production system.

[2016-07-25 09:55] lennerd commented on #309
#338 seems to fix it.

![screenshot 2016-07-25 11 31 48](https://cloud.githubusercontent.com/assets/1609692/17097388/dc7b257c-525d-11e6-8087-c7b7b947cb73.png)

https://wheelmap.org/map#/?lat=53.139491950339256&lon=8.213489949703217&zoom=19

[2016-07-25 10:04] lennerd commented on #335
@thermann78 Can you show me the page, where you include the `node_type` pages? It would be much better to use the API for this so we do not produce such regression errors.

[2016-07-25 10:10] holgerd commented on #309
looks much better now!

![wheelmap_-_rollstuhlgerechte_orte_finden](https://cloud.githubusercontent.com/assets/218506/17098064/b625548a-5260-11e6-8907-f49808fb6c1b.png)

before: https://github.com/sozialhelden/wheelmap/issues/309#issuecomment-232654799

[2016-07-25 10:15] thermann78 commented on #335
The node_types aren't included anywhere. We link to the list results from travelable, e.g. http://berlin.travelable.info/project/essen-trinken-und-feiern-ohne-barrieren/

[2016-07-25 10:25] lennerd commented on #335
Ah okay, so you need a list of places without getting a very long post in travelable. I see.

Is there already an issue for the Widget embed view for suggesting the features you want to have to be able to add them to traveable?

The `category` API btw. does provide all `node_types`. Via the `node` API you can than filter by wheelchair status.

[2016-07-25 10:51] thermann78 opened #342 "Many hotels missing when zooming out filtered view"
I'd like to use the widget for a categorized map view in travelable. So I try to create an embed view with zoom factor 11 and filters on "Wheelchair:yes" and "Categories:Accomodation". Finally I get a map view with only 4 results for whole Berlin and surroundings, but if I use the list view I see that Berlin has 176 hotels (and also some hostels and such) that are accessible: http://wheelmap.org/m

[2016-07-25 10:52] thermann78 commented on #335
I just created an issue for the widget thing.

[2016-07-25 10:53] thermann78 commented on #342
In addition, it would be great if I could also filter by node_types, not only by categories!

[2016-07-25 12:17] #309 closed

[2016-07-25 12:56] lennerd commented on #342
Thanks for sharing. I will take a look into this a soon as possible. Not quite a plan yet how to fix this though without refactoring to much of the GeoJSON tile layer implementation.

@holgerd Do you have an idea?

[2016-07-25 13:29] holgerd commented on #342
@lennerd this is a great use case on why this needs refactoring. :)

[2016-07-25 15:02] #316 closed

[2016-07-25 15:14] holgerd opened #344 "If a translation is missing it should default to the English translation"
If a translation is missing it should default to the default translation which should be either German or English

This came up in
https://github.com/sozialhelden/wheelmap/pull/343#issuecomment-234968989

[2016-07-25 15:16] holgerd commented on #344
Reasoning: We must easily be able to find out what translations are missing. In Transifex missing strings are RED. If these are populated with english strings, this won't show up anymore. This risks that translations will be missing forever.

[2016-07-25 15:17] holgerd commented on #344
@Svenyo recommended this as well and mentioned that it is unclear if the default should be German or English. Please involve her as well in this issue.

[2016-07-25 15:31] lennerd commented on #344
I think English should be in every case the default language, as this is the most spoken language.

[2016-07-29 09:56] holgerd opened #345 "can not add place"
received today via the feedback form:

guten tag,
ich bin mehr als befremdet, dass es nicht möglich ist einen ort hinzuzufügen - ich gebe jetzt auf und werde sofern dies weiter nicht funktioniert in facebook stellen.

Man drückt auf speichern zuletzt aber es geht gar nichts.
Habe meinen Account kontrolliert und ollte selbstbestimmt leben in graz eingeben in der eggenberger allee 49 aber es speiche

[2016-07-29 09:58] holgerd commented on #345
Similar report from july 28:

Hallo liebes wheelmap-Team!
Ich habe jetzt leider schon seit längerem immer wieder Probleme, neue Orte auf der Karte einzutragen, bzw zu speichern. Nachdem ich alle Informationen eingegeben habe und auf speichern geklickt habe (bei dem neuen Eingabeformular), passiert einfach gar nichts. Ist so ein Problem vielleicht schon bekannt?

[2016-07-29 09:59] holgerd commented on #345
similar report from july 26:

Eine Funktion "neuen Ort hinzufügen" bei wheelmap funktioniert nicht. Habe mehrfach versucht einen neuen Ort einzutragen: Ruheplatzstraße 12, 13347 Berlin, Himmelbeet, voll Rollstuhlgerecht + Rollstuhlgerechtes WC, Urban Gardening Project...

[2016-07-29 10:03] holgerd commented on #345
Ich habe den Ort in Graz auf OSM gesucht und er scheint tatsächlich nicht eingetragen zu sein:
http://www.openstreetmap.org/edit?node=270508833#map=20/47.07036/15.40172

[2016-07-29 10:05] holgerd commented on #345
@lennerd Hab ein Problem gefunden in Wheelmap Webapp:

- Ich bin eingeloggt und lege einen neuen Ort an und durchlaufe die Schritte bis zur "Alle Eingaben Korrekt"-Seite: http://wheelmap.org/nodes/new/overview?node=%5Bobject%20Object%5D . Ich drücke auf "Speichern"
- Ich erwarte dass ich eine Bestätigung sehe dass gespeichert wurde
- Stattdessen passiert garnichts und ich bleibe auf der Seite

[2016-07-29 10:07] lennerd commented on #345
Like I wrote in Slack the problem is already solved on Staging. At the moment we have problems with the language strings inside the form. We are working on it.

[2016-07-29 12:37] holgerd commented on #345
I just re-tested it on staging now and it works.

[2016-07-29 12:40] holgerd commented on #345
ok ist zwar viel englisch auch in der frz version aber ich habe zumindest keine komischen keys gesehen. und es ging

[2016-07-29 19:19] holgerd commented on #345
It now works live. thanks @lennerd

@Svenyo Kannst du die Nutzer die sich beschwert haben bitte informieren?

[2016-07-29 19:19] #345 closed

[2016-07-29 19:33] holgerd opened #346 "add translations in the "add place" flow"
During the redesign of the http://wheelmap.org/nodes/new/name_category flow @lennerd added some new text and some of it is still in english/german only.

[2016-07-29 19:34] holgerd opened #347 "add selenium tests to "add place" flow"

[2016-07-29 20:04] holgerd commented on #335
The issue still persists sometimes.

Example:

- I'm on http://wheelmap.org/nodes/1390162166 and click on "All places of typ 'Gas station' in North America" in the right column of the page
- I expect to see a list
- Instead, I see "Could not find region north-america" and the URL is http://wheelmap.org/en/map/north-america/fuel/wheelchair/unknown

Same problem in San Francisco:
http://wheelmap.org

[2016-07-30 12:43] holgerd opened #348 "Eben angelegter Ort scheint wieder zu verschwinden"
iOS-Nutzer Ralf sagt: Eine Markierung die er gemacht hat war nach 5 min wieder weg (siehe Fotos). Papa Imbiss.

Papa Imbiss: Den habe ich angelegt und dann war er plötzlich zweimal drin und dann auch mal nicht. Laut http://www.openstreetmap.org/node/1642126638/history war er immer da aber viele Versionen habe ich generiert.

![111](https://cloud.githubusercontent.com/assets/218506/17270484/de1f93c

[2016-07-30 12:44] holgerd commented on #348
possibly related?
https://github.com/sozialhelden/wheelmap/issues/334

[2016-08-01 07:18] lennerd commented on #302
How do we proceed here?

[2016-08-01 07:27] holgerd commented on #326
lets have a look at this after we've moved to the new server (next week)

[2016-08-01 07:30] holgerd commented on #167
idea what to test:
maybe the uploader removed the photo afterwards and we do not do a proper cleanup afterwards (or the page is cached)?

[2016-08-01 07:31] holgerd commented on #348
possibly related? #170

[2016-08-01 07:45] holgerd opened #349 "Use mailgun for sending of transactional mails"
To ensure emails are delivered from the app to our users, I want to use a dedicated service to ensure the mails are not marked as spam.

Thuy suggested mailgun and Holger has setup an account (see 1pw)

[2016-08-01 07:46] holgerd commented on #170
related: #349

[2016-08-01 07:47] holgerd commented on #179
related: #349

[2016-08-01 08:08] lennerd commented on #344
I think this issue is based on a misunderstanding. @schultyy thought that our `js` based translation files we generate via `i18n:js:export` are coming directly from Transifex. Therefore he thought, that we fill in Englisch translations in Transifex when the current language translations are missing.

But the process is different. So again, yes, we us Transifex for translations.

These translations

[2016-08-01 08:12] lennerd commented on #349
@schultyy @1000miles Do you already have some test rutines or something to test new email providers?

@holgerd I do not have access to 1pw yet.

[2016-08-01 08:18] lennerd commented on #167
I'm quite sure that has something todo with he job queue. So pictures are not uploaded and transformed to other sizes immediately but instead are stored in a queue. If this queue is corrupted (e.g. by failing sync with the OSM import) it's possible that we also loose pictures in the process.

Maybe we can just clean up this node (via admin panel) and see if it happens again in the future.

[2016-08-01 09:44] lennerd commented on #344
I need to reopen this as I just realized, that missing translations in Rails (so coming from the YAML files) are actually filled with German.

This is not easy to fix, as the current default locale is also used for routing.

 https://github.com/sozialhelden/wheelmap/blob/02412ab4465790ed6ab1c63171561e0013c6aab9/lib/rack_i18n_locale_switcher.rb#L18-L25
https://github.com/sozialhelden/wheelmap/blob/

[2016-08-01 09:47] lennerd commented on #344
A good example from the new node photo upload alerts:

![screenshot 2016-08-01 11 46 35](https://cloud.githubusercontent.com/assets/1609692/17290218/ad45ebcc-57dd-11e6-8ec1-ce696c5b56cd.png)

There are no translations yet. So in this example visiting the Spanish page shows the German translation.

[2016-08-01 09:52] lennerd commented on #344
After a bit of testing I realized, that the URL part for the locale is not carried to next pages. So a locale is only added after the dropdown in the top right corner is used. Browsing to a new page will remove the locale but the language stays the same.

Maybe we then can use English as the default locale? Will make a PR for this. cc @holgerd

[2016-08-01 10:06] lennerd commented on #181
Cannot reproduce in Chrome and Firefox. Instead of seeing a second alert I get redirected to the map. @1000miles Does this issue still appear in your setup?

[2016-08-01 13:53] lennerd commented on #181
I will remove this alert as it simply shows the content also shown in a flash message on map after the redirect.

[2016-08-01 13:54] lennerd commented on #175
Do you created a new account or did you login with an existing one?

[2016-08-04 09:06] holgerd commented on #334
Can reproduce it on iOS app and website with 'malabar Brandenburg'

[2016-08-05 09:52] schultyy opened #351 "New logging strategy"
When the wheelmap application is going to be deployed on the new servers the logging strategy should be changed.
Right now the application logs to `log/production.log` or `log/staging.log` depending on the environment. We would like to change this to the following:

The application logs only to stdout and stderr respectively. Then via systemd we're able to capture the output and store it in the jo

[2016-08-05 10:11] schultyy opened #352 "Adapt unicorn script"
In order to be able to deploy on the new environment `config/unicorn.rb` must be changed.

- There's no need for an environment differentiation anymore
  - The application path doesn't need to reflect this anymore
  - Uniform timeout configuration
  - Uniform worker process configuration
  - Unicorn needs to listen to port 3000 and accept connections from other hosts

[2016-08-08 14:11] schultyy opened #354 "MySQL 5.7: rake db:migrate fails"
When we upgrade to MySQL 5.7 we do have some problems with the database:

When running `rake db:migrate`:
[code]

[2016-08-08 14:13] schultyy opened #355 "MySQL 5.7: Failing tests with Cannot get geometry object from data you send to the GEOMETRY field"
When running the tests with MySQL 5.7, we encounter the following error:

[code]

[2016-08-08 14:16] lennerd opened #356 "Creating, editing, marking places is not shown"
Since the 29.7. we have problems with creating, editing, marking places. We get many bug reports from users all over the world that places and changes for places are not shown on desktop and mobile devices while they are shown correctly on OSM.

**As I said this is the case since the 29th July and really urgent!**

From our Slack channel:

![pasted image at 2016_08_08 03_54 pm](https://cloud.githu

[2016-08-08 14:31] Svenyo commented on #356
Folgende Beispiele einer Nutzerin könnten darauf hinweisen, dass es mit dem Wheelchair-Toilet-Tag zu tun haben könnte, der in einigen Fällen angezeigt wird, der Wheelchair-Status-Tag aber nicht (siehe Issue #334).

Ich habe auf Wheelmap.org Punkte gefunden, wo die Rollstuhlgerechtigkeit von
nicht von OSM übernommen werden.
Es sind folgende Orte:
-Ich habe diesen Ort auf Wheelmap gefunden: Bio Hofl

[2016-08-08 14:33] Svenyo commented on #356
Aus der Mail einer Nutzerin in Peru:

- When qualified an existing site, the information is not saved. That place will remain in gray qualify despite trying several times. Even waiting a few days, still it appears in gray that place.
- When adding a new place, it is the same, the information is not saved. Even waiting a few days, still does not appear on the map added the new place.

All these pro

[2016-08-08 14:37] Svenyo commented on #356
Aus der Mail von Nutzer*innen in Japan (vom 6.8.2016):

Could you check the data server?

______

https://goo.gl/2xGWbR

this osm data is created about 17hours ago

it including

amenity=cafe
Wheelchair=no

it didnt show  in wheelmap
http://goo.gl/j3t5nN

[2016-08-08 20:46] Xylakant commented on #356
so the osm2psql import process is running but as metioned before we're running out of space on the fast disks, so it's slower than it used to be. setting up a new server is currently in the works but taking longer than we hoped for since the old server has been set up manually.

since the can be correlated with a deployment it would be good if someone could double check that the problem is not rel

[2016-08-09 08:41] Xylakant commented on #355
Can we identify the text representation of this polygon that we're trying to insert here?

[2016-08-09 10:23] Xylakant commented on #356
this mysql error looks like a plausible candidate:

Mysql2::Error: Incorrect key file for table './wheelmap_production/pois.MYI'; try to repair it: INSERT INTO `pois` (`osm_id`,`version`,`tags`,`geom`,`status`,`created_at`,`updated_at`,`node_type_id`,`region_id`,`toilet`) VALUES (4322711412,4,'---\nleisure: pitch\nname: Nan Shae Soccer Field (နန်းရှ့​ေဘာ​ေလုံးကွင်း)\nname:my: \"နန်းရှေ့ဘောလုံးကွင်

[2016-08-09 10:42] Svenyo opened #357 "Für Downtime während Serverumzug: Hinweis "Wheelmap.org ist im Read-Only-Betrieb""

[2016-08-09 10:43] Svenyo commented on #357
Genaues Wording auf Deutsch und Englisch kommt von @svenyo.

[2016-08-09 13:44] Svenyo commented on #334
I've just experienced another case: Re-editing the wheelchair tag from yes to limited and back to green again caused the toilet tag to switch to unknown. Please compare http://wheelmap.org/nodes/1336912426 with http://www.openstreetmap.org/node/1336912426.
On this occasion I've noticed the wrong toilet tag in the same OSM changeset.

![bildschirmfoto 2016-08-09 um 15 32 42](https://cloud.githubuse

[2016-08-09 14:55] holgerd commented on #334
This wrong tag was also mentioned here:
https://lists.openstreetmap.org/pipermail/talk-de/2016-July/113238.html

We should fix this soon and discuss with the OSM community if/how an automated correction of existing tags could be done.

[2016-08-09 17:06] Hoverbear commented on #354
Related to #355

[2016-08-09 17:15] Hoverbear commented on #355
Possibly relevant MySQL bugs:

* https://bugs.mysql.com/bug.php?id=79060
* http://stackoverflow.com/questions/34311195/mysql-import-cannot-get-geometry-object-from-data-you-send-to-the-geometry-fiel

The bug listed appears to have been closed however it doesn't seem like it was fixed.

[2016-08-09 21:48] Xylakant commented on #355
So the fundamental problem is that the data we're providing is a polygon which matches what we're trying to actually insert https://github.com/sozialhelden/wheelmap/blob/master/spec/factories/region_factory.rb#L5:

    mysql> SELECT ST_AsText(GeomFromWKB(0x00000000030000000100000005402a2d36f7e3d1cc404a2b463497b741402b8595feda6613404a2b463497b741402b8595feda6613404a567620ee8d11402a2d36f7e3d1cc404a5

[2016-08-09 22:06] Xylakant commented on #355
in the existing data we do have a mixture of polygon/multipolygon shapes. this makes things harder :(

[2016-08-10 04:51] Hoverbear commented on #355
It's reasonable to assume they should all be `multipolygon` if we do migrate? A single polygon is still a multipolygon, but a multipolygon is not always a single polygon.

[2016-08-10 06:55] Xylakant commented on #355
Probably migrating to geometry might be the better option if that's supported by the adapter and if we have a proper migration path there (for example it would need to be supported on some version that we can install so we can migrate the existing data in a controlled fashion)

[2016-08-11 15:46] Hoverbear commented on #355
I agree, there's definitely a more complicated migration needed once we know which way to go.

[2016-08-15 12:39] lennerd commented on #356
@Svenyo Whats the status here?

[2016-08-15 12:48] Svenyo commented on #356
Markings, edits and newly created places are displayed again without any further delay.

[2016-08-15 13:03] #356 closed

[2016-08-16 09:33] holgerd opened #360 "Use Digicert SSL Certificate for wheelmap.org (live)"
We are using cloudflare at the moment but have bought a SSL certificate from digicert in February.

I think we should use the SSL certificate we bought?

[2016-08-16 09:38] Xylakant commented on #360
we're currently not using the digicert certificate since we move pretty much everything under the cloudflare umbrella afterwards. we'd need a larger cloudflare plan to use our own certificate on CF.

[2016-08-17 07:12] holgerd opened #361 "502 Bad Gateway after signup on staging"
- I signup as new user holger@mailinator.com on staging. On "please add email" on wheelmap staging I add holger@mailinator and submit
- I expect to be logged in
- Instead, I get a 502 gateway error

find selenium test attached:
[seleniumtest - WM staging SignupAndDel holgermailinator.zip](https://github.com/sozialhelden/wheelmap/files/421944/seleniumtest.-.WM.staging.SignupAndDel.holgermailinator.

[2016-08-17 08:47] Svenyo commented on #357
@lennerd Ist es im Offline-Modus möglich, Orte zu suchen?

[2016-08-17 21:02] lennerd commented on #357
Die Suche läuft ja über Nominatim, also über einen externen Server. Soweit wäre das also möglich. Aber ohne noch mal genau im Code nachgeguckt zu haben, kann ich nicht sagen, ob wir Nominatim clientseitig verwenden können, da wir möglicherweise einen Authentication-Token benötigen, den wir nicht an den Clienten übergeben können.

Aber bevor ich mir zu viele Gedanken mache, warum fragst du @Svenyo?

[2016-08-23 12:59] Svenyo commented on #357
Hej @lennerd, ich frage deshalb, weil ich dann im Hinweis mit aufnehmen würde: "Du kannst weiterhin nach Orten suchen, markieren, editieren und hinzufügen ist im Moment jedoch leider nicht möglich". Denn die Frage ist ja: Was bedeutet Offline-Betrieb?

[2016-08-23 13:00] lennerd commented on #357
Offline Betrieb bedeutet, dass wir keine Rails-Applikation haben. Ich denke, eine einfache statische Seite reicht, oder? @1000miles Habt ihr schon eine ungefähre Ahnung, wie lange der Serverumzug mindestens dauert?

[2016-08-23 13:20] holgerd commented on #357
Vorschlag: Erst einmal ganz einfach eine statische Seite die geschaltet werden kann wenn Wheelmap down ist (also z.b. wenn ein Entwickler sie offline nimmt oder es einen 500er Fehler gibt).

z.B. in mehreren Sprachen: "Wheelmap has technical difficulties at the moment, the problem has been logged. Please check twitter for latest updates."

Und darunter einfach das Twitter-Widget vom Wheelmap-Accou

[2016-08-23 13:27] lennerd commented on #357
Find ich gut. Wann soll der Umzug stattfinden?

[2016-08-23 13:30] holgerd commented on #357
@lennerd siehe Slack

[2016-08-23 13:57] Xylakant commented on #357
Es können eigentlich im großen und ganzen vier Fälle auftreten:

1. Wheelmap ist ganz down. Nichts geht mehr.
2. Wheelmap ist read-only. Wir können Orte anzeigen und suchen, aber nicht eintragen oder ändern
3. Changes werden von wheelmap verarbeitet, aber der Transfer zur OSM ist gestört
4. Changes werden von wheelmap verarbeitet und zur OSM übertragen, aber der Transfer von der OSM zu uns ist ges

[2016-08-24 06:57] holgerd opened #365 "500 error when submitting /admin/providers/new"
- I login as admin to /admin
- I go to http://wheelmap.org/admin/providers/new and give a test name and select a 44x44 icon (see billa_png.png attachment)
- I expect the new provider to be created
- Instead, I see a "Something went wrong" error

![billa_png](https://cloud.githubusercontent.com/assets/218506/17921138/c2f196a8-69d8-11e6-8056-d756170e3b71.png)

[2016-08-24 10:52] holgerd opened #366 "language dropdown unreadable in narrow browser"
![wheelmap_-_rollstuhlgerechte_orte_finden](https://cloud.githubusercontent.com/assets/218506/17928104/6bc835dc-69f9-11e6-9ab6-8002f28c0abb.png)

- I'm in Firefox or Chrome mac and make the window narrow.
- I expect the language dropdown to "drop down"
- Instead, it "drops upward" (See screenshot) so I can not select a different language

[2016-08-24 11:31] holgerd opened #367 "For Wordpress Relaunch: RoR Design and Domain preparations"
We plan to restructure Wheelmap's content section (which will still be managed using Wordpress). We still aim for these to be as independent as possible from RoR but some dependencies remain.

In this issue I want to collect all dependencies and tasks regarding this.

Tasks for Backend and Ruby on Rails (RoR) App (Asquera)
=======

URLs
-----
high prio
- [x] search for all links within the rails a

[2016-08-24 12:05] thermann78 commented on #367
WP: Ensure to have a complete (!) cPanel-Backup available in case that sth goes wrong.
At the current, **we have no scheduled backup-solution** (*) so please manually start a complete backup before any WP-changes or inform me and wait until my final "Go"!

(*) Yes, we had one, but it never worked satisfying so I decided to not renew the contract and look for another solution - this is still in pro

[2016-08-25 10:10] holgerd commented on #367
@Svenyo + Jonas:
Alle URLs in der RoR-App die bisher auf community.wheelmap verweisen:
https://github.com/sozialhelden/wheelmap/search?utf8=%E2%9C%93&q=%22community.wheelmap.org%22

Diese sollten nach dem Umzug auf jeden Fall unter erreichbar bleiben (aber halt unter news.wheelmap...)

[2016-08-25 10:19] holgerd commented on #101
closing this in favor of #367

[2016-08-25 10:19] #101 closed

[2016-08-25 10:44] Xylakant commented on #367
@holgerd, @Svenyo: Es sollte unbedingt darauf geachtet werden, dass der host für community.wheelmap.org auf news.wheelmap.org redirected. Wir können zwar unsere eigenen Links anpassen, aber nichts was extern irgendwo gesetzt wurde und auf community.wheelmap.org verweist. Wenn wir nicht redirecten zeigt das alles in Nirvana und das wäre unhöflich.

[2016-08-25 10:51] holgerd commented on #367
@Xylakant Wenn ich das richtig verstehe werden die Wheelmap-DNS-Einträge in cloudflare gemacht für community.wheelmap.org und so.

Ich traue mir nicht zu daran rumzumachen, es wäre gut wenn ihr uns dabei unterstützen könntet. Zugang habt ihr ja via 1p Tresor.

[2016-08-25 10:52] Xylakant commented on #367
das hat erst mal nichts mit DNS zu tun.

[2016-08-25 10:52] holgerd commented on #367
Da siehts Du wie wenig Ahnung ich davon habe ;)

[2016-08-25 10:53] Xylakant commented on #367
:)

[2016-08-25 10:55] Xylakant commented on #367
DNS ist erstmal nur die Auflösung von community.wheelmap.org zu einer IP-Adresse (der passende Vergleich ist im Telefonbuch deine Nummer nachschlagen). Der Eintrag muss auf jeden Fall erhalten bleiben.

Alles weitere (Weiterleitungen etc) passieren später. Eventuell können wir die Weiterleitungen auch in Cloudflare machen, aber das ist ne andere Kiste.

[2016-08-25 12:02] thermann78 commented on #367
IIRC findet in der Nginx-Config ein zusätzlicher Redirect statt. Bitte das auch unbedingt vorab prüfen. Ich bin mir nicht mehr sicher, wie genau Requests verlaufen.
Soweit ich mich erinnere, war der Flow NS (Planetary) -> Cloudflare -> Domain-Proxy Spiderman Nginx -> WordPress (Planetary) -> Startseite Map. Ausnahme: community.wheelmap.org lässt den Step über Spiderman aus und läuft direkt auf Pla

[2016-08-25 12:03] Xylakant commented on #367
nein. Es gibt einen proxy für die startseite, aber die soll eh weg.

[2016-08-25 12:05] thermann78 commented on #367
Sprich, wheelmap.org soll direkt auf die Map führen und news.wheelmap.org auf den Content?
Dann greift Punkt 1. und 2., 3. entfällt dann.

[2016-08-25 12:06] Xylakant commented on #367
so in https://github.com/sozialhelden/wheelmap/issues/51 gewünscht, ja

[2016-08-25 12:09] thermann78 commented on #367
Find ich auch sauberer. Gut, ist korrigiert :)

[2016-08-25 12:13] thermann78 commented on #367
Okay, wir haben hier ein Problem: in unserem cPanel ist community.wheelmap.org als Stamm-Domain festgelegt. Ich muss mit Dennis besprechen, wie wir das am besten lösen - ob wir ggf. den Account als news.wheelmap.org klonen oder ob es andere Lösungen via cPanel gibt...

[2016-08-25 13:15] Xylakant commented on #367
@holgerd #101 was removed from this issue, ("Closing in favor of"), but the tasks in #101 haven't been moved to this issue. was that on purpose?

[2016-08-25 19:02] holgerd commented on #367
@Xylakant Goot point. I added two low prio tasks from #101 but the rest is obsolete or already in this issue #367

[2016-08-25 19:03] holgerd commented on #367
@1000miles notice I changed one task in this issue. It was described wrongly by myself:

- [ ] Change all links from community.wheelmap.org to new URLs according to a spreadsheet list @Svenyo will attach to this issue (the whole URLs will change, not just the subdomain)

was: ~~Change all links from community.wheelmap.org to news.wheelmap.org in the code~~

[2016-08-26 07:03] Hoverbear commented on #367
Are we still waiting for the spreadsheet from @Svenyo ?

[2016-08-26 07:10] Hoverbear commented on #367
This should be fine as far as I can tell. So long as the domain has a valid certificate.

[2016-08-26 07:14] holgerd commented on #367
@Hoverbear I added a new task. AFAIK configuring the new subdomain is also something we need your help with.

I guess you'll need the IP address of the wordpress server to point this subdomain to?

[2016-08-26 07:15] Xylakant commented on #367
In general http -> https and https -> https redirects are fine. https-> http is not.

Sent from my iPhone

[2016-08-26 07:24] Hoverbear commented on #367
@holgerd Yes please the IP or a canonical address of some kind.

[2016-08-26 07:29] Xylakant commented on #367
It's whatever community.wheelmap.org points to.

Sent from my iPhone

[2016-08-26 07:34] Hoverbear commented on #367
Okay so this is 104.25.11.112. :)

[2016-08-26 07:42] Xylakant commented on #367
No, but you can't look that up either

Sent from my iPhone

[2016-08-26 08:17] Xylakant commented on #367
@holgerd I created the nameserver entry and it points to the community/wordpress server. Anything beyond that is something I can't help with.

[2016-08-26 11:44] 1000miles commented on #51
I checked the current state of the locale redirects on the wheelmap.org.

**In case it may help, here is an overview:**

* de.wheelmap.org (german) => currently redirects to http://wheelmap.org/map
* en.wheelmap.org (english) => currently redirects to http://wheelmap.org/en
* it.wheelmap.org (italian) => currently redirects to http://wheelmap.org/it
* is.wheelmap.org (icelandic) => currently redir

[2016-08-26 12:03] 1000miles commented on #367
As discussed on Slack today, we will put this task `on hold` until the new URLs are working on the wordpress administration part.

[2016-08-26 19:45] thermann78 commented on #367
@Hoverbear all our WordPress-instances are on 5.57.41.58, right.

[2016-08-29 10:11] Hoverbear commented on #367
@thermann78 Great thanks!

[2016-08-29 12:25] lennerd commented on #366
Did you try to reload the page after resizing the window?

[2016-08-29 14:19] Svenyo opened #368 "In OSM deleted entries still shown on Wheelmap"
@1000miles:

Diese 3 grün markierten Orte sind Dubletten von grauen Orten und werden in der OSM bereits als gelöscht angezeigt, in der Wheelmap existieren sie weiter.

http://wheelmap.org/nodes/-430417027
http://wheelmap.org/nodes/-430407303
http://wheelmap.org/nodes/-430406408

Es scheint daher weiterhin ein Sync-Problem zu geben, obwohl die Datenbank im Backend die aktuellen POIs (- 2 Stunden) a

[2016-08-29 14:40] lennerd commented on #176
@1000miles Do you know if this also changes the password for the backend?

[2016-08-30 12:17] holgerd commented on #54
btw: I can already see the new node types on https://staging.wheelmap.org/node_types

[2016-08-30 12:26] holgerd commented on #368
for reference:

http://www.openstreetmap.org/way/430417027/history
http://www.openstreetmap.org/way/430407303/history
http://www.openstreetmap.org/way/430406408/history

[2016-08-30 12:33] holgerd opened #369 "add monitoring to OSM syncing"
In July it appened that the sync between Wheelmap and OSM did not work for a few weeks, which lead to inconsistencies between the two databases.

Add monitoring/alerts to this sync service so we learn sooner if that happens again and can act upon it.

[2016-08-30 13:11] holgerd opened #370 "Add user infos to bug reports (mailto:)"
As a community supporter I want to have additional user infos when receiving a bug report via email, so I can help the user much faster.
- user clicks "report bug" (does not exist yet)
- new email opens (mailto:)
- starting text: 'please describe info here but only in German or English please'
- the mail is also pre-filled with additional info:
  - operating system
  - browser version
  - is user